[2017-02-24 10:49] lixiangers opened #333 "NullPointerExceptionl when reconnect"
Bug exists Release Version 1.1.0 ( Master Branch)

java.lang.RuntimeException: Error receiving broadcast Intent { act=android.net.conn.CONNECTIVITY_CHANGE flg=0x4000010 (has extras) } in org.eclipse.paho.android.service.MqttService$NetworkConnectionIntentReceiver@419edd30
	at android.app.LoadedApk$ReceiverDispatcher$Args.run(LoadedApk.java:769)
	at android.os.Handler.handleCallback(Handler.java:73

[2017-02-24 13:18] jpwsutton commented on #333
@lixiangers This looks like an error from the Android service and looks like it's a duplicate of this issue: https://github.com/eclipse/paho.mqtt.android/issues/101 Could you confirm that this happens on the latest build of the Android Service please? If the problem persists you could post [here](https://github.com/eclipse/paho.mqtt.android/issues/187) where another user is reporting the same issu

[2017-02-24 13:18] #333 closed, assigned to nobody

[2017-02-27 02:19] lixiangers commented on #333
@jpwsutton the build of Android Sevice is 1.1.1
Gradle setting:
  compile 'org.eclipse.paho:org.eclipse.paho.client.mqttv3:1.1.0'
  compile 'org.eclipse.paho:org.eclipse.paho.android.service:1.1.1'

[2017-02-28 11:46] holyjak opened #335 "Paho breaks SSL in a strange way, leading to a handshake_failure with a HTTP CONNECT proxy"
I can successfully connect to a MQTT server through a HTTP proxy supporting `HTTP CONNECT` thanks to a custom `SocketFactory` when creating sockets and sending HTTP requests manually. So it should also work with Paho - but it doesn't. Paho's attempt to connect ends up with a

So I guess Paho does something strange to the JVM's SSL setup. The error doesn't contain enough details and I don't know Pa

[2017-03-01 09:54] jpwsutton commented on #335
Hi @jakubholynet,

The `javax.net.ssl.SSLHandshakeException: Received fatal alert: handshake_failure` would suggest that the issue is related to the SSL connection itself. Paho does not do anything with the SSL connection and simply hands over to the Java SSL Socket implementation.

A good place to start would be to run the code using the javax.net.debug flag: `mvn exec:java -Djavax.net.debug=SSL,

[2017-03-01 14:35] ghost commented on #335
Hi @jakubholynet,

I tested your example project.
In your SSLTunnelSocketFactory in line 233 you try to start an SSL handshake on this connection (https://github.com/jakubholynet/paho-handshake-error/blob/master/src/main/java/experiment/tunnel/SSLTunnelSocketFactory.java#L233)

After removing this (result.startHandshake();) your example works fine behind my http/https proxy.

[2017-03-01 19:07] holyjak commented on #335
Thanks a lot @mgedack , that simple fix works! Awesome, I would have never figured it out!

[2017-03-01 19:07] #335 closed, assigned to nobody

[2017-03-08 18:23] carlos-lacerda commented on #330
Hi @ctron , I'm using the client mqtt.java version 1.0.2 and facing this same error you have found.
I'm looking for a workaround before your PR with fix be accepted. In you case, you builded your own version with fix to solve the problem or did other approach? I'm thinking about to use your fix and build a temporary version or maybe start an anonymous thread that tries close the connection or do t

[2017-03-09 08:43] afarber opened #336 "How to detect “Connection refused” when using MqttAsyncClient with no automatic reconnect?"
[paho0.txt](https://github.com/eclipse/paho.mqtt.java/files/830222/paho0.txt)

Good morning!

I am using Eclipse Paho Java Client **version 1.1.0** to connect. Here is my extended callback:

[code]

And here is my connecting code:

[code]

I do not use the automatic reconnect feature, but would like to handle reconnecting in my own custom code, since I need custom delays.

For testing purposes I d

[2017-03-09 11:38] afarber commented on #336
Maybe the following code should be added to [ConnectionActionListener.java](https://github.com/eclipse/paho.mqtt.java/blob/master/org.eclipse.paho.client.mqttv3/src/main/java/org/eclipse/paho/client/mqttv3/internal/ConnectActionListener.java):

[code]

[2017-03-09 14:02] miketran78727 commented on #336
Check out this test:

Connect listener:
https://github.com/eclipse/paho.mqtt.java/blob/master/org.eclipse.paho.client.mqttv3.test/src/test/java/org/eclipse/paho/client/mqttv3/test/SendReceiveAsyncCallbackTest.java#L250

Call connect with the listener:
https://github.com/eclipse/paho.mqtt.java/blob/master/org.eclipse.paho.client.mqttv3.test/src/test/java/org/eclipse/paho/client/mqttv3/test/SendRece

[2017-03-09 14:05] afarber commented on #336
It seems to me that the both tests do not test for my case (trying to connect to localhost while no broker is listening, detecting "conection refused").

[2017-03-09 14:54] miketran78727 commented on #336
Have you tried the code to see what exception you would get in your onFailure() callback?

[2017-03-09 15:14] jotish opened #337 "NPE"
Please fill out the form below before submitting, thank you!

- [x] Bug exists Release Version 1.1.0 ( Master Branch)
- [ ] Bug exists in Snapshot Version 1.1.1-SNAPSHOT (Develop Branch)

<img width="768" alt="screen shot 2017-03-09 at 8 38 42 pm" src="https://cloud.githubusercontent.com/assets/3390136/23756240/0d1506b8-0509-11e7-8bc4-7ff0882afe89.png">

FIX

`MqttAsyncClient.java:1120`
[code]

[2017-03-09 16:03] jpwsutton commented on #337
Hi,

This has already been fixed in the develop branch: https://github.com/eclipse/paho.mqtt.java/blob/develop/org.eclipse.paho.client.mqttv3/src/main/java/org/eclipse/paho/client/mqttv3/MqttAsyncClient.java#L1216

You can get this fix by using a SNAPSHOT build or, by waiting for a service release that is due in the next week or so.

[2017-03-09 16:03] #337 closed, assigned to nobody

[2017-03-10 06:04] jotish commented on #337
@jpwsutton Thanks for the update.

[2017-03-10 09:15] afarber commented on #336
Yes, onFailure() is called, but I have an impression that connectionLost() should be called too.

[2017-03-13 02:40] huyuemiss opened #338 "Where is the ClientComms.class?"
Please fill out the form below before submitting, thank you!

- [ √] Bug exists Release Version 1.1.0 ( Master Branch)
- [√ ] Bug exists in Snapshot Version 1.1.1-SNAPSHOT (Develop Branch)

I got source code from Maven and it exists, but I can't find is on the github. What's happen..

![image](https://cloud.githubusercontent.com/assets/7851267/23839472/4f2dbefa-07d9-11e7-9a5e-4dad36f236c3.png)

![

[2017-03-13 08:50] jpwsutton commented on #338
Hi, ClientComms is a bit of an odd one. It lives on it's own in the java-templates directory [here](https://github.com/eclipse/paho.mqtt.java/blob/develop/org.eclipse.paho.client.mqttv3/src/main/java-templates/org/eclipse/paho/client/mqttv3/internal/ClientComms.java). There was a reason I'm sure of it, but I have no idea what it is. Either way, we don't really want to move it as it would count as

[2017-03-13 14:21] BojanSM opened #339 "Connecting for the first time - reconnect"
- [ ] Bug exists Release Version 1.1.0 ( Master Branch)
- [ ] Bug exists in Snapshot Version 1.1.1-SNAPSHOT (Develop Branch)

According to James's comment over [here](https://github.com/eclipse/paho.mqtt.java/issues/9#issuecomment-197361273), this is not supported, but I need this functionality in our application. For example, on application startup, we didn't have network connection, but after 30

[2017-03-14 07:56] LuckyH28 opened #340 "SUB:The topic name MUST NOT contain any wildcard characters (#+)"
MqttTopic.validate(String topicString, boolean wildcardAllowed)
Why the value of  wildcardAllowed is fixed and equal to 'false'?

[2017-03-14 09:16] jpwsutton commented on #340
You cannot publish to a wildcard topic. It is only fixed to false when validating topics that will be published to. In the case of subscriptions, the flag is set to true to allow wildcards.

[2017-03-15 01:39] LuckyH28 commented on #340
when debugger ,find that the value is fixed to false whether to publish a topic or subscribe a topic.
Confirm source code as well.
The use of jar is org.eclipse.paho.client.mqttv3-1.1.0.jar

[2017-03-15 03:31] huyuemiss commented on #338
OK,thanks for your help

[2017-03-15 03:31] #338 closed, assigned to nobody

[2017-03-15 11:32] jpwsutton commented on #340
Could you link to the line in the code where you see this please?

[2017-03-15 11:43] LuckyH28 commented on #340
-
![wildcard--fixed false](https://cloud.githubusercontent.com/assets/17567078/23946960/84e528a0-09b7-11e7-913d-a74749520952.png)

[2017-03-15 11:50] jpwsutton commented on #340
getTopic is only used when checking if a topic is valid to publish to: https://github.com/eclipse/paho.mqtt.java/blob/master/org.eclipse.paho.client.mqttv3/src/main/java/org/eclipse/paho/client/mqttv3/MqttAsyncClient.java#L705

[2017-03-16 11:18] KohliDev opened #341 "How to disable the server certificate validation in case of connection to port 8883 of broker"
Please fill out the form below before submitting, thank you!

- [Yes ] Bug exists Release Version 1.1.0 ( Master Branch)

Can someone guide me how to disable certificate validation of server as well as avoid passing client certificate while making SSL connection to broker?

[2017-03-16 14:38] cemakpolat commented on #322
Do we have still the same issue? I am trying to use ipv6 remote address, but I receive "Invalid argument" from the console, however, it works when we uses "::1" local ipv6 address. I am using by the way not java but python version of paho

[2017-03-17 01:45] #340 closed, assigned to nobody

[2017-03-17 09:42] jpwsutton commented on #322
@cemakpolat You'll probably want to ask this on the Python project then: https://github.com/eclipse/paho.mqtt.python :)

[2017-03-17 10:10] DavidMont opened #342 "at org.eclipse.paho.client.mqttv3.internal.ClientComms$ConnectBG.run(ClientComms.java:650) 03-17 18:07:57.651 28073-29356/com.workforce.agent W/System.err: at org.eclipse.paho.client.mqttv3.internal.TCPNetworkModule.start(TCPNetworkModule.java:70)"
- [x] Bug exists Release Version 1.1.0 ( Prev-Master Branch)
- [x] Bug exists Release Version 1.1.1 ( Master Branch)
at org.eclipse.paho.client.mqttv3.internal.ClientComms$ConnectBG.run(ClientComms.java:650)
03-17 18:07:57.651 28073-29356/com.workforce.agent W/System.err:     at org.eclipse.paho.client.mqttv3.internal.TCPNetworkModule.start(TCPNetworkModule.java:70)

When I toggle the wifi or data

[2017-03-17 10:33] jpwsutton commented on #342
Hi, before we can take a look at this, could you check if this bug exists in the snapshot builds from the develop branch, and also provide an actual stack trace of the error.

[2017-03-20 02:10] DavidMont commented on #342
do you mean testing for v1.1.1? other than that is it ok to ask if there si change between here ```TCPNetworkModule.java:70``` ?

[2017-03-20 12:39] miketran78727 commented on #341
Most MQTT brokers provide at least one non-secure port.  Why do you want to connect to a secure port without using TLS?  If you have a good reason, please explain.

[2017-03-20 14:56] miketran78727 commented on #339
I am not familiar with the scheduler package that you are using.  Is it from this repository : https://github.com/ReactiveX/RxJava ?
If you use standard Java Timer, https://docs.oracle.com/javase/7/docs/api/java/util/Timer.html, you can cancel the timer in onSuccess() callback.

[2017-03-21 05:21] DavidMont commented on #342
I replicated the issue on version 3 1.1.1, but will test again on development branch

[2017-03-21 05:23] DavidMont commented on #342
Happens when still connecting but the app(android app ) is closed AND cant connect to internet, and when trying to connect again
[code]

`org.eclipse.paho.client.mqttv3.internal.TCPNetworkModule.start(TCPNetworkModule.java:70)` endless loop of error occurs when it should behave to just do nothing when it cannot connect.

[2017-03-22 22:48] orrsella opened #343 "Version 1.1.1 isn't found in Maven Central"
The latest version 1.1.1 doesn't seem to be available in Maven Central:

http://repo1.maven.org/maven2/org/eclipse/paho/org.eclipse.paho.client.mqttv3/

Is that on purpose?

[2017-03-23 08:39] jpwsutton commented on #343
Currently having some issues with out hudson build that stages it on the OSSRH, will update this issue once we have successfully deployed it.

[2017-03-23 09:01] fbeister opened #344 "broken broker sending MsgID 0 can kill PAHO client with "out of new message IDs""
- [X] Bug exists in 1.1.1-SNAPSHOT from 20170320

The Moquette broker had an issue where under some circumstances it was sending messages with ID=0 (see https://github.com/andsel/moquette/pull/286).

If it was sending a QoS1 PUBLISH with ID=0, the PAHO client would create a new MqttPubAck which also has ID=0 which would (in the send method) then be seen as "we need a new ID!" - that new ID is neve

[2017-03-23 14:54] jpwsutton commented on #343
v1.1.1 is now available on both repo.eclipse.org and Maven Central: https://search.maven.org/#artifactdetails%7Corg.eclipse.paho%7Corg.eclipse.paho.client.mqttv3%7C1.1.1%7Ceclipse-plugin

[2017-03-23 14:54] #343 closed, assigned to nobody

[2017-03-23 14:57] jpwsutton commented on #341
If you really want to do this, you would need to create your own socket factory that ignores the server certificate. You can do this by using MqttConnectOptions.setSocketFactory(SocketFactory).

[2017-03-23 20:48] orrsella commented on #343
Thanks!

[2017-03-24 14:16] jpwsutton commented on #309
Hi @milosjovac, did you find using TLSv1.2 fixed your problem?

[2017-03-24 14:22] Typhlosaurus opened #345 "Regression: 1.1.1 fails to connect to AWS IOT over TLS; works with 1.1.0"
- [Yes ] Bug exists Release Version 1.1.1 ( Master Branch)
- [ Yes] Bug exists in Snapshot Version
Version 1.1.2-SNAPSHOT (Develop Branch) (currently identical to 1.1.1)

MQTT newby here...

Using the amazon sdk to communicate with the AWS IoT server using MQTT over TLS in eu-west-1 has started to fails since 1.1.1 of paho.mqhtt.java was released.  When attempting to connect a 403 is reported (act

[2017-03-24 14:31] jpwsutton commented on #313
Hi @ppatierno, did my above comment solve your issue?

[2017-03-24 14:42] jpwsutton commented on #345
Could this be related to: https://github.com/aws/aws-iot-device-sdk-java/issues/5

[2017-03-24 14:48] Typhlosaurus commented on #345
@jpwsutton  I doubt it as the exception is different (my apologies: I added the exception details after you wrote your comment) and I do not need to disconnect/reconnect the network to generate the error - it happens whenever I try to connect using 1.1.1 (and has been reproduced in 3 environments - developer running on MacOs, developer on Windows and build server running linux).

[2017-03-24 15:42] jpwsutton commented on #323
Hi @xboss, sorry for the delay. What server are you using?

[2017-03-24 15:57] jpwsutton commented on #342
Ah, are you using the Android library? or the pure Java client for this?

[2017-03-24 20:30] miketran78727 opened #346 "maven local build failure in org.eclipse.paho.mqtt.utility"
Please fill out the form below before submitting, thank you!

- [ x ] Bug exists Release Version 1.1.1 ( Master Branch)

[INFO] Eclipse Paho ....................................... SUCCESS [  0.442 s]
[INFO] org.eclipse.paho.client.mqttv3 ..................... SUCCESS [  8.265 s]
[INFO] org.eclipse.paho.client.mqttv3.test ................ SUCCESS [  1.140 s]
[INFO] org.eclipse.paho.client.eclipse.

[2017-03-24 21:05] miketran78727 commented on #346
I submitted pull request #347

[2017-03-27 09:58] #38 closed, assigned to nobody

[2017-03-27 10:48] ctron commented on #330
@carlos-lacerda Yes, I am using a locally built version.

I didn't have much time right now to look into this. But I probably will do this in the nearer future.

[2017-03-27 16:16] #346 closed, assigned to nobody

[2017-03-29 02:18] DavidMont commented on #342
the pure java client.

[2017-03-29 07:43] sandyperez commented on #345
Same problem here, downgrading to version 1.1.0 solves it. Best regards.

[2017-03-29 12:42] jpwsutton commented on #342
Could you enable logging and capture logs covering this event please? https://wiki.eclipse.org/Paho/Log_and_Debug_in_the_Java_client

[2017-04-03 10:14] jvelo opened #348 "After automatic reconnection, client appears connected but messages to publish keep getting buffered"
- [x] Bug exists Release Version 1.1.1 ( Master Branch)
- [ ] Bug exists in Snapshot Version 1.1.2-SNAPSHOT (Develop Branch)

We're using eclipse.paho.client.mqttv3 1.1.1 and observe the following (rare) behavior :

Sometimes, after an automatic reconnection to the broker, the client appears connected anew (isConnected() returns `true`) but new messages keep getting buffered (buffer queue continue

[2017-04-03 14:28] on-delete commented on #348
We are using paho in version 1.0.2 and we can observe this issue too. From the paho log we saw, that the subscription ACK was received from the mqtt broker, but after that no messages are received from the client. So maybe the paho client could be cached in a while loop or something that prevents the client from receiving new messages?

Our workaround for this issue is, that we subscribe the clien

[2017-04-04 07:29] NampyoJeong opened #349 "ConnectionLost from Websocket"
Please fill out the form below before submitting, thank you!

- [v] Bug exists Release Version 1.1.1 ( Master Branch)
- [ ] Bug exists in Snapshot Version 1.1.2-SNAPSHOT (Develop Branch)

wss://iot.eclipse.org:443/ws
ws://iot.eclipse.org:80/ws

I tried both of these URLs, but I could not connect them.
With the same settings, it works fine in 1.1.0 version but it does not work in 1.1.1 version.

Th

[2017-04-05 15:03] ilDirettore opened #350 "how to add that library to a gwt project ??"
thanks ! :D

[2017-04-06 20:35] prmathur-microsoft opened #351 "Peer verification using certificates"
Please fill out the form below before submitting, thank you!

- [ ] Bug exists Release Version 1.1.1 ( Master Branch)
- [ ] Bug exists in Snapshot Version 1.1.2-SNAPSHOT (Develop Branch)

If this is a bug regarding the Android Service, please raise the bug here instead: https://github.com/eclipse/paho.mqtt.android/issues/new

I’m using MQTT paho java for my device SDK developed at Microsoft. My Io

[2017-04-07 09:37] matsukaz opened #352 "Isn't it nice to support message buffering before initial connect ?"
Hi, I'm currently using paho.mqtt.java/paho.mqtt.android for Android App and also https://github.com/ckrey/MQTT-Client-Framework for iOS App.

MQTT-Client-Framework is supporting message buffering not only when connection is reconnected but also before initial connect.
This means after you create MqttAsyncClient instance, you can publish any messages even if connection is not yet established.

I'v

[2017-04-07 10:33] jpwsutton commented on #351
You should be able to do this by either supplying your own TLS Socket Factory (https://www.eclipse.org/paho/files/javadoc/org/eclipse/paho/client/mqttv3/MqttConnectOptions.html#setSocketFactory-javax.net.SocketFactory-)

Or by setting the SSL Properties(https://www.eclipse.org/paho/files/javadoc/org/eclipse/paho/client/mqttv3/MqttConnectOptions.html#setSSLProperties-java.util.Properties-)

[2017-04-07 19:21] Himmele opened #353 "IMqttToken.java is only licensed by the EPL v1.0 but NOT by EDL v1.0"
org.eclipse.paho.client.mqttv3/src/main/java/org/eclipse/paho/client/mqttv3/IMqttToken.java is licensed only by the EPL v1.0 but NOT by EDL v1.0 like all other files.
Hopefully this is only a major issue that should be fixed ASAP.
Thanks!

- [ X] Bug exists Release Version 1.1.1 ( Master Branch)
- [ X] Bug exists in Snapshot Version 1.1.2-SNAPSHOT (Develop Branch)

[2017-04-09 09:23] jpwsutton commented on #350
I'm not too up to date with GWT at the moment, what dependency system are you using? Maven, Gradle?

[2017-04-09 09:26] jpwsutton commented on #352
Thanks for the contribution, opening a PR against our develop branch would be great. This is a behaviour that we originally opted against allowing when the buffering code was added, but a fair few people have asked for it over the last year so it should probably be allowed as I don't think there is any technical reason why we should limit developers in this way.

[2017-04-09 16:42] ilDirettore commented on #350
Maven

[2017-04-09 20:42] jpwsutton commented on #350
Should be as simple as adding this to your dependencies then:

[code]

[2017-04-11 08:15] matsukaz opened #355 "Latest develop branch fails to connect after disconnect"
Hi, looks like latest develop branch fails to connect after disconnect.
No exception, but callback is not called and MqttConnection#isConnected returns false.

[bbd6dc7](https://github.com/eclipse/paho.mqtt.java/commit/bbd6dc730cc88b09226086998735cfc5867582fc) commit works fine, but when I use [dd7970d](https://github.com/eclipse/paho.mqtt.java/commit/dd7970d1e3010a4af1c1bac76e0a0ce1de57c5d4) comm

[2017-04-12 11:33] jvelo commented on #348
FYI this seems to happen especially when connectivity is flaky, albeit existing. We had a couple episodes like this today when no message was delivered at all (kept getting buffered), client appeared connected, and ping reported about 50% packet drops.

[2017-04-12 14:07] jpwsutton commented on #348
What QoS are you using for these messages?

[2017-04-12 14:09] jvelo commented on #348
Most should be QoS 0

[2017-04-12 14:10] on-delete commented on #348
We are using QoS 1.

[2017-04-12 14:25] jpwsutton commented on #348
It might be helpful in this instance to enable some extra logging: https://wiki.eclipse.org/Paho/Log_and_Debug_in_the_Java_client

From the scenario you're describing, I would imagine we would see messages like the following"

"Error occurred attempting to publish buffered message due to disconnect."

If you do, the surrounding trace could be very helpful in identifying the cause.

Looking at wher

[2017-04-12 14:32] jvelo commented on #348
Thanks, I will enable trace logging for DisconnectedMessageBuffer and report back.

Could the fact the disconnected buffer message fails to publish buffered messages prevent new messages from being published as well?

[2017-04-14 05:12] yabooc opened #356 "Regress: 1.1.1 couldn't resolve host name which contains underscore"
- [ Yes] Bug exists Release Version 1.1.1 ( Master Branch)
- [ Yes] Bug exists in Snapshot Version 1.1.2-SNAPSHOT (Develop Branch)

If there is an underscore in the hostname, test_001.mqtt.iot.gz.baidubce.com for example, broker uri will be resolved as localhost:8883, which is the default value.

MqttAsyncClient.createNetworkModule uses URI to parse broker uri in 1.1.1, which is quite different fr

[2017-04-17 18:26] prmathur-microsoft opened #357 "Provide customizable websocket upgrade request parameters"
Please fill out the form below before submitting, thank you!

- [x ] Bug exists Release Version 1.1.1 ( Master Branch)
- [ ] Bug exists in Snapshot Version 1.1.2-SNAPSHOT (Develop Branch)

If this is a bug regarding the Android Service, please raise the bug here instead: https://github.com/eclipse/paho.mqtt.android/issues/new

Websocket upgrade request as per the spec - https://tools.ietf.org/html

[2017-04-17 18:46] prmathur-microsoft opened #358 "Mqtt websocket attempts to reconnect throwing EOF exception"
Please fill out the form below before submitting, thank you!

- [x ] Bug exists Release Version 1.1.1 ( Master Branch)
- [ ] Bug exists in Snapshot Version 1.1.2-SNAPSHOT (Develop Branch)

If this is a bug regarding the Android Service, please raise the bug here instead: https://github.com/eclipse/paho.mqtt.android/issues/new

I'm successfully able to send messages however I land up in EOF excepti

[2017-04-17 18:48] prmathur-microsoft commented on #358
This is definitely not a connection issue as I can successfully talk to server without websockets.

[2017-04-18 07:14] ilDirettore commented on #350
Unfortunately GWT needs other files such as a .gwt.xml ...

[2017-04-19 20:57] prmathur-microsoft commented on #357
Is this something that can be considered ? I'm willing to provide a PR for the same.

[2017-04-19 23:55] KohliDev commented on #341
Also how can I just disable the client cert check in paho java?

[2017-04-20 17:53] binarybucks commented on #358
It is definately not. More details, including a TCP dump can be found at https://github.com/owntracks/android/issues/448.

The issue does not exist in the 1.1.0 build.

[2017-04-20 18:03] prmathur-microsoft commented on #358
I'm trying 1.1.1 master branch and I see this. Any ideas what could be happening here ?

[2017-04-20 18:05] prmathur-microsoft commented on #358
#349 also points to the same issue.

[2017-04-20 18:06] binarybucks commented on #358
No idea, somehow the websocket connection dies shortly after the connection. The issue is not dependent on TLS, subscription or any publishes.

[2017-04-21 21:08] agallojr opened #359 "Maximum size of MqttMessage"
Please fill out the form below before submitting, thank you!
- [x ] Bug exists Release Version 1.1.0 ( Master Branch)
- [x ] Bug exists Release Version 1.1.1 ( Master Branch)
- [ ] Bug exists in Snapshot Version 1.1.2-SNAPSHOT (Develop Branch)

Using commonly available Paho demo code (attached), I iterate to find the maximum size of an MqttMessage to be 8076 bytes.  Have confirmed this on 1.1.0 an

[2017-04-24 06:17] freecgp opened #360 "【‘】"
Please fill out the form below before submitting, thank you!

- [ ] Bug exists Release Version 1.1.1 ( Master Branch)
- [ ] Bug exists in Snapshot Version 1.1.2-SNAPSHOT (Develop Branch)

If this is a bug regarding the Android Service, please raise the bug here instead: https://github.com/eclipse/paho.mqtt.android/issues/new

[2017-04-24 08:20] on-delete commented on #348
Any new knowledge about this?

[2017-04-26 17:40] prmathur-microsoft commented on #358
This issue is blocking us from enabling Websocket over Mqtt. Can someone please take a look at it ?

[2017-04-27 01:13] agallojr commented on #359
After using multiple MQTT servers with the same Paho client and getting different results as to the maximum size of the MQTT payload, I think its safe to close this bug report on the basis of inaccuracy.  Thanks for listening.

[2017-04-27 01:13] #359 closed, assigned to nobody

[2017-04-27 15:13] icraggs commented on #352
The reason for not allowing it in the first place was, what if the URI or some other configuration was invalid?  You could be sending messages, thinking they were being sent, when they weren't, and weren't going anywhere ever.  This seemed dangerous.

[2017-04-27 15:14] icraggs opened #362 "Should we get rid of the LocalNetworkModule?"
It has soft dependencies on some com.ibm packages.  As it's not standard MQTT function, perhaps we should remove it.

[2017-04-28 02:02] matsukaz commented on #352
Yes, I understand your concern.

My thinking is that, if you want to ensure your messsages to be sent immediately and correctly, you should check your connection by using IMqttActionListener's callback when you connect or call isConnected() method before you publish.
I guess most people are doing this and buffering messages by own selves if you need to send it later, or just ignoring unsent messag

[2017-04-28 02:03] matsukaz commented on #352
I've been created my pr here.
https://github.com/eclipse/paho.mqtt.java/pull/354

[2017-05-02 08:32] #360 closed, assigned to nobody

[2017-05-02 12:41] maartenl945 commented on #352
I understand the reason for not allowing buffering before the first connect as well, but unfortunately this situation than also occurs when the broker is not available on a fresh restart of the device. Because it seems like a first connect with the paho library, but it really isn't. The URI has been verified and proven to be working by that time already. Or am I wrong ?
This then forces paho users

[2017-05-03 07:38] ishaansrm opened #365 "Publish without Buffering"
- [x] Bug exists Release Version 1.1.1 ( Master Branch)
- [ ] Bug exists in Snapshot Version 1.1.2-SNAPSHOT (Develop Branch)

I have an instance of the AsyncClient with _disconnected buffering_ enabled. Now I would like only certain publishes to be exempted from buffering.

Is this supported, maybe via a workaround?

[2017-05-03 08:27] maartenl945 commented on #349
I get the same problem here. Initial connect with paho client reports ok, but it is immediately followed by a connection lost callback call. And than a cycle of reconnect attempts repeats every second as we are using the automatic reconnect feature:

2017-05-03 08:43:59,356 INFO  MQTT Call: 481e630b-e3c5-4962-b691-e9c7663ea948 [com.wps.pms.cloudreportingconnector.mqtt.MqttReportingPublisher] : Con

[2017-05-03 08:31] maartenl945 commented on #358
I get a similar problem here. Initial connect with paho client reports ok, but it is immediately followed by a connection lost callback call. And than a cycle of reconnect attempts repeats every second as we are using the automatic reconnect feature:
[code]

[2017-05-03 14:02] jpwsutton commented on #350
Oh, do you mean you want this to be running on the client side i.e. the Web Browser? In which case you will need to include https://github.com/eclipse/paho.mqtt.javascript in your html /  generated Javascript I think..

[2017-05-03 14:09] jpwsutton commented on #341
I think the server would be checking the client certificate, so you would have to look at the server configuration to see how to disable this. Though by the sounds of it, you may as well just disable certificates altogether..

[2017-05-03 14:26] jpwsutton commented on #365
I think the best way to accomplish this would be to add a check in your code before you send the message, and only send (buffer) the messages you want.

[2017-05-03 14:40] ishaansrm commented on #365
Yes that's what i have done for now, but it's still possible for the publishing to fail even after my initial check showed a valid broker connection.

[2017-05-03 15:23] jpwsutton commented on #358
Ok, I've been able to recreate this, funny it doesn't show in our unit tests. I'll look into this and see what I can dig out.

[2017-05-03 15:31] binarybucks commented on #358
It probably wasn't caught because the connection actually works for a short time.
Before the connection dies, the client even receives messages to retained subscriptions.

[2017-05-03 18:49] rajeefmk commented on #355
@matsukaz Was AutomaticReconnect enabled when you were testing this ?

[2017-05-03 19:09] rajeefmk commented on #352
+1 to this.

Since I was facing an issue (reported here https://github.com/eclipse/paho.mqtt.android/issues/166 ), I had to set automaticreconnect to false. Because of this, the DisconnectedBuffer stopped working (I'm assuming because isResting() method returns false).

isResting() method is set to true only for automaticreconnects I believe ?

From ClientComms.java -

		/**
	 * When Automatic rec

[2017-05-04 10:21] codeasone opened #367 "Callbacks not invoked for shared-subscriptions"
Callbacks don't get called when subscribing to [shared subscriptions](http://www.hivemq.com/blog/mqtt-client-load-balancing-with-shared-subscriptions/), e.g. `$share/group/topic`, using the `subscribe(String topicFilter, int qos, IMqttMessageListener messageListener)`API.

However, shared subscriptions work as expected when using the `setCallback(...)` API before invoking `subscribe(String topicFi

[2017-05-05 09:22] jpwsutton commented on #365
How does the publish fail? If DisconnectedBuffering is enabled, the message should just be buffered until the connection is restored and the message can be sent. If you want to remove the message after buffering, you can always delete it: https://www.eclipse.org/paho/files/javadoc/org/eclipse/paho/client/mqttv3/internal/DisconnectedMessageBuffer.html

[2017-05-05 09:37] #365 closed, assigned to nobody

[2017-05-05 09:57] raipratheek commented on #358
I had a similar problem with websocket connection. After connection I was subscribing for a topic and I used to get  this error.
Throwable occurred: Connection lost (32109) - java.io.EOFException
	at org.eclipse.paho.client.mqttv3.internal.CommsReceiver.run(CommsReceiver.java:176)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(Unknown Source)
	at java.util.concurrent.ThreadPoolExecutor$Work

[2017-05-05 16:10] matsukaz commented on #355
I've tested this with AutomaticReconnect enabled and also disabled.
It happened in both cases.

I'm testing this using paho.mqtt.android's recent develop branch with some patches (to use message buffering)

[2017-05-08 14:18] yogin16 commented on #367
Great explanation in the issue. We are also facing similar issue.

Upon checking further I found out that in CommsCallback's `deliverMessage` it does exact topicName matching with filter as per the standard. And as $share or $queue is not defined in MQTT standard - it is not matching. If the message hasn't been delivered to a per subscription handler, it would give it to the default handler - as i

[2017-05-09 08:43] jpwsutton commented on #367
As @yogin16 says, Shared Subscriptions aren't in the MQTT 3.1.1 specification, there are some guidelines on topics starting with $ though (http://docs.oasis-open.org/mqtt/mqtt/v3.1.1/os/mqtt-v3.1.1-os.html#_Toc398718108). I'm hesitant about adding things that would take us off specification as it feels like a bit of a slippery slope. MQTTv5 will include shared subscriptions and we will definitely

[2017-05-10 18:43] raipratheek commented on #358
The issue seems to be related to the message ID being 0. The io.netty.handler.codec.mqtt.MqttCodecUtil expects the message ID to be non-zero.

static boolean isValidMessageId(int messageId) {
        return messageId != 0;
    }

[2017-05-11 11:22] lelloman commented on #358
@raipratheek were you able to fix this within paho client or did you fiddle with the broker?

[2017-05-11 11:34] raipratheek commented on #358
The changes I made were only within Eclipse Paho. I just made sure none of the requests (PUBLISH, SUBSCRIBE ..etc ) has messageID = 0.

[2017-05-11 14:08] lelloman commented on #358
@raipratheek just to be clear, you mean that I should force `int msgId` field of `MqttWireMessage` to be not 0?

[2017-05-11 14:15] raipratheek commented on #358
Yes.. you could do that. Make sure the message ID is the same in all the places it is used. Eg : MqttToken.

[2017-05-11 14:22] lelloman commented on #358
@raipratheek any chances you could fork with these changes? I'm doing random attempts here but I have no actual understanding of what I'm trying xD

[2017-05-11 14:24] raipratheek commented on #358
@lelloman I just checked by changing the int msgId in the MqttWireMessage constructor to 2 ( just a number) and it works. No other change required. Could you check with this change ?

public MqttWireMessage(byte type) {
		this.type = type;
		// Use zero as the default message ID.  Can't use -1, as that is serialized
		// as 65535, which would be a valid ID.
		this.msgId = 2;
	}

[2017-05-11 14:36] lelloman commented on #358
thanks for the input but it doesn't work :(
the first problem i had with websocket (not with tcp) is that I was getting EOFException in CommsReceiver
[code]
to
[code]

and this "solved" the EOFException, now, if i apply only your change i get EOFException again, if i keep the EOFException "solution" and also apply your change it still doesn't receive other messages i'm pushing. my other non-paho-c

[2017-05-11 15:00] milosjovac commented on #309
Hi @jpwsutton

- It seems as it helped actually. First exception disappeared after the change.

- For the second exception, problem was the same name for multiple mqtt clients. Clients with the same name will race for connection and kick each other from the broker. We have unique name per hosting device, but during update process there was a window of couple of minutes where two clients with the s

[2017-05-11 15:00] #309 closed, assigned to nobody

[2017-05-11 15:10] raipratheek commented on #358
@lelloman  Could you try the same with the code from the develop branch ? I assume you are using the code from the master.
It works for me here with the code from develop branch after I change the msgId to a non zero number.

[2017-05-12 07:40] lelloman commented on #358
@raipratheek it did work! do you think this fix will be included in the next release?

[2017-05-12 17:32] prmathur-microsoft commented on #358
thanks for fixing this. Can you please point me to the branch/commit where this fix is working ? I would like to try it out on my setup as well.

[2017-05-12 19:25] raipratheek commented on #358
I have made the changes here.
https://github.com/raipratheek/paho.mqtt.java/tree/develop

[2017-05-13 13:04] masc3d commented on #233
I would require this feature as well plus full automatic reconnect including initial for an android application.

I'm currently thinking about either providing a pull request or wrapping reconnection/persistence around the client. I would prefer having this in paho, but if fundamental/design changes are required in order to have this, I'd probably rather wrap it up as I need it pretty soon.

Any f

[2017-05-15 10:18] jpwsutton commented on #358
Good spot @raipratheek, The 3.1.1 spec shows that we should assign an unused Packet Identifier every time: http://docs.oasis-open.org/mqtt/mqtt/v3.1.1/csprd02/mqtt-v3.1.1-csprd02.html#_Toc385349761

The change suggested looks like it would change the behaviour of the code here: https://github.com/eclipse/paho.mqtt.java/blob/develop/org.eclipse.paho.client.mqttv3/src/main/java/org/eclipse/paho/clie

[2017-05-16 08:17] ctron opened #370 "Calling close on new MqttAsyncClient instance causes an NPE"
The following code snippet results in an NPE:

[code]

Please fill out the form below before submitting, thank you!

- [X] Bug exists Release Version 1.1.1 ( Master Branch)
- [X] Bug exists in Snapshot Version 1.1.2-SNAPSHOT (Develop Branch)

[2017-05-16 13:20] jpwsutton commented on #357
@prmathur-microsoft Sounds good, if you can make a PR against the develop branch, that would be great!

[2017-05-16 23:29] prmathur-microsoft commented on #358
Thanks for fixing this. When will these changes be released ? I'm looking for a maven package with these changes.

[2017-05-17 14:31] jpwsutton commented on #358
@prmathur-microsoft the latest snapshot is available here: https://repo.eclipse.org/content/repositories/paho-snapshots/org/eclipse/paho/org.eclipse.paho.client.mqttv3/1.1.2-SNAPSHOT/

[2017-05-17 18:16] prmathur-microsoft commented on #358
@jpwsutton Thanks for the link. Although I can use this for testing and verification purposes, I cannot use a snapshot to be included in my release. Latest I see is v1.1.1. When will there be another release (v1.1.2) containing these changes that I can deploy on my end ?

[2017-05-22 07:54] jpwsutton commented on #358
The next formal release will be the Paho 1.3 (oxygen) release that will occur this June: https://projects.eclipse.org/projects/iot.paho/releases/1.3.0-oxygen

[2017-06-07 01:20] fanghuafan opened #373 "Release Version 1.0.2 , Some android system version unable to subscribe the topics"
Please fill out the form below before submitting, thank you!

- [ ] Bug exists Release Version 1.1.1 ( Master Branch)
- [ ] Bug exists in Snapshot Version 1.1.2-SNAPSHOT (Develop Branch)

If this is a bug regarding the Android Service, please raise the bug here instead: https://github.com/eclipse/paho.mqtt.android/issues/new

[2017-06-07 11:16] sachingupta141 opened #374 "Eclipse Paho Automatic Reconnect configure"
As provided in documentation of java client's automaticReconnect feature:

But It raises some questions over client behavior:

1. After 2 minutes limit, Will client keep trying to connect indefinitely?
    As I am not able to find any other parameter to control this iteration.

2. Is there any way available to configure this interval ?

[2017-06-07 19:47] jpwsutton commented on #373
If this is a bug against the android client please raise it against that project. Also, without any detail, we can't do anything about the issue.

[2017-06-07 19:47] #373 closed, assigned to nobody

[2017-06-08 08:05] jpwsutton commented on #374
Hi @sachingupta141, once the interval reaches 2 minutes, the client will then attempt to reconnect every 2 minutes until either successful or being stopped.
There currently isn't any way to change this behaviour, however we'd be open to a pull request to add it in.

[2017-06-09 06:41] karthik2883 opened #375 "On re connection call i am getting all the old publish message with new publish message"
I am using recent release

[code]

**This is my code**
[code]
on every reconnect call i am getting old publish message with new publish message

[code]

As every time the network fluctuate on every re connection i am getting huge data as message (old publish message and new publish message) on messageArrived callback ..Tested with Vernemq , Hivemq
Please revert back quickly as it is the major show

[2017-06-09 15:37] miketran78727 commented on #375
Since you set ```conOpt.setCleanSession(false);``` The server will resend un-ACKED QoS 1 & 2 messages when your client reconnects.

[2017-06-12 03:14] karthik2883 commented on #375
What is  un-ACKED messages  and how to set it properly

[2017-06-12 08:45] Pitel opened #376 "SecurityException: SHA-256 digest error"
Please fill out the form below before submitting, thank you!

- [x] Bug exists Release Version 1.1.1 ( Master Branch)
- [ ] Bug exists in Snapshot Version 1.1.2-SNAPSHOT (Develop Branch)

I'm trying to make Android app and I must use shrinker to remove unused emthods. It's processing the jar files and when it hits Paho, it crashes:

[code]

Looking at [the source code](https://android.googlesource

[2017-06-12 21:28] miketran78727 commented on #375
If you don't want to receive old messages, ````setCleanSession(true)````, which is the default.

You can read more about Clean Session flag in the MQTT specification : http://docs.oasis-open.org/mqtt/mqtt/v3.1.1/os/mqtt-v3.1.1-os.html#_Toc398718030

[2017-06-16 03:28] promission opened #377 "HELP，MqttClinet subscribe process MqttException（128）？"
mqttclient connected，but subscribe failed：
MqttException (128)
	at org.eclipse.paho.client.mqttv3.MqttClient.subscribe(MqttClient.java:347)
	at org.eclipse.paho.client.mqttv3.MqttClient.subscribe(MqttClient.java:333)
	at consumer.main(consumer.java:52)

how can i solved it？

[2017-06-16 06:45] #377 closed, assigned to nobody

[2017-06-27 10:27] rosterloh commented on #376
I'm experiencing the same issue but for me it's when I include MqttConnectOptions. Anyone know of a fix?

[2017-06-28 07:13] Pitel opened #378 "Multiple subscriptions to same topic"
- [x] Bug exists Release Version 1.1.1 (Master Branch)
- [ ] Bug exists in Snapshot Version 1.1.2-SNAPSHOT (Develop Branch)

I have two classes which should react to messages in the same topic. But I noticed I can't do that easily, because you store subscriptions as `Map<topic, callback>`, so when I subscribe to the same topic, the new callback overwrites the previous callback. I sugges using `Map

[2017-06-29 18:47] prmathur-microsoft commented on #358
I still don't see paho 1.3.0 on maven - http://search.maven.org/#search%7Cga%7C1%7Cg%3A%22org.eclipse.paho%22
Has the release been delayed ?

[2017-07-01 07:58] #375 closed, assigned to nobody

[2017-07-02 14:00] asanglard commented on #374
Hi @jpwsutton , is there any new about this pull request ? I'm highly interested with the possibility to configure the maximum retry interval.

I'm thinking to use the java paho client in an application that will bridge 2 MQTT brokers. I need that the client reconnects every second. For the time being, I will do it programmatically in my application.

[2017-07-06 01:13] prmathur-microsoft commented on #358
Can you please let me know when can I see the maven package with this fix ? We are waiting for this fix to enable mqtt with websockets on our side.

[2017-07-06 17:46] vaquierm opened #380 "Publishing device events from gateway running android application"
Hi, I am currently working on an android application.
I have a question regarding what is and isn't supported by this library.
The android phone is connecting to the IoT platform as a terminal registered as a gateway. It then connects to one or multiple peripherals via BluetoothLE. I would like to publish **device** events from the android device **(GATEWAY)** , Is that something that is supported

[2017-07-07 20:50] miketran78727 commented on #380
Each IoT Platform should have specific instruction to help you develop your MQTT application (gateway, device, applications, ....)

[2017-07-07 23:59] prmathur-microsoft opened #381 "Question : When/how will I get maven packages for Paho Oxygen release 1.1.0"
Please fill out the form below before submitting, thank you!

- [ ] Bug exists Release Version 1.1.1 ( Master Branch)
- [ ] Bug exists in Snapshot Version 1.1.2-SNAPSHOT (Develop Branch)

If this is a bug regarding the Android Service, please raise the bug here instead: https://github.com/eclipse/paho.mqtt.android/issues/new

I'm able to see Paho oxygen release at
https://www.eclipse.org/downloads

[2017-07-09 11:27] yogin16 commented on #367
I was able to solve this by adding a MqttCallback implementation for custom routing of unmatched topic filter.

Here is the example: https://github.com/yogin16/paho-shared-sub-example/blob/master/example/src/src/SharedSubCallbackRouter.java

[2017-07-10 07:39] ingomaas commented on #381
I think you may mix up the Paho release version with the Paho Java client release version. The Eclipse Oxygen release includes Paho 1.3.0 (umbrella release of Paho components) which itself includes Paho Java Client 1.1.1 (released in March 2017). See https://projects.eclipse.org/projects/iot.paho/releases/1.3.0-oxygen/plan

[2017-07-10 18:23] prmathur-microsoft commented on #381
The fix that I need was fixed after March 23rd. I'm interested in maven package with https://github.com/eclipse/paho.mqtt.java/issues/358 fix. Can you point me to that ?

[2017-07-10 20:29] lbrthld opened #382 "NPE in WebSocketReceiver.stop()"
Please fill out the form below before submitting, thank you!

- [X] Bug exists Release Version 1.1.1 ( Master Branch)
- [X] Bug exists in Snapshot Version 1.1.2-SNAPSHOT (Develop Branch)

In the IBM Watson Workspace app for Android we got an automated crash report through New Relic:
  location: WebSocketReceiver.java line 85 in org.eclipse.paho.client.mqttv3.internal.websocket.e.a
  exception: jav

[2017-07-13 08:08] let-aurn opened #383 "The clear() method of MqttDefaultFilePersistence should also delete the host directory"
The file persistence implementation has a problem. It does not delete the host directory. Now, I have tons of empty directory in my server.
![image](https://user-images.githubusercontent.com/13006409/28156365-bb98ab34-67b2-11e7-88f9-05c3246d92cd.png)

The `clear()` method of [MqttDefaultFilePersistence.java#L295](https://github.com/eclipse/paho.mqtt.java/blob/master/org.eclipse.paho.client.mqttv3/

[2017-07-17 20:15] prmathur-microsoft commented on #381
Can anyone please help me get the maven package ? We are waiting on it for our release. Please consider this as urgent request.

[2017-07-17 20:23] tameraw commented on #358
@jpwsutton @raipratheek - Any update on when we can expect to see the new maven package for this fix?

[2017-07-19 20:59] icraggs commented on #378
Subscribing to the same topic with MQTT results in only one subscription, which would be a problem for the subscribe call as it issues an MQTT subscribe as well.

To allow this to work, a different model will be needed, perhaps un/setTopicHandler calls.  Perhaps more subscription tracking in un/subscribe.

[2017-07-20 06:23] Pitel commented on #378
Couldn't you just chesk if key for given topic exists in `Map` and if callbacks `Set` is empty and only do MQTT (un)subscripbe according to that?

[2017-07-20 07:33] NampyoJeong commented on #349
It is ok for version 1.1.2-SNAPSHOT to me.

[2017-07-20 13:22] clive-jevons opened #384 "MqttOutputStream logs with wrong msgId"
Please fill out the form below before submitting, thank you!

- [X ] Bug exists Release Version 1.1.1 ( Master Branch)
- [X ] Bug exists in Snapshot Version 1.1.2-SNAPSHOT (Develop Branch)

The class https://github.com/eclipse/paho.mqtt.java/blob/develop/org.eclipse.paho.client.mqttv3/src/main/java/org/eclipse/paho/client/mqttv3/internal/wire/MqttOutputStream.java
logs out a trace in the write met

[2017-07-24 10:11] #362 closed, assigned to jpwsutton

[2017-07-24 10:30] jpwsutton commented on #381
Hi @prmathur-microsoft, I've been holding back the next release of the Paho Java client in order to resolve some issues that I'd rather not let through until we're sure they are fixed. The next stable release should be some time this week. I'll comment back here once it's done.

[2017-07-24 10:31] #380 closed, assigned to nobody

[2017-07-24 10:45] jpwsutton commented on #374
@asanglard Nobody has contributed a PR with this fix yet, I'll add this to the enhancement backlog for now.

[2017-07-24 10:55] jpwsutton commented on #233
This has been added in PR #354

[2017-07-24 10:55] #233 closed, assigned to nobody

[2017-07-24 13:20] jpwsutton commented on #356
You're right, an issue has been raised about this against Java, but there hasn't been much movement on it (http://bugs.java.com/view_bug.do?bug_id=6587184). I don't really want to close this issue as it will be blocking a lot of people who are using underscores in their domain names. The URI parsing was added in commit 80f7df4 to enable Basic Auth for Websocket connections. I'll have a look to see

[2017-07-24 17:38] prmathur-microsoft commented on #381
@jpwsutton - Just to be clear this release will be for Maven package for Paho and not just eclipse package ?

[2017-07-25 06:29] gpampara commented on #324
Any feedback on this? Having the connection to the broker lock up is not great.

[2017-07-25 07:57] jpwsutton commented on #381
@prmathur-microsoft Do you mean on maven central? Yes it will be released on both.

[2017-07-25 08:43] amprasanna opened #386 "waitForCompletion(value) breaks ( fails ) in 1.1.2-SNAPSHOT"
Please fill out the form below before submitting, thank you!

- [ ] Bug exists Release Version 1.1.1 ( Master Branch)
- [ X] Bug exists in Snapshot Version 1.1.2-SNAPSHOT (Develop Branch)

Issue:
I'm currently making use of the 1.1.2-SNAPSHOT. While leveraging it's recent additions, i'm trying out to test/simulate network failures using the [ConnectionManipulationProxyServer.java](https://github.c

[2017-07-25 09:24] #384 closed, assigned to jpwsutton

[2017-07-25 09:26] #383 closed, assigned to jpwsutton

[2017-07-25 09:26] #370 closed, assigned to nobody

[2017-07-25 09:30] #352 closed, assigned to nobody

[2017-07-25 09:30] #356 closed, assigned to nobody

[2017-07-25 09:37] #27 closed, assigned to nobody

[2017-07-25 09:37] #353 closed, assigned to nobody

[2017-07-28 09:23] jpwsutton opened #389 "Design of new MQTTv5 Java client"
With the latest MQTTv5 spec being available [here](https://www.oasis-open.org/committees/documents.php?wg_abbrev=mqtt&show_descriptions=yes), @icraggs and I are starting work on implementing some MQTT v5 clients. This GitHub issue should be the main focal point for any discussion around how the community would like the new client and it's APIs to be designed. I'm currently working with the intenti

[2017-07-28 09:25] icraggs opened #390 "Support for OSGi Alliance MQTT API"
Regarding the Java client implementation, it might be interesting to note that the OSGi Alliance is also currently working on an MQTT client API that exploits the latest Java features and runs nicely within an OSGi framework. The current proposal is to have a Java 8 Streams like API that allows to process incoming MQTT messages asynchronously using lambda expressions.

It would be cool if Paho wou

[2017-07-28 09:25] icraggs commented on #390
I just wanted to reiterate Tim Verbelen’s statement that the IoT Expert Group at the OSGi Alliance have also been looking at better ways to support MQTT, including some work on a service-based client API. We would be very interested in engaging with the team working on the new client API so that we can make the fit as seamless as possible. There are some OSGi Alliance IoT EG members who already co

[2017-07-28 15:44] dobermai commented on #207
We see this deadlock problem a lot, most often when connecting the client. This is especially a problem in environments with very low latency where a CONNACK can return (and thus a notify() happens) before Paho gets a chance to wait().

Unfortunately it seems there is no way to recover from the deadlock.

[2017-07-29 00:37] murugesan70 commented on #9
+1

[2017-07-31 13:17] redboltz opened #392 "Question: Is there any way to remove an in-flight publish message?"
- [NO] Bug exists Release Version 1.1.1 ( Master Branch)
- [NO] Bug exists in Snapshot Version 1.1.2-SNAPSHOT (Develop Branch)

I'd like to remove an in-flight publish message.

I connect a broker that has permission control functionality using paho. Permission control means a client can publish only if the client have permission. The permission is defined a pair of ClientId (or Username) and topi

[2017-07-31 13:32] jpwsutton commented on #392
Hi,

I'm afraid that I don't know of any way to remove an in-flight message. The best I can think of at the moment would be to disconnect, then manually de-persist the message from your persistence layer.

[2017-08-01 09:16] redboltz commented on #392
@jpwsutton , thank you for the comment. I will write a pull request to add the functionality. Could you review it if I will write it ?

[2017-08-02 19:03] prmathur-microsoft commented on #381
@jpwsutton any update on the release to maven central ? We are blocked on this release from you. Can you please treat this as urgent issue and release to maven central ?

[2017-08-03 08:08] yanxinyuan opened #393 "MqttClient publish method take so much time after receive a message"
Release Version 1.1.0

Here is the scenario:
![scenario](https://user-images.githubusercontent.com/13062548/28912114-81879496-7865-11e7-963e-11048a8ce234.png)

I start two JVMs, and each one has a mosquitto client, A client is responsible to publish a message and B client is responsible to receive a message. In the messageArrived method of B client, i just start a thread to publish a new message,

[2017-08-03 13:46] ishaansrm opened #394 "validateQos() Crash"
Please fill out the form below before submitting, thank you!

- [x ] Bug exists Release Version 1.1.1 ( Master Branch)
- [ ] Bug exists in Snapshot Version 1.1.2-SNAPSHOT (Develop Branch)

This is the stacktrace:
[code]

I understand that `validateQos()` is receiving an invalid QOS, but is the client trying to publish that invalid QOS message or is it received on the client in a malformed way from

[2017-08-04 08:51] timothyjward commented on #389
One thing that I've always found a little disappointing in the existing API is its heavy use of a single callback to try to handle all of the asynchronous state in the client. A Promise model, using lambda-friendly one time callbacks would be a much nicer way to interact, for example when using the following:

    Promise<Void> connect();

I can write code like:

    Promise<Void> result = client.

[2017-08-04 09:11] timothyjward commented on #389
Consuming messages from an MQTT client is an asynchronous stream of data. Currently this has to be handled by registering a single callback interface on subscription, or by having a single callback which gets all the messages for every topic. A more elegant design would be to use a reactive model, allowing each subscription to be separate, and to make it easier to compose a data processing pipelin

[2017-08-04 09:17] timothyjward commented on #389
The Paho MqttMessage type has a couple of shortcomings.

Firstly, and most importantly, because the Message exposes a `byte[]` it leaks mutable internal state unless copies are made. This is inherently unsafe in a multi-threaded system. It would make much more sense to use the NIO ByteBuffer as the input type. These can easily be made read only (and therefore safe to share between threads), can ea

[2017-08-04 13:10] fpagliughi commented on #389
When I started the C++ client I copied the Java API as much as possible
because (1) I was clueless about MQTT, (2) I was curious if the new
C++11 could mimic Java functionality, and (3) I thought similar API's
would be helpful for consistency across languages.

But in this last release, I started to diverge from the Java interface,
and almost everything I did was just described in Tim Ward's last

[2017-08-07 23:12] alexhelder commented on #389
Will the new Java client support Android? I think it would be best not to choose any particular reactive API, but allow easy integration with the existing possibilities like RxJava 2 (which can be used on Android), for example.

[2017-08-08 04:41] RyanRamchandar commented on #389
I agree that using Reactive Streams [1] (eg. RxJava 2) makes sense here as MQTT messages and topics are inherently streams of data and subscriptions to those streams.

RxJava 2 is a reactive stream library for Java that is Reactive-Streams version 1.0.0 compliant and interoperable with other stream libraries including Java 8 streams.

In many of my projects where I'm using the Paho MQTT client, I

[2017-08-08 09:01] timothyjward commented on #389
Whilst I'm not aware of anyone using them on Android, OSGi Promises and OSGi PushStreams have no dependencies that aren't available in the Android SDK.

I think that it is necessary to make an API choice, otherwise we force every user to write their own adapter code. I also think that it would be best not to create a special API just for the Paho MQTT client.  I do agree, however, that whatever AP

[2017-08-08 09:29] timothyjward commented on #389
Whilst RxJava is a popular choice I would be a little careful about tying the Paho client to it directly. The RxJava 2 binary is 1.2 MB (release 2.1.2) and contains a lot of pieces that will be irrelevant for many of the Paho use cases. Given that this MQTT client needs to be suitable for embedded systems as well as larger ones I think a smaller, simpler API that could easily be adapted into an Rx

[2017-08-08 18:00] RyanRamchandar commented on #389
@timothyjward I agree that a smaller, simpler API is the right approach.

Instead of tying the Paho client directly to a specific reactive stream library like RxJava2 (or any other), I would suggest the client conforms to a standard so that any reactive library which conforms to that standard can be used. [Reactive-Streams](https://github.com/reactive-streams/reactive-streams-jvm) states it is an

[2017-08-09 17:50] timothyjward commented on #389
My concern is that this approach will *require* the user to bring their own reactive implementation, or require the Paho client to provide its own basic implementation for when no other library is present. Without this the API would have to be split in an awkward way, segregating the preferred streaming approaches from the "core" client and emphasising other non-streaming ways to receive messages.

[2017-08-09 18:48] lbrthld commented on #381
@jpwsutton the Readme.md states that the latest version is 1.2.0, however it is not available at https://repo.eclipse.org/content/repositories/paho-releases/org/eclipse/paho/org.eclipse.paho.client.mqttv3/1.2.0/. Is this an oversight?

[2017-08-11 10:09] trehn opened #397 "Release 1.2.0 missing from repo?"
Here on GitHub, a 1.2.0 release has been tagged:

https://github.com/eclipse/paho.mqtt.java/releases/tag/v1.2.0

However, it is not available as a JAR in the repo:

https://repo.eclipse.org/content/repositories/paho-releases/org/eclipse/paho/org.eclipse.paho.client.mqttv3/

Is that just an oversight or is there something wrong with the release?

Thanks!

[2017-08-11 23:58] barbaragomes opened #398 "Is there a way to set an expiration time for the inflight messages?"
Hi there,

I have been looking for a solution to my problem for a long time. My apologies if that is not the right place to ask.

I'm using Java Paho MQTT client in my application and I have set the maximum inflight messages to 15 and I'm publishing messages using qos 1.

The problem that I'm having is that sometimes the broker is dropping the messages and therefore is not sending an acknowledgeme

[2017-08-15 12:15] jpwsutton commented on #397
Hi,

Sorry for the delay, the JAR is now available in the Eclipse repository and on Maven Central: https://search.maven.org/#artifactdetails%7Corg.eclipse.paho%7Corg.eclipse.paho.client.mqttv3%7C1.2.0%7Ceclipse-plugin

[2017-08-15 21:35] trehn commented on #397
Great, thank you!

[2017-08-15 21:35] #397 closed, assigned to nobody

[2017-08-17 23:07] prmathur-microsoft commented on #381
@jpwsutton  - Can you please let know when will the maven package be released ? As I mentioned earlier, we are in urgent need of it. Appreciate it if you could release it soon.

[2017-08-21 08:37] jpwsutton commented on #393
Which QoS level are you using for sending these messages? The callbacks will block so it's recommended to return from the callbacks ASAP. It could be possible that the extra threading that you've added is a contributing factor for the delay. It might be worth timing some of the individual steps to see which part is actually causing the extra delay.

[2017-08-21 08:55] jpwsutton commented on #381
@prmathur-microsoft It's available here: https://search.maven.org/#artifactdetails%7Corg.eclipse.paho%7Corg.eclipse.paho.client.mqttv3%7C1.2.0%7Ceclipse-plugin

[2017-08-21 08:55] #381 closed, assigned to nobody

[2017-08-21 09:14] jpwsutton commented on #398
Hi @barbaragomes,

So the way that I would do this would be to use `getPendingDeliveryTokens` to get an array of all pending Delivery tokens, then calling `waitForCompletion` (This will block) with your chosen timeout. If the timeout passes without the message being delivered, it will throw an `MqttException` which you will have to handle.

Once this has happened, you'll know that a message has no

[2017-08-22 01:35] theHilikus opened #399 "Resource/threads leak if interrupted while connecting which prevents application shutdown"
- [X] Bug exists Release Version 1.2.0 ( Master Branch)
- [X] Bug exists Release Version 1.1.1

I'm still new to paho but I think I found a case where there are some resource leaks:
You do a client connect and before it finishes connecting you trigger an interrupt on the thread. This is happening in a Spring Boot application but I looked at the code and it looks independent of Spring.

The issue i

[2017-08-23 15:43] larrywalker commented on #330
Any ideas when this might find it’s way into a release?

I was running v1.1.0 and noticed a number of leaked threads. I updated to v1.1.1 and notice the same issue.

"MQTT Disc: clientid1503079649368000000" #379 daemon prio=5 os_prio=0 tid=0x00007fa25c0f5800 nid=0xe97 in Object.wait() [0x00007fa238f9f000]
   java.lang.Thread.State: WAITING (on object monitor)
        at java.lang.Object.wait(Nativ

[2017-08-24 20:28] barbaragomes commented on #398
@jpwsutton Thank you very much for your response. It works perfectly.

I have another issue going on now.

The problem that I'm having is that the disconnect callback is not being called when the client detects the connection lost while it is trying to publish.

I have an unstable internet connection and the following code for publishing:
[code]

The code passes the if part, where it checks if my

[2017-08-25 13:33] jpwsutton commented on #382
Related to: https://github.com/eclipse/paho.mqtt.android/issues/232
A fix for this has been submitted in commit adc1160
This fix will be available in the SNAPSHOT built

[2017-08-28 15:52] lbrthld commented on #382
@jpwsutton Thanks! When can we expect a 1.2.1 release build?

[2017-09-05 09:09] Jeromelichun opened #401 "About the processing capacity of paho client"
Please fill out the form below before submitting, thank you!

- [√] Bug exists Release Version 1.2.0 ( Master Branch)
- [√] Bug exists in Snapshot Version 1.2.1-SNAPSHOT (Develop Branch)

Hi, there are some questions obout the processing capacity of paho client!

**Description:**
mqtt server send messages to paho, and the rate is 10M Bytes/s[sending ten thousand messages per second, the size of ea

[2017-09-05 19:23] prmathur-microsoft opened #402 "Threads dont exit upon disconnection using 1.2.0 paho client"
Please fill out the form below before submitting, thank you!

- [x ] Bug exists Release Version 1.2.0 ( Master Branch)
- [ ] Bug exists in Snapshot Version 1.2.1-SNAPSHOT (Develop Branch)

If this is a bug regarding the Android Service, please raise the bug here instead: https://github.com/eclipse/paho.mqtt.android/issues/new

After updating to latest paho client i.e 1.2.0 we notice that threads d

[2017-09-06 09:46] jpwsutton commented on #402
@prmathur-microsoft Could you enable logging (https://wiki.eclipse.org/Paho/Log_and_Debug_in_the_Java_client) and provide the log from the point at which disconnect is called please?

[2017-09-07 07:10] IanWambai commented on #394
Facing the same issue.

[2017-09-07 08:31] jpwsutton commented on #394
@ishaansrm & @IanWambai What type of MQTT Server are you using?

[2017-09-07 10:31] ishaansrm commented on #394
Mosquitto broker

[2017-09-07 10:37] IanWambai commented on #394
Same.

[2017-09-07 20:24] corneyl commented on #325
Shouldn't this issue be closed as the fix is released?

[2017-09-08 08:37] jpwsutton commented on #325
Thanks @corneyl, good point!

[2017-09-08 08:37] #325 closed, assigned to nobody

[2017-09-08 08:37] #213 closed, assigned to jpwsutton

[2017-09-08 08:39] jpwsutton commented on #358
@tameraw It's available here: https://search.maven.org/#search%7Cga%7C1%7Ca%3A%22org.eclipse.paho.client.mqttv3%22

[2017-09-08 08:39] #358 closed, assigned to nobody

[2017-09-08 14:10] jpwsutton opened #404 "MQTTV5 - Allow clients to connect to the server with zero-length client IDs"
In MQTTv5, clients can connect to servers with zero-length client IDs, in return, the Server will provide an Assigned ID in the CONNACK packet. This client ID must then be used by the client for the duration of the session.

The way the Java client is designed, the client ID is used as a unique identifier for threads, logging and persistence stores. This complicates matters as these are initialise

[2017-09-11 11:05] ohze opened #405 "Incompatible change: Test fail just by updating paho 1.1.1 to 1.2.0, 1.2.1-SNAPSHOT"
- [x] Bug exists Release Version 1.2.0 ( Master Branch)
- [x] Bug exists in Snapshot Version 1.2.1-SNAPSHOT (Develop Branch)

See https://travis-ci.org/giabao/paho-akka/builds/274119608
The success builds do not set PAHO_CLIENT_VERSION environment variable, so it will be the [default value 1.1.1](https://github.com/giabao/paho-akka/blob/7c1ce755a79ee12222411f489e70f401a3c0a36f/build.sbt#L20)

[2017-09-12 08:38] jpwsutton commented on #405
Hi, I don't think we've ever set that variable anywhere in our library, or in our build. Looks like you might have the wrong repository!

[2017-09-12 10:13] #405 closed, assigned to nobody

[2017-09-12 13:43] jpwsutton commented on #399
Looks like this is related to Issue #207 Sadly we've not been able to tackle that one yet, if you find a solution, please submit a PR!

[2017-09-13 09:21] jpwsutton opened #406 "MQTTV5: Topic Alias"
Decrease the size of the MQTT packet overhead by allowing the topic name to be abbreviated to a small integer. The Client and Server independently specify how many topic aliases they allow.

Interop Task: eclipse/paho.mqtt.testing/issues/24

[2017-09-14 13:38] jpwsutton commented on #406
Added in PR #407

[2017-09-14 13:38] #406 closed, assigned to jpwsutton

[2017-09-14 14:15] jpwsutton opened #408 "MQTTV5: Publish Packet Properties"
To implement:
 - [x] Payload Format Indicator
 - [x] Publication Expiry Interval
 - [x] Topic Alias
 - [x] Response Topic
 - [x] Correlation Data
 - [x] User Property
 - [x] Subscription Identifier
 - [x] Content Type

[2017-09-14 14:17] jpwsutton opened #409 "MQTTV5: PubAck Packet Properties"
To Implement:
 - [x] Reason String
 - [x] User Properties

[2017-09-14 14:18] jpwsutton opened #410 "MQTTV5 - PubRec Packet Properties"
To Implement:
 - [x] Reason String
 - [x] User Properties

[2017-09-14 14:18] jpwsutton opened #411 "MQTTV5 - PubRel Packet Properties"
To Implement:
 - [x] Reason String
 - [x] User Properties

[2017-09-14 14:19] jpwsutton opened #412 "MQTTV5 - PubComp Packet Properties"
To Implement:
 - [x] Reason String
 - [x] User Properties

[2017-09-14 14:21] jpwsutton opened #413 "MQTTV5 - Subscribe Packet Properties"
To Implement:
 - [x] Subscription Identifier
 - [x] User Properties

[2017-09-14 14:22] jpwsutton opened #414 "MQTTV5 - SubAck Packet Properties"
To Implement:
 - [x] Reason String
 - [x] User Properties

[2017-09-14 14:23] jpwsutton opened #415 "MQTTV5 - UnSubAck Packet Properties"
To Implement:
 - [x] Reason String
 - [x] User Properties

[2017-09-14 14:28] jpwsutton opened #416 "MQTTv5: Disconnect Packet Properties"
When Sending:
 - [x] Return Code
 - [x] Session Expiry Interval
 - [x] User Properties
 - [x] Server Reference

When Receiving:
 - [x] Return Code
 - [x] Reason String
 - [x] User Properties
 - [x] Server Reference

[2017-09-14 14:33] jpwsutton opened #417 "MQTTv5: Auth Packet"
The Auth packet is a new packet in MQTTv5 and will require a mechanism for it to be sent by the client. Fortunately it does not have a payload and simply has Variable properties. Some investigation will need to be done to see how best to fit it into the flow.

Properties to implement:
 - [x] Authentication Method
 - [x] Authentication Data
 - [x] User Properties

[2017-09-14 23:13] vickingur opened #418 "MQTT topic filtering does not conform to spec: filter 'foo/#' won't catch message published to 'foo'"
From http://docs.oasis-open.org/mqtt/mqtt/v3.1.1/os/mqtt-v3.1.1-os.html#_Toc398718107:

Also, https://www.eclipse.org/paho/files/javadoc/org/eclipse/paho/client/mqttv3/MqttClient.html javadoc claims that Paho client confirms MQTT spec:

But it doesn't work this way, [org.eclipse.paho.client.mqttv3.MqttTopic.isMatched(String topicFilter, String topicName) ](https://github.com/eclipse/paho.mqtt.java

[2017-09-15 09:33] jpwsutton commented on #416
In MQTT v3.1.1, only the client could ever send a disconnect packet to the server, whereas in MQTT v5, the server can also send a disconnect packet. This means that we need to re-think how to handle disconnects and connection loss in the client.

So far, I think the best practice will be to leave the connection loss functionality as is, and to add in a new serverDisconnected Callback that will gra

[2017-09-20 10:29] Pitel commented on #374
Bump. We just need to configure the reconnect timeout (3 seconds constant) and it was very diffucult. We've ended up copying the java file and changing few lines there.

[2017-09-21 07:35] xingzhougmu commented on #31
any update on this issue? It seems my application will hang on any callbacks, like messageArrived, deliveryComplete, connectionLost.

sorry. I resolved this issue by add **return** explicitly in those methods. Why this is required?

[2017-09-21 16:01] a-haroun opened #419 "Proxy Problem with WebSockets"
- [x] Bug exists Release Version 1.2.0 ( Master Branch)
Hello everyone,

I want to use a proxy with websocket MQTT client but the programm does not take the http proxy into account and instead it tries to use a socks proxy. And even with a socks proxy i have the following error: java.net.SocketException: Malformed reply from SOCKS server : MqttException
Is this normal?

UPDATE:
We are able to use

[2017-09-22 10:01] jpwsutton commented on #416
Additionally, because of new features in the client, there are scenarios in which a compliant MQTTv5 client should automatically disconnect from a server. For example when the server sends an invalid topic alias. At present, the Java client has no way of automatically initiating it's own disconnection and this will have to be added. We will need to do some investigation into how this behaviour can

[2017-09-22 10:19] jpwsutton commented on #416
ToDo: Update all disconnect and disconnectForcibly methods in Async and Blocking APIs to expose the new arguments + documentation.

[2017-09-25 08:01] IanWambai commented on #394
@jpwsutton were you able to figure out what's causing the issue?

[2017-09-25 09:34] jpwsutton commented on #394
@IanWambai Sadly not as I cannot re-create this issue myself. Could you enable logging following the instructions [here](https://wiki.eclipse.org/Paho/Log_and_Debug_in_the_Java_client) and show us the log messages that appear with this exception please?

[2017-09-25 09:40] ishaansrm commented on #394
Will enable logging too.
Please note that I've been able to see the issue only in production, never on my test bed.

[2017-10-02 20:44] fengsongAWS opened #421 "Message Id never get incremented for publish in QoS 0"
Please fill out the form below before submitting, thank you!

- [X] Bug exists Release Version 1.2.0 ( Master Branch)
When publish message in QoS 0, the message Id never get incremented because of this line.
https://github.com/eclipse/paho.mqtt.java/blob/75594f0b226b14911f397b69059c18a50eaabb54/org.eclipse.paho.client.mqttv3/src/main/java/org/eclipse/paho/client/mqttv3/internal/ClientState.java#L4

[2017-10-03 09:45] jpwsutton commented on #421
The reason we don't assign them is because they don't really have any use as QoS 0 messages are fire and forget and we didn't want to use up message IDs on messages that didn't need them. Is there a specific reason for requiring a message ID for QoS 0 messages?

[2017-10-03 19:08] fengsongAWS commented on #421
Using the same message id for QoS0 async publish will fail the request due to overwritten internal token and callbacks.

[2017-10-03 22:02] fengsongAWS opened #422 "Port number is required for AWS IoT Device SDK."
Please fill out the form below before submitting, thank you!

- [X] Bug exists Release Version 1.2.0 ( Master Branch)
- [ ] Bug exists in Snapshot Version 1.2.1-SNAPSHOT (Develop Branch)
The AWS IoT requires explicit port number even if it is 443. https://github.com/eclipse/paho.mqtt.java/blob/75594f0b226b14911f397b69059c18a50eaabb54/org.eclipse.paho.client.mqttv3/src/main/java/org/eclipse/paho/cl

[2017-10-04 05:43] lvc opened #423 "API changes report for Paho Client MQTTv3"
Hi,

I'd like to share my results on API changes analysis for the library: https://abi-laboratory.pro/java/tracker/timeline/org.eclipse.paho.client.mqttv3/

The report is generated by the https://github.com/lvc/japi-compliance-checker tool for jars found at http://central.maven.org/maven2/org/eclipse/paho/org.eclipse.paho.client.mqttv3/ according to https://wiki.eclipse.org/Evolving_Java-based_API

[2017-10-04 13:28] jpwsutton commented on #422
Hi,
Under which circumstances does this break the SDK? I'd prefer not to change it back as it is currently valid behaviour (The port is an optional field in the HTTP host header), but if there is a valid edge case, we can certainly accommodate it.

[2017-10-05 23:32] fengsongAWS commented on #421
If we keep publishing in async publish QoS 0, because it never increment the message ID, the token of first message will get overridden and therefore the callback will not get invoked. This does not happen if user keep time interval between each publish. Is this an expected behavior?

[2017-10-09 23:15] vickingur commented on #418
@jpwsutton, any comments on this?

[2017-10-11 00:56] dougiman commented on #402
I have attached the log, thank you.

[paho0.log](https://github.com/eclipse/paho.mqtt.java/files/1373856/paho0.log)

[2017-10-11 06:54] mikekihiu commented on #376
I was experiencing this on android
`java.lang.SecurityException: SHA-256 digest error for org/eclipse/paho/client/mqttv3/MqttConnectOptions.class`
because of `:app:transformClassesWithInstantRunForDebug`
I disabled instant run and the issue was fixed

[2017-10-11 07:12] Pitel commented on #376
We're not using instant run.

[2017-10-11 09:32] jpwsutton commented on #418
Hi,
I just tried this using the latest version and it seems to work as expected:

[code]

Do you have an example of this not working?

[2017-10-11 09:38] jpwsutton commented on #421
@fengsongAWS Ok, thanks, that does sound like a reasonable use case. I wouldn't want to change the behaviour permanently though, rather I'd add a switch in the MqttConnectOptions that could enable QoS 0 Message IDs.

I'm currently quite busy working on MQTTv5 right now, so won't get round to adding this for a little while. You're more than welcome to submit a PR if you'd like though?

[2017-10-11 11:19] jianglijs opened #425 "Calling disconnect should turn off auto reconnect"
- library version  org.eclipse.paho:org.eclipse.paho.client.mqttv3:1.1.1

[2017-10-11 11:21] jianglijs commented on #425
1. connection lost,such as close the network
2.disconnect,we can call it manually.thus,we host the reconnect recycle is canceled.however,it isn't

[2017-10-13 01:44] dubnemo opened #426 "mvn build issue: java\org\eclipse\paho\client\mqttv3\ScheduledExecutorPingSender.java:28: error: reference not found"
Please fill out the form below before submitting, thank you!

- [ X] Bug exists Release Version 1.2.0 ( Master Branch)
- [ ] Bug exists in Snapshot Version 1.2.1-SNAPSHOT (Develop Branch)

If this is a bug regarding the Android Service, please raise the bug here instead: https://github.com/eclipse/paho.mqtt.android/issues/new

mvn package -DskipTests
Returns:

[ERROR] Failed to execute goal org.ap

[2017-10-13 11:13] vikram919 opened #427 "Object Security for MQTT payload"
Hi!
Is providing object security for MQTT message juss like OSCOAP draft specification is a good idea?
Draft: <https://tools.ietf.org/html/draft-ietf-core-object-security-05>
If anyone is intrested or already worked on this thought please leave your comments.

I have implemented object security for MQTT, need some help from contributors or from individuals for adding this feature to the next relea

[2017-10-13 13:49] #416 closed, assigned to jpwsutton

[2017-10-13 20:31] vickingur commented on #418
Hi,

I tried sample apps in the project and I see subscriber is receiving and printing message from foo topic.
But tracing down the code I see it's receiving it through 'default' callback:
CommsCallback.java
[code]
No listeners would match the topic filter and the message will be delivered to mqttCallback.My app was not setting that default callback, so I was not getting the message at all.
The pr

[2017-10-16 16:50] tatemz commented on #330
Any update on this issue? I am also seeing this issue in v1.2.0

[2017-10-17 20:31] ghost opened #429 "Connection lost (32109) - java.io.EOFException"
Please fill out the form below before submitting, thank you!

- [*] Bug exists Release Version 1.2.0 ( Master Branch) > true
- [*] Bug exists in Snapshot Version 1.2.1-SNAPSHOT (Develop Branch) > true

I used [eclipse MQTT][1]  for connect to MQTT server.

I can connect to server successfully but when i publish message , i got this error

msg : Connection lost
loc : Connection lost
cause : java.io

[2017-10-18 15:06] jpwsutton commented on #429
This looks like the server is immediately disconnecting from the client. What type of Server are you using and can you confirm that it is correctly set up by pointing a tool like [mqtt-spy](https://github.com/eclipse/paho.mqtt-spy) or mosquitto_sub / mosquitto_pub at it?

[2017-10-18 18:28] ghost commented on #429
My server host is edge-mqtt.facebook.com:443 , I'm not certain  but i think the server type is mosquitto . and i can't confirm the set up is using [mqtt-spy][1] or ... .

Not sure how can i confirm the setup . whould you mine giving me an example please ?

  [1]: https://github.com/eclipse/paho.mqtt-spy

[2017-10-18 19:07] prmathur-microsoft commented on #402
@jpwsutton - Can you please look at logs above and provide us a fix ?

[2017-10-18 20:28] larrywalker commented on #330
Starting to give up hope on an official patch/release, so I pulled down the tagged v1.1.1 sources the other day and manually applied the proposed patch for this issue.  The resulting jar was worse as it leaks the normal communication threads worse than any of the previous versions.

I didn't notice any "MQTT Disc" threads getting leaked, but the version that I build was not trustworthy.

[2017-10-19 07:49] ctron commented on #330
@larrywalker Well it worked in my specific scenario. But I never got the unit tests to work properly, so yes, there may be a bunch of untested scenarios which fail. After no responses from Paho for quite I while I switched to Fuse MQTT instead.

I think the best is to close out the PR and hope for some future update.

[2017-10-19 07:54] jpwsutton commented on #330
Hey folks, sorry for not getting round to this. Currently I'm the only main developer on this project as well as a few others and I've been quite busy so haven't been able to take a deeper look at this issue. I'd say to keep the PR open for now as it's a genuine issue that needs to be fixed. I'll do my very best to do some investigation on this problem soon, but would definitely welcome others to

[2017-10-20 00:41] vickingur commented on #418
@jpwsutton, so this is not like the client is not receiving the message at all - broker will send it and default callback may handle it. But subscribed listener won't get the message, so I still believe this is an issue

[2017-10-20 15:53] tatemz commented on #207
Not sure if this is related... I have experienced deadlock from un-notified Token `responseLock` objects that were in the `WAITING` state.

Turns out, there was an `EOFException` that was being caused by our multiple clients having the same Client ID.

MQTT Brokers prematurely close any connections that are open with a Client ID if another connection with the same Client ID comes in.

By [ensuring

[2017-10-20 15:54] tatemz commented on #399
I resolved the `waitForResponse` error that you posted above. See my comment on #207

https://github.com/eclipse/paho.mqtt.java/issues/207#issuecomment-338246879

[2017-10-20 15:55] tatemz commented on #330
I resolved the `waitForResponse` error that you posted above. See my comment on #207

https://github.com/eclipse/paho.mqtt.java/issues/207#issuecomment-338246879

However, 1.2.0 still shows a memory leak that I have not traced yet. I will attempt this patch manually and test.

[2017-10-20 16:01] tatemz commented on #429
@mrb4hr4m [is this a relevant solution for you](https://github.com/eclipse/paho.mqtt.java/issues/207#issuecomment-338246879)

[2017-10-20 17:31] larrywalker commented on #207
Interesting, but we see this even when generating unique client ids.  There are multiple clients on multiple machines, so I guess there is a possibility of multiple machines generating the clientID, but down to the nanosecond is pretty unlikely for duplicate clientIds.

[2017-10-20 18:24] ghost commented on #429
@tatemz  thank you . but i can connect and publish to server in php with same [ client id , username , password ] . when i test it by java , i got this error . it mean all values is true and problem inside the java mqtt library .

[2017-10-23 01:59] bosen365 opened #431 "Connection to MQTT broker lost!"
I use MqttClient to subscribe to themes. When one or two items are consumed, the connectionLost method will be invoked.

My mqttclient pom.xml
`<dependency>
        <groupId>org.eclipse.paho</groupId>
        <artifactId>org.eclipse.paho.client.mqttv3</artifactId>
	<version>1.1.0</version>
</dependency>`

[2017-10-23 09:20] bergph opened #432 "Race Condition when subscribing to a topic with a retained message"
Please fill out the form below before submitting, thank you!

- [x] Bug exists Release Version 1.2.0 ( Master Branch)
- [x] Bug exists in Snapshot Version 1.2.1-SNAPSHOT (Develop Branch)

The method

`IMqttToken subscribe(String[] topicFilters, int[] qos, Object userContext, IMqttActionListener callback, IMqttMessageListener[] messageListeners) throws MqttException`

in the MqttAsyncClient.java co

[2017-10-24 10:37] mwalter opened #434 "Insufficient permissions lead to 'empty' MqttPersistenceException being thrown"
When I create a new MqttClient connection with MqttDefaultFilePersistence and the file and directory permissions are not set properly an empty MqttPersistenceException is thrown. No code, no message, nothing. This is IMHO bad design. It would be very nice if the exception would have a code or message or something so I can actually see what caused the error. I suggest more user friendly exception m

[2017-10-26 03:57] yanxinyuan commented on #393
sorry for late response, we use qos=2. The delay is because the thread will have a lock conflict with the callback method. so i have to use two client to solve this problem. As it means, one client for send and one client for receive.

[2017-10-26 03:58] yanxinyuan commented on #393
Actually i don't know if this is an issue.

[2017-10-26 08:47] #427 closed, assigned to nobody

[2017-10-27 08:53] konradmichael opened #435 "FilePersistence keeps file descriptor open for lockfile"
- [true] Bug exists Release Version 1.2.0 ( Master Branch)
- [untested] Bug exists in Snapshot Version 1.2.1-SNAPSHOT (Develop Branch)

We found out that one device ran out of file handles. Running `lsof` showed that plenty file descriptors where blocked by the lock file of the `MqttDefaultFilePersistence`

### result
$ lsof +D /directory
COMMAND   PID    USER   FD   TYPE DEVICE SIZE/OFF     NODE

[2017-10-27 15:18] gadieichhorn opened #436 "Try to connect to a broker while the broker is offline"
- Release Version 1.2.0 ( Master Branch)

this is more of a question but may be a bug.
we want to make sure client connect to server and keep trying to connect if broker is not available.
1. the client is connected and the broker goes down, client try to reconnect -> this is working fine, reconnects after broker is online.
2. client try to connect (new client) to broker but broker is down. client

[2017-10-27 21:52] lonelyzerg opened #437 "Cannot run my code with command line."
- [x] Bug exists Release Version 1.2.0 ( Master Branch)
- [ ] Bug exists in Snapshot Version 1.2.1-SNAPSHOT (Develop Branch)

Hi, I wrote a program using mqtt, and it runs well under Eclipse IDE. But when I try to run the code under command line it gives following errors.
[code]
Anyone know what caused this?

I am sorry, the problem lies in commands I used to run the program.

[2017-10-27 21:55] #437 closed, assigned to nobody

[2017-10-31 11:25] jpwsutton commented on #436
This was the intended behaviour as we were concerned that in most cases a client would waste resources attempting to make a connection that would never succeed. As such, automatic reconnect functionality shouldn't work until a connection has first successfully been made.

If there is enough appetite for some kind of override, we could add that. Otherwise, it might be easiest for you to manually re

[2017-10-31 11:36] jpwsutton commented on #435
Are you closing the connection in the old MqttAsyncClient's? I would imagine that you probably have a lot of extra threads piling up with that method as well. I'd suggest closing the clients and nulling them if you're creating more. Otherwise, I'd suggest enabling automatic reconnect.

[2017-10-31 11:38] jpwsutton commented on #434
Thanks for pointing this out @mwalter, It should be fairly straightforward to add some more verbose error messages.

[2017-10-31 11:39] jpwsutton commented on #431
What is the error provided to connectionLost?

[2017-10-31 11:48] jpwsutton commented on #426
Not sure why this issue is being thrown as the MqttPingSender Interface definitely exists (https://github.com/eclipse/paho.mqtt.java/blob/master/org.eclipse.paho.client.mqttv3/src/main/java/org/eclipse/paho/client/mqttv3/MqttPingSender.java) Have you tried pulling the latest source and running a maven clean on it?

[2017-10-31 11:49] jpwsutton commented on #422
@fengsongAWS Is this still an issue? Or can I close it?

[2017-10-31 17:28] #422 closed, assigned to nobody

[2017-11-01 07:53] gadieichhorn commented on #436
thanks for the answer, we working on IoT project using Paho.
from our side this will make a lot of sense.

Here are my top reasons for having this feature:
1. devices are preconfigured and deployed, so the mqtt settings are not chcning often so unlikely to be wrong. it is useful that the client will kepp trying to connect all the time.

2. we need to be able to persist messages if the broker is no

[2017-11-01 15:28] jpwsutton opened #438 "MQTTv5 - Update With changes from CSD01->02"
[Changes Document](https://www.oasis-open.org/committees/download.php/61843/mqtt-v5.0_csd02_changes-wd17.pdf)
[CSD02 Spec](https://www.oasis-open.org/committees/download.php/61847/mqtt-v5.0-wd17.pdf)

- [x] Change Connect Packet to have separate Will Properties Section
- [x] SUBACK Packets must always have properties section (Remove if less than 3 check).
- [x] UNSUBACK Packets must always have pr

[2017-11-02 01:26] vineetdigit commented on #382
@jpwsutton same question as @lbrthld. Any update on the 1.2.1 release date?

[2017-11-02 06:28] konradmichael commented on #435
The client is disconnected and closed, like in my snippet file. Using reconnect is a possible workaround but does not solve the problem.
Your problem still is, that the file handles are not closed correctly with a bad mqtt broker.

[2017-11-04 00:52] prmathur-microsoft commented on #402
@jpwsutton  - Can you please look at logs that we provided ?

[2017-11-07 14:02] gadieichhorn commented on #436
We are thinking of using the MqttClientPersistence directly with implementation of MqttDefaultFilePersistence

Do you think it is possible to use this class to write messages to local folder and wait for client to connect?

If you can provide a code sample how to do this or have some guideline that will be great.

We will have to try the connection once in few min and if connected successfully we

[2017-11-08 01:11] aromanelli commented on #402
I too am seeing this problem, and would appreciate @jpwsutton (or others) review of this issue. Thank you in advance for your time and efforts, they are appreciated.

[2017-11-08 11:18] jpwsutton commented on #402
Thanks for the log, this actually looks a bit similar to issue #330 where the client enters a deadlock state during a disconnection from an unstable connection. In this case it looks like the client had automatically reconnected before disconnecting. This is quite helpful to know as it should help us track down the core issue for this. Once we've found a resolution for #330, I'll commend back here

[2017-11-08 11:53] jpwsutton commented on #436
This could work, you would need to create your own implementation of MqttDefaultFilePersistence that allows you to set the name of the file where messages are persisted though as the client will try to set it's own persistence file name. You would also need to manage writing the messages to the persistence layer manually by instantiating MqttPublish packet objects yourself. YMMV with this approach

[2017-11-08 22:15] aromanelli commented on #402
@jpwsutton Wasn't sure if you were addressing me or @prmathur-microsoft with your recreation question, but in my case, I can recreate it 100% of the time with a simple/small three class app/IJ project. In my case I am running the server (embedded) and the client on the same PC, so I don't believe I have any 'unstable connection' issues.  Having said that, I'm newish to MQTT, so I may be doing a se

[2017-11-09 15:17] mscheibler commented on #356
Are you aware that underscores are not allowed in host names according to [RFC2396](https://www.ietf.org/rfc/rfc2396.txt)?

[2017-11-09 16:44] jpwsutton commented on #356
@mscheibler -  True, but domain names can have underscores in them (https://stackoverflow.com/a/2183140), I always find these two things a bit hard to coalesce personally, but it's probably best to accommodate the majority of users.

[2017-11-09 22:55] mscheibler commented on #356
@jpwsutton These RFCs are hard to keep track of. I kept on reading and according to [RFC3986, Appendix A](https://tools.ietf.org/html/rfc3986#page-49) there are a lot more characters allowed than just the underscore.
`a-zA-Z0-9` plus `-._~!$&'()*+,;=` and percent encoded chars.

[2017-11-13 09:07] JNYoung opened #441 "Why AlarmManager.cancle() throw a NPE？"
When Clientcomms.connect is called,  an exception occurs due to some reasons, leads to shutdownConnection(conToken, mqttEx), then pingSender.stop() is called, in the method AlarmPingSender.stop()， alarmManager.cancel(pendingIntent) using a nulled pendingIntent,  and lead the throwed NPE "cancel() called with a null PendingIntent" only when the targetSdkVersion>=N, sourceCode below
` if (mTargetSdk

[2017-11-13 11:49] jpwsutton commented on #441
This sounds like an issue with the Android client, not the Java client, could you check the issues [here](https://github.com/eclipse/paho.mqtt.android/issues) please.

[2017-11-13 11:49] #441 closed, assigned to nobody

[2017-11-13 23:31] fengsongAWS opened #442 "eifjccgncuiuccgbehvginbbknlncfigtibggnkfvcjh"
Please fill out the form below before submitting, thank you!

- [ ] Bug exists Release Version 1.2.0 ( Master Branch)
- [ ] Bug exists in Snapshot Version 1.2.1-SNAPSHOT (Develop Branch)

If this is a bug regarding the Android Service, please raise the bug here instead: https://github.com/eclipse/paho.mqtt.android/issues/new

[2017-11-13 23:32] #442 closed, assigned to nobody

[2017-11-15 16:26] #438 closed, assigned to jpwsutton

[2017-11-18 10:15] NikolaTT commented on #376
Any fix found for this? I would like to use Instant Run but the MQTT library is preventing me from doing so.

[2017-11-18 19:31] gsantner commented on #376
@NikolaTT  Same here

[2017-11-20 06:48] bosen365 commented on #431
`MemoryPersistence persistence = new MemoryPersistence();
MqttClient client = new MqttClient(bro, cid, persistence);
MqttConnectOptions connOpts = new MqttConnectOptions();
connOpts.setServerURIs(new String[] { bro });
connOpts.setCleanSession(true);
connOpts.setKeepAliveInterval(120); //  heartbeat interval 120s
connOpts.setAutomaticReconnect(true); // set reconnect automatic`

**But the override

[2017-11-20 07:02] bosen365 commented on #431
`MqttClient client = new MqttClient(bro, cid, persistence);`

the 'cid' is form `MqttClient.generateClientId()`。

Is it because of this reason that reconnection is unsuccessful?

[2017-11-20 07:42] MarcelRitzEdge5 commented on #376
Disabling "instant run" isn't really the solution. Will there be an update soon?

[2017-11-20 11:06] jpwsutton commented on #376
Interesting, If I run the latest 1.2.0 Jar through Jarsigner, It's verified correctly:
Command: `jarsigner  -verify -verbose -certs org.eclipse.paho.client.mqttv3-1.2.0.jar`
[code]

The sm means that the signature was verified and that the entry is listed in manifest. The MqttConnectOptions class isn't too complicated either so I'm unsure as to why that one is being singled out. Do you have any fu

[2017-11-20 13:47] jpwsutton commented on #413
This requires the MqttAsyncClient API to be changed to allow users to add these extra fields when subscribing.

[2017-11-20 15:07] jpwsutton opened #444 "MQTTV5 - Ensure all Properties are being correctly validated."
With the introduction of message properties in MQTTv5, there is now a need to validate that these properties are correct for the datatype that they are encoded as:

- Bits
- VariableByteInteger
- Two Byte Integer
- Four Byte Integer
- UTF-8 Encoded String
- Binary Data

[2017-11-21 10:32] jpwsutton commented on #408
A Publish Packet can have multiple Subscription Identifiers, the publish packet needs to be updated accordingly.

[2017-11-21 15:14] jpwsutton opened #445 "MQTTV5 - Use subscription identifiers to deliver incoming messages to callbacks."
Currently in the V3 and V5 client, when you subscribe to a topic, messages are delivered by two potential methods:

- The global MqttCallback - messageArrived callback that is called for all incoming messages.
- The specific IMqttMessageListener that can be set when subscribing to a topic and will be called when a message is received that matches that topic. Note, that if a topic is matched to thi

[2017-11-22 13:22] veita opened #446 "Derive IMqttClient and IMqttAsyncClient from java.lang.AutoCloseable"
`java.lang.AutoCloseable` is required for `IMqttClient` and `IMqttAsyncClient` to be used with Java's try-with-resources statement.

[2017-11-22 14:25] jpwsutton commented on #446
Not sure if this is an issue or an enhancement request, could you provide some more detail please?

[2017-11-22 22:38] veita commented on #446
This is an enhancement. I would enable statements like

[code]

I could provide a pull request if you wish.

[2017-11-23 15:22] helins commented on #389
A callback based API is certainly the right choice as it is the simplest one. Trying to bundle something like an MQTT client with a framework will harm composition. Instead, callbacks allow to build about anything. Plus, whatever framework you decide is best will certainly not suit all the use cases you haven't imagined. Let us not try to be too smart.

If someone really wants a high level API, he

[2017-11-23 15:35] helins opened #447 "MqttDefaultFilePersistence drops qos 0 messages"
When messages are persisted offline with MqttDefaultFilePersistence and the client simply reconnects, all qos 0 messages are delivered. But when the client establishes a new connection (for instance the application restarts), only one qos 0 message is delivered and the others are dropped.

MqttDefaulltFilePersistence does create 1 file / qos 0 message as expected. It looks like the problem is that

[2017-11-23 16:34] RyanRamchandar commented on #389
Reactive Streams has officially been included in Java 9 as [Flow](https://docs.oracle.com/javase/9/docs/api/java/util/concurrent/Flow.html) via [JEP-266](http://openjdk.java.net/jeps/266). However, I understand v5 of the Paho client is targeting Java 8.

Back pressure is a feature of Reactive Streams and can be handled asynchronously in a non-blocking way. See: https://www.reactivemanifesto.org/gl

[2017-11-26 17:12] veita commented on #446
Created pull request https://github.com/eclipse/paho.mqtt.java/pull/448

[2017-11-27 15:02] jpwsutton opened #449 "MQTTV5 - org.osgi.util.promise.PromiseExecutors does not exist"
Looks like org.osgi.util.promise.PromiseExecutors has been removed from the org.osgi.util.promise library, causing the MQTTv5 client to no longer compile. @timothyjward - Do you know if this has been removed from the OSGI Promise project? Should we refactor it away?

[2017-11-27 16:54] timothyjward commented on #449
PromiseExecutors was renamed to PromiseFactory in the last round of specification updates.

[2017-11-28 09:33] jpwsutton commented on #449
Thanks for the PR @timothyjward, that explains everything!

[2017-11-28 09:33] #449 closed, assigned to nobody

[2017-11-28 09:35] timothyjward commented on #449
I'm hopeful that will be the last change to OSGi Promises now - the final release build is due early in 2018.

[2017-11-29 09:58] Skid-Inc opened #452 "jmeclient Build Issues"
Please fill out the form below before submitting, thank you!

- [ X ] Bug exists Release Version 1.2.0 ( Master Branch)
- [ Is also 4 years old so probably has the same issues ] Bug exists in Snapshot Version 1.2.1-SNAPSHOT (Develop Branch)

If this is a bug regarding the Android Service, please raise the bug here instead: https://github.com/eclipse/paho.mqtt.android/issues/new

Using ant as per t

[2017-11-29 15:48] #413 closed, assigned to jpwsutton

[2017-11-29 16:10] #445 closed, assigned to jpwsutton

[2017-12-03 14:26] alexanderveit opened #453 "Thread-safety for MqttClient and MqttAsyncClient is not documented"
It should be clearly documented whether the client can be used from multiple threads (especially `publish`).

[2017-12-06 14:37] jpwsutton commented on #404
This was completed in commit 66ed2b6.

[2017-12-06 14:37] #404 closed, assigned to jpwsutton

[2017-12-06 14:38] jpwsutton commented on #408
This was completed in commit 66ed2b6

[2017-12-06 14:38] #408 closed, assigned to jpwsutton

[2017-12-06 14:45] jpwsutton commented on #409
This was completed in commit 66ed2b6.

[2017-12-06 14:45] #409 closed, assigned to jpwsutton

[2017-12-06 14:46] jpwsutton commented on #410
This was completed in commit 66ed2b6.

[2017-12-06 14:46] #410 closed, assigned to jpwsutton

[2017-12-06 14:46] jpwsutton commented on #411
This was completed in commit 66ed2b6.

[2017-12-06 14:46] #411 closed, assigned to jpwsutton

[2017-12-06 14:46] jpwsutton commented on #412
This was completed in commit 66ed2b6.

[2017-12-06 14:46] #412 closed, assigned to jpwsutton

[2017-12-06 14:46] jpwsutton commented on #415
This was completed in commit 66ed2b6.

[2017-12-06 14:46] #415 closed, assigned to jpwsutton

[2017-12-06 14:47] jpwsutton commented on #414
This was completed in commit 66ed2b6.

[2017-12-06 14:47] #414 closed, assigned to jpwsutton

[2017-12-06 14:48] jpwsutton commented on #417
Next Step here is to expose API methods that allow the developer to send AUTH packets, as well as a callback when they are recieved.

[2017-12-07 09:49] jpwsutton commented on #417
Adding to MqttAsyncClient:
[code]

And the callback in MqttCallback:
[code]

[2017-12-08 07:28] helins commented on #453
When reading the code, it looks like sometimes there is locking involved, and sometimes, when I think it should, not. I haven't read everything everywhere and am not that familiar but I had to guess I would say the async client is not properly thread safe. Understand it is a bit of a wild guess and I could be mistaken.

In short, I do agree this should be documented, specifically for the async cli

[2017-12-12 22:08] borgendale opened #458 "pahov5 should match the MQTT spec terminology"
Please fill out the form below before submitting, thank you!

- [ ] Bug exists Release Version 1.2.0 ( Master Branch)
- [ ] Bug exists in Snapshot Version 1.2.1-SNAPSHOT (Develop Branch)
- [x] Bug exists in MQTTv5 Version (mqttv5-new Branch)

If this is a bug regarding the Android Service, please raise the bug here instead: https://github.com/eclipse/paho.mqtt.android/issues/new

There are a numbe

[2017-12-12 22:18] borgendale opened #459 "In pahov5 the properties should be attached to the MqttMessage object"
Please fill out the form below before submitting, thank you!

- [ ] Bug exists Release Version 1.2.0 ( Master Branch)
- [ ] Bug exists in Snapshot Version 1.2.1-SNAPSHOT (Develop Branch)
- [x] Bug exists in MQTTv5 Version (mqttv5-new Branch)

If this is a bug regarding the Android Service, please raise the bug here instead: https://github.com/eclipse/paho.mqtt.android/issues/new

The MQTT properti

[2017-12-12 22:29] borgendale opened #460 "Invalid Subscripton Identifier allowed on SUSBSCRIBE"
Please fill out the form below before submitting, thank you!

- [ ] Bug exists Release Version 1.2.0 ( Master Branch)
- [ ] Bug exists in Snapshot Version 1.2.1-SNAPSHOT (Develop Branch)
- [x] Bug exists in MQTTv5 Version (mqttv5-new Branch)

If this is a bug regarding the Android Service, please raise the bug here instead: https://github.com/eclipse/paho.mqtt.android/issues/new

The MqttPropertie

[2017-12-14 08:07] juanjoDiaz opened #461 "connectionLost not firing when client is kicked out (duplicate clientId, for example)"
Please fill out the form below before submitting, thank you!

- [x] Bug exists Release Version 1.2.0 ( Master Branch)
- [?] Bug exists in Snapshot Version 1.2.1-SNAPSHOT (Develop Branch)
- [?] Bug exists in MQTTv5 Version (mqttv5-new Branch)

If this is a bug regarding the Android Service, please raise the bug here instead: https://github.com/eclipse/paho.mqtt.android/issues/new

If I connect 2 co

[2017-12-15 10:16] jpwsutton opened #462 "Mqttv5 - Messages are currently not being validated for size"
Please fill out the form below before submitting, thank you!

- [ ] Bug exists Release Version 1.2.0 ( Master Branch)
- [ ] Bug exists in Snapshot Version 1.2.1-SNAPSHOT (Develop Branch)
- [x] Bug exists in MQTTv5 Version (mqttv5-new Branch)

If this is a bug regarding the Android Service, please raise the bug here instead: https://github.com/eclipse/paho.mqtt.android/issues/new

It is currently p

[2017-12-19 03:40] sato-s opened #464 "Doesn't work with a url like mqtt://******"
- [x] Bug exists Release Version 1.2.0 ( Master Branch)
- [x] Bug exists in Snapshot Version 1.2.1-SNAPSHOT (Develop Branch)
- [ ] Bug exists in MQTTv5 Version (mqttv5-new Branch)  -- Could not check from github. Sorry!

I tried to connect my server with a URL like a ```mqtt://***``` but was unsuccessful.
It started work properly after using ```tcp://```.

According to following code, ```mqtt://``

[2017-12-20 10:23] jpwsutton commented on #464
Hi,

mqtt is currently not in the IANA URI schemes list, though there is a proposal to request that it be added for MQTTv5 (https://issues.oasis-open.org/browse/MQTT-203). I'm going to wait until there is an official IANA URI scheme added for mqtt before adding it to either the V3.1.1 or the V5 clients. It may also be the case that the scheme is only valid for MQTTv5, if this becomes the case, the

[2017-12-20 11:03] jpwsutton commented on #458
Thanks @borgendale, Commit ce44d1d has updated the properties to have the correct terminology. Another one that I picked up was `payloadFormat` which was originally `isUTF8`, this has also been fixed.

[2017-12-20 11:03] #458 closed, assigned to jpwsutton

[2017-12-21 10:55] jpwsutton commented on #460
I've re-jigged the MqttProperties API to have an extra pair of getters / setters:

- `public List<Integer> getSubscriptionIdentifiers()` (PUBLISH)
- `public void setSubscriptionIdentifiers(List<Integer> subscriptionIdentifiers)` (PUBLISH)
- `public Integer getSubscriptionIdentifier()` (SUBSCRIBE)
- `public void setSubscriptionIdentifier(Integer subscriptionIdentifier)` (SUBSCRIBE)

The Javadoc for

[2017-12-21 10:55] #460 closed, assigned to jpwsutton

[2017-12-22 00:10] prmathur-microsoft commented on #402
Is there any update on this issue ?

[2017-12-22 01:56] wqnmlgbe opened #465 "ANR Broadcast of Intent { act=MqttService.pingSender.1266f6b0-99ff-4ac1-ae8a-c4368b62218f flg=0x14"
Broadcast of Intent { act=MqttService.pingSender.1266f6b0-99ff-4ac1-ae8a-c4368b62218f flg=0x14
ANR Broadcast of Intent { act=MqttService.pingSender.1266f6b0-99ff-4ac1-ae8a-c4368b62218f flg=0x14 (has extras) }

1 android.os.MessageQueue.nativePollOnce(Native method)
--
2 android.os.MessageQueue.next(MessageQueue.java:323)
3 android.os.Looper.loop(Looper.java:135)
4 com.android.server.SystemServer.r

[2017-12-26 01:56] sato-s commented on #464
Thank you for your reply.
I understand there's a good reason not to accept ```mqtt://``` for now.

[2018-01-01 17:02] gsteen commented on #418
when do you release this fix? I need it too.

I tried your commit and it works.
if someone publishes to sport/ the message arrives at the client but MqttTopic.matches returns false.

[2018-01-02 14:33] CyXiaoFeng opened #466 "can't trigger connectLost method"
I met a complex trouble that client can't trigger connectLost method

i use 2.1.0 client version and apollo broker

option set autoreconnect is true,QOS =0

after a few days, on the broker ,the client can't receive message but the apollo server shows the
client has Producers and Consumers with topic, into the Consumers fields and  found the IP for it,

but the IP has not in the broker connects que

[2018-01-04 15:28] jpwsutton commented on #466
Hi @cracyMud, Sorry you're having a problem.

Are you able to publish messages from the client successfully? In normal operation, the client would send PING packets to the server to keep the connection open, if the server did not respond or the network was unavailable, the client would have called connectionLost. The fact that it had not been called would indicate that the connection was still hea

[2018-01-05 09:38] jpwsutton commented on #465
Hi, This looks like it's related to the Android service (https://github.com/eclipse/paho.mqtt.android), could you raise this there please? Also, we will need more detail as the original issue template asked for before we can take a look at your issue. Thanks.

[2018-01-05 09:38] #465 closed, assigned to nobody

[2018-01-12 01:19] Akira1Saitoh opened #467 "SSLSocket is not closed when disconnected from the broker"
Hi,
Our project uses the paho in the unstable network conditions. We sometimes get the broker unreachable for a few minutes.
If the broker is unreachable for a long time, the connection to the broker is closed when the keepAliveInterval timeout expires, but the underlying socket is not closed if it is SSLSocket.

In `TCPNetworkModule#stop`, `shutdownInput` is called before `close`. However, if the

[2018-01-12 01:46] Akira1Saitoh commented on #467
I sometimes observe a deadlock between `MQTT Call` and `MQTT Snd` while disconnecting from the broker on keepAliveInterval timeout.
If our application tries to publish messages large enough to make the socket buffer full while the broker is unreachable, `MQTT Snd` blocks on write to the socket.
If keepAliveInterval timeout expires in that situation, `MQTT Call` thread waits inside `ClientState#res

[2018-01-12 06:28] CyXiaoFeng commented on #466
@jpwsutton thanks for your replay,and i discovery the others problem that when the client(the client is a industrial pc) not communication with server for a long time, that moment the connection is active,but the consumers  has already lost,so i want to know,how can i find the subscribe is active?and how can i keep the subscribe is right or active?the long time more than 2 or 3 days
that ok and th

[2018-01-15 06:15] acodercat opened #468 "i want check log"
i want check log

[2018-01-15 15:01] jpwsutton commented on #468
Hi, I'm guessing you want the Debug log? Here is a page showing you how to do that: https://wiki.eclipse.org/Paho/Log_and_Debug_in_the_Java_client

[2018-01-15 15:01] #468 closed, assigned to nobody

[2018-01-16 01:40] acodercat commented on #468
thanks！

[2018-01-22 11:19] senniraf opened #471 "deliveryCompleted Callback is comming late."
- [x] Bug exists Release Version 1.2.0 ( Master Branch)
- [ ] Bug exists in Snapshot Version 1.2.1-SNAPSHOT (Develop Branch)
- [ ] Bug exists in MQTTv5 Version (mqttv5-new Branch)

I've been doing some researches on MQTT's Performance. I'm measuring the latencies of messages sent via MQTT using the MqttAsyncClient from Version 1.2.0. To achieve this I'm using the callback functions to measure time

[2018-01-24 23:21] borgendale opened #472 "MqttProperties.toString() throws NullPointerException"
Please fill out the form below before submitting, thank you!

- [ ] Bug exists Release Version 1.2.0 ( Master Branch)
- [ ] Bug exists in Snapshot Version 1.2.1-SNAPSHOT (Develop Branch)
- [x] Bug exists in MQTTv5 Version (mqttv5-new Branch)

If this is a bug regarding the Android Service, please raise the bug here instead: https://github.com/eclipse/paho.mqtt.android/issues/new

When running the

[2018-01-25 09:26] chbest-btc commented on #323
Hi

is there a solution for this problem?

I am using the paho version 1.2.0 together with a RabbitMQ 3.6.12 under Fedora 26 and I am getting the following exception:

[code]

Till then 65535 messages have been send to the server.

I want to send 5,000 messages per second to the RabbitMQ and try to achieve that by the following code:

[code]

Is there a way to avoid the exception?

[2018-01-25 20:45] prmathur-microsoft commented on #402
@jpwsutton  - Any update on this issue ?

[2018-01-26 14:28] jpwsutton commented on #471
Hi,

It could be that you are reaching a limit with the max number of inflight messages. You can change this value with MqttConnectOptions.setMaxInflight, the default is 10, but you could increase this value as much as you like.

[2018-01-26 14:55] jpwsutton commented on #472
Hi @borgendale,
Sorry for the break, I accidentially pushed some half baked code a week or two back and didn't notice. The fix for this was in commit d083428 which is now in the latest snapshot version, note that because I've now brought the v5 library into the develop branch, it's building at the same version as everything else now which means that it is now in the 1.2.1-SNAPSHOT directory (https

[2018-01-26 14:55] #472 closed, assigned to nobody

[2018-01-29 09:18] olsisaqe commented on #376
For us the problem is as well: `java.lang.SecurityException: SHA-256 digest error for org/eclipse/paho/client/mqttv3/internal/ClientState.class` . Is there any fix for this issue? We use the client version 1.2.0. With what Java version do you build and sign the jar? I think that Java 7 introduced a new algorithm for jar signing.

[2018-01-29 19:40] fross commented on #425
- Release Version 1.2.0 ( Master Branch)

I have also observed the behavior.

**Steps to reproduce:**
1. Establish a successful connection to a broker using `MqttConnectOptions.setAutomaticReconnect(true)`.
2. Shutdown the broker.
3. Disconnect and close the MQTT client. `reconnectTimer` seems to remain alive and prevents an application from terminating properly.

[2018-01-31 04:09] jizhenfang opened #473 "paho receiver not support nio ?"
hi，I have meet a performance issue in paho.
It's only 3000 tps from paho client to rabbitmq (MQTT broker), but the cpu , memory ,io usage is very low.
I  have saw the  paho's resource code and The CommsReceiver  use socket.getInputStream() . I think maybe here is the problem.  Is it right?

[2018-01-31 11:42] jpwsutton commented on #473
Hi,

3000 tps is pretty impressive for the Java client! Moving to nio could be a good improvement further down the line, but it might require significant refactoring in a very sensitive part of the client so it's currently not at the top of our priority list. You're of course welcome to try moving to it yourself if you like?

[2018-01-31 11:48] jonquark commented on #471
The delivery completed callback will be called (for qos=1)  at some point after the server has sent an acknowledgement of receipt to the publisher. The server can choose to send that acknowledgement after it has sent the message to the other client (and this is a common choice that servers often make).

Hence the methodology you are trying to use (to compare the time delta of the delivery callback

[2018-01-31 13:20] baggior opened #474 "Connection lost (32109) java.io.EOFException: AutomaticReconnect causes a loop of reconnections and errors.."
Please fill out the form below before submitting, thank you!

- [ x] Bug exists Release Version 1.2.0 ( Master Branch)
- [ ] Bug exists in Snapshot Version 1.2.1-SNAPSHOT (Develop Branch)
- [ ] Bug exists in MQTTv5 Version (mqttv5-new Branch)

Tested on tcp://iot.eclipse.org:1883
AutomaticReconnect enabled

after a successiful connection

the exception is
[code]

**RESOLUTION?**
I suppose the erro

[2018-01-31 13:30] baggior commented on #466
maybe the same issue #474

[2018-01-31 13:32] baggior commented on #429
maybe is #the same issue #474

[2018-01-31 13:38] jonquark opened #475 "Improve the handling of multiple IP addresses when returned in a DNS Lookup"
This is not a bug (but I think it applies to all current branches).

When the client connects to a server, under the covers a DNS lookup is performed. At the moment if multiple IP addresses are returned, the client will attempt to connect to just one.

If we cannot connect to that address, if the other addresses were attempted in turn as well then the client would be more fault tolerant of a serve

[2018-02-03 16:10] danielperna84 commented on #475
A practical example that caused me some headaches and I believe woulde be solved by _fixing_ this:
My router (AVM FritzBox) has an integrated DynDNS feature provided by the manufacturer. Hence with every reconnect my hostname will be updated with the new public IP. The problem however is, that I have native IPv4 and IPv6. As a result the DNS A record has my public IPv4 address, and the DNS AAAA ha

[2018-02-06 09:25] manjunathgudisi opened #476 "Unknown extension point: 'org.eclipse.ui.perspectives'"
Im trying to build **org.eclipse.paho.ui** project with maven in eclipse. and I found these errors in plugin.xml. Can you help me please.

Please fill out the form below before submitting, thank you!

- [X] Bug exists Release Version 1.2.0 ( Master Branch)
- [ ] Bug exists in Snapshot Version 1.2.1-SNAPSHOT (Develop Branch)
- [ ] Bug exists in MQTTv5 Version (mqttv5-new Branch)

If this is a bug r

[2018-02-08 00:24] wes-johnson opened #477 "Paho doesn't properly deliver QOS0 messages all of the time"
Please fill out the form below before submitting, thank you!

- [ X] Bug exists Release Version 1.2.0 ( Master Branch)
- [ ] Bug exists in Snapshot Version 1.2.1-SNAPSHOT (Develop Branch)
- [ ] Bug exists in MQTTv5 Version (mqttv5-new Branch)

If this is a bug regarding the Android Service, please raise the bug here instead: https://github.com/eclipse/paho.mqtt.android/issues/new

In v1.2.0 Paho d

[2018-02-09 17:42] jpwsutton opened #478 "MQTTv5 - Connection properties needs to use Mqtt Variable properties correctly."
Looks like I forgot to migrate the connection properties over when we moved to using a dedicated MqttProperties object.

I think the best way forward will be to set each prop through the MqttConnectionOptions Object, but when ClientComms.connect calls getConnectionProperties, we build up a new MqttProperties object and pass that through.

[2018-02-09 17:44] jpwsutton opened #479 "MQTTv5 - Client should throw error if it receives an unknown topic alias."
If the client has not enabled topic aliases, but receives a message with a topic alias set, the message will just 'disappear' and not get sent to the callback. We need to throw an error and also pass the message through if we have a global callback.

[2018-02-10 21:50] slavino opened #480 "MessageListener behaves in an odd way"
bug exists in release for Maven
    <dependency>
      <groupId>org.eclipse.paho</groupId>
      <artifactId>org.eclipse.paho.client.mqttv3</artifactId>
      <version>1.2.0</version>
    </dependency>

            MqttClient client = new MqttClient(broker, clientId, persistence);

            client.setCallback(new HHACallBack());

            MqttConnectOptions options = new MqttConnectOptions()

[2018-02-11 23:25] uvzubovs opened #481 "Already Connected exception on wrong password over websockets"
When I attempt to connect with the incorrect password using ws:// or wss:// schemes, I get "Already connected" exception. Using tcp:// or ssl:// results in "Not authorized to connect (5)", as it should be.

I tried this with Paho 1.1.0 and 1.2.0 against Mosquitto and a commercial MQTT broker with the same outcome.

[2018-02-13 09:30] frank-montyne commented on #402
I'm having the same problem. Any update? This is a real critical stability issue. Thanks

[2018-02-14 14:59] borgendale commented on #479
Topic alias is not just enabled or disabled.  The client gives the server the max value of a topic alias.  The server can use topic alias 1 to max and any other value is a protocol error.  The server is not required to send a topic alias even if the client has requested the use of topic alias.  Note also that the topic alias max is a separate value in the two directions.  The server sends the clie

[2018-02-14 18:47] Dharmaraj opened #482 "Not able to Enable and Disable the KeepAliveInterval while connection is active"
Can you please let me know, Is there any way to enable and disable the KeepAliveInterval Or Change the keepAliveInterval time while connection is active.

And If Connection is active and If we changed the date time on Android Device , It will through the following exceptions and happen disconnect and reconnect issue:

 throw ExceptionHelper.createMqttException(MqttException.REASON_CODE_WRITE_TIMEO

[2018-02-16 06:42] redboltz opened #483 "IMqttClient and IMqttAsyncClient don't have `reconnect()`"
Please fill out the form below before submitting, thank you!

- [x] Bug exists Release Version 1.2.0 ( Master Branch)
- [ ] Bug exists in Snapshot Version 1.2.1-SNAPSHOT (Develop Branch)
- [ ] Bug exists in MQTTv5 Version (mqttv5-new Branch)

If this is a bug regarding the Android Service, please raise the bug here instead: https://github.com/eclipse/paho.mqtt.android/issues/new

I've checked bug

[2018-02-19 14:02] tomaszbembnista opened #484 ""token in use" Exception stops sending of buffered messages"
Please fill out the form below before submitting, thank you!

- [x] Bug exists Release Version 1.2.0 ( Master Branch)
- [ ] Bug exists in Snapshot Version 1.2.1-SNAPSHOT (Develop Branch)
- [ ] Bug exists in MQTTv5 Version (mqttv5-new Branch)

After reconnect messages stored in DisconnectedMessageBuffer will not be send, because an Exception "token in use" will be thrown, which breaks the whole res

[2018-02-19 16:54] borgendale opened #485 "No way to get the reason codes from UNSUBSCRIBE and other RC issues"
Please fill out the form below before submitting, thank you!

- [ ] Bug exists Release Version 1.2.0 ( Master Branch)
- [ ] Bug exists in Snapshot Version 1.2.1-SNAPSHOT (Develop Branch)
- [x] Bug exists in MQTTv5 Version (mqttv5-new Branch)

If this is a bug regarding the Android Service, please raise the bug here instead: https://github.com/eclipse/paho.mqtt.android/issues/new

There is no way t

[2018-02-20 12:58] FrVaBe commented on #432
This might be the cause for my problem which I describe on StackOverflow:
[MQTT Retained messages not received when subscribing same topic from different applications at the same time](https://stackoverflow.com/questions/48769220/mqtt-retained-messages-not-received-when-subscribing-same-topic-from-different-a)

There is a repro on github here: [FrVaBe/MQTT/mqtt-client-showcase](https://github.com/

[2018-02-20 23:42] timtay-microsoft commented on #402
A workaround that I just found is to close your mqttAsyncClient after disconnecting it.

[code]

Inside this close call, the Executor Service that is hosting those errant threads is shutdown, so those threads die. It also makes your mqttAsyncClient unusable according to its documentation, so make sure not to reuse an MqttAsyncClient after closing it.

It still seems to me like a bug that the threa

[2018-02-21 03:48] plentz commented on #467
Also reported when using StrictMode

[code]
StrictMode config

[code]

[2018-02-21 11:10] #478 closed, assigned to jpwsutton

[2018-02-21 20:40] SergioMejiaAragon opened #490 "MqttClientPersistence, offset=6"
Hi

java.lang.UnsupportedClassVersionError: JVMCFRE003 bad major version; class=org/eclipse/paho/client/mqttv3/MqttClientPersistence, offset=6

Is there a version for java 6?

Kind regards

[2018-02-23 15:02] jpwsutton opened #491 "Update Eclipse View to use Eclipse Mars or newer"
[code]

[2018-02-26 10:45] jpwsutton commented on #490
Hi, We dropped support for older versions of Java last year, however version 1.1.0 of the Java client should work with Java 6 as that was compatible with Java 1.4.2 and above.

[2018-02-26 18:57] aromanelli commented on #402
@timtay-microsoft Thanks for the suggested workaround.  I had already had a close(true) (force the close) call in my code that reproduces the bug.  I tried just calling close() instead, but I still see the same issue, the app never closes, and a thread is left out there running.  So the workaround didn't work in my case.  Do appreciate the effort/knowledge sharing, thank you for that.

[2018-02-27 00:02] aromanelli commented on #402
I figured out my issue, where a mqtt thread stays after main() is done.

If I call Server.startServer, passing in a List for the second argument with a valid AbstractInterceptHandler concrete subclass in the List, the thread will not die when main() is done.  If I call Server.startServer passing in an empty List for the second argument, the app completes normally after main() is done.

Calling Ser

[2018-02-27 17:16] iceberg1369 commented on #376
is there any workaround to fix this error in  android studio?

[2018-02-28 08:36] hermioone opened #493 "Resubscribe after reconnection"
Hi, I have a question. When the mqtt server restarts, the client should automatically reconnect to the server. This could be achieved by setting the automaticReconnect param. But after the clients reconnect to the server, it will not subscribe the topic before disconnection automatically. So is there any method to achieve this function? Thank you.

[2018-02-28 11:10] jpwsutton commented on #493
This depends on a few factors, but assuming that the MQTT server is loosing all state between restarts and you are on a cleanSession=True connection, then you will want to add some code in the connectComplete callback that re-subscribes to the topics you want. You can also use the reconnect boolean to check whether it's an initial connection, or a successful reconnection.

On the other hand, if th

[2018-02-28 11:15] jbalakrishna commented on #207
@tatemz  clientId was the issue in my case, got fixed after giving unique clientId

Thanks !

[2018-03-05 14:14] DFieldFL opened #494 "Set proper message if MQTT Version is set incorrectly"
Please fill out the form below before submitting, thank you!

- [x] Bug exists Release Version 1.2.0 ( Master Branch)
- [x] Bug exists in Snapshot Version 1.2.1-SNAPSHOT (Develop Branch)
- [ ] Bug exists in MQTTv5 Version (mqttv5-new Branch)

When an incorrect MQTT Version is used for the connection options, there isn't a messages stating what are the acceptable version numbers. Adding a message t

[2018-03-06 12:18] ishaangarg commented on #394
Is it possible to enable logging in production java (android) apps? If yes then how? As per my understanding we need to push the props file to java client but that's be difficult to do for production clients.

This crash is only seen in production.

[2018-03-06 13:38] #493 closed, assigned to nobody

[2018-03-06 13:38] #490 closed, assigned to nobody

[2018-03-14 06:04] tharunjoy opened #497 "How to set CA certificate in client to connect to vernemq broker"
I have enabled SSL in vernemq broker with CA certificate and server certificate to make the communication to vernemq encrypted.
So I am building a paho client. I tried to connect with the broker without specifying any certificate and I was getting an error [PKIX path building failed: sun.security.provider.certpath.SunCertPathBuilderException: unable to find valid certification path to requested ta

[2018-03-14 15:54] nemanjanedic commented on #376
What helps me is to change the Gradle Aware Make before launch step. Click on the edit icon and enter a Gradle task to execute, usually assembleDebug or something similar. I can not find anything any info on why this is working.

[2018-03-15 14:05] crlipchik opened #498 "Android App using org.eclipse.paho.client.mqttv3-1.2.0.jar Service causes Throughput Issue"
The following issue was observed using org.eclipse.paho.client.mqttv3-1.2.0.jar:

I'm running a simple Android App which uses org.eclipse.paho.client.mqttv3-1.2.0.jar to create an Mqtt Client Connection which receives 1msg/msec.  The data associated with the messages is always less than 200 bytes.  Most of the time, the data associated with the message is less than 50 bytes.  The throughput of thi

[2018-03-20 08:36] wlwgcdxc opened #501 "Java websocket client throws EOFException when received message published from server(payload>2000B)."
Please fill out the form below before submitting, thank you!

- [x] Bug exists Release Version 1.2.0 ( Master Branch)
- [ ] Bug exists in Snapshot Version 1.2.1-SNAPSHOT (Develop Branch)
- [ ] Bug exists in MQTTv5 Version (mqttv5-new Branch)

![image](https://user-images.githubusercontent.com/11487532/37643544-d85394e6-2c5b-11e8-83a6-6115c0cf4068.png)
![image](https://user-images.githubusercontent

[2018-03-22 09:01] vit21ik opened #502 "Paho client doesn't support custom headers for MQTT connection over WebSockets"
When you need connection to MQTT broker using WebSockets, paho client sets default headers:
[code]

In some cases required send custom headers, for example if you wanted to connect to AWS Iot broker.
https://docs.aws.amazon.com/iot/latest/developerguide/custom-auth.html

It would be great add custom headers support to WebSocket handshake request.

- [ ] Bug exists Release Version 1.2.0 ( Master Br

[2018-03-22 09:54] vit21ik commented on #502
Actually I did this changes in my forked repository - https://github.com/vit21ik/paho.mqtt.java/commit/7df2eaaf760da97766d3a64049eed4da6f3309da

I could create merge request to develop branch.

[2018-03-24 11:30] minii-dev opened #506 "SSL connection HostnameVerifier result must be checked"
- [+] Bug exists Release Version 1.2.0 ( Master Branch)
- [?] Bug exists in Snapshot Version 1.2.1-SNAPSHOT (Develop Branch)
- [?] Bug exists in MQTTv5 Version (mqttv5-new Branch)

HostnameVerifier set via MqttConnectOptions.setSSLHostnameVerifier(..)
1) when connecting using ssl://... URL:
- the verifier public boolean verify(String targetHost, SSLSession sslSession) is called
- its return value

[2018-03-26 09:58] jpwsutton commented on #506
Hi @minii-dev, Thanks for raising this issue! You're totally right, we were calling the custom HostnameVerifier without actually doing anything.

I've updated our v3 and v5 clients to throw an SSLPeerUnverifiedException if the HostnameVerifier returns false, resulting in a message like the one below:
(I set mine to always return false to test this)

[code]

The changes are now in the develop branc

[2018-03-26 10:14] jpwsutton commented on #502
Thanks for the pull request, once we merge it would you mind if I ported your changes over to our new MQTTv5 client?

[2018-03-26 10:20] jpwsutton commented on #501
Hi @wlwgcdxc, could you produce some steps to recreate this issue please? I'm not sure that this can be to do with messages that are greater than 2000 Bytes as we have a test that verifies that Messages of 32KB can be sent and received which passes successfully.

[2018-03-26 13:33] jpwsutton commented on #497
Hi @tharunjoy, is the CA certificate signed and trusted by the JVM you are running with? In the past, we had to manually add our LetsEncrypt Cert to the keystore because it was not trusted in the JVM at the time. Theoretically, if the cert is trusted, then you shouldn't need to provide anything on the client side.

[2018-03-26 13:35] jpwsutton commented on #394
You would need to modify the launch command to include the `-Djava.util.logging.config.file=/path/to/logging/file`, that's the only requirement.

[2018-03-26 13:35] sumitatflo commented on #207
@tatemz I get the same error. However in my case it would be necessary to maintain same clientId. If I generate a new clientId, it would mean the messages directed to old clientId (while the user was not connected, because of no internet available for example) would be lost because clientId has changed.
Any way to resolve this?

[2018-03-26 14:49] jpwsutton commented on #480
@slavino Are you saying that your first subscription for `#` receives messages sent to `$SYS/#`? This would be expected behaviour, as `$SYS/#` would match `#`

[2018-03-26 15:08] jpwsutton commented on #481
Hi @uvzubovs, what MQTT server are you using to test this?

[2018-03-26 18:54] slavino commented on #480
according to which specification?

http://docs.oasis-open.org/mqtt/mqtt/v3.1.1/os/mqtt-v3.1.1-os.html

4.7.2  Topics beginning with $
The Server MUST NOT match Topic Filters starting with a wildcard character (# or +) with Topic Names beginning with a $ character [MQTT-4.7.2-1]. The Server SHOULD prevent Clients from using such Topic Names to exchange messages with other Clients. Server implementa

[2018-03-26 18:58] minii-dev commented on #506
Thank you for very fast fix.
I wonder, what is the correct behaviour for wss:// connection.

[2018-03-27 09:54] jpwsutton opened #507 "FileLock may stop working in future versions of Java"
Please fill out the form below before submitting, thank you!

- [x] Bug exists Release Version 1.2.0 ( Master Branch)
- [x] Bug exists in Snapshot Version 1.2.1-SNAPSHOT (Develop Branch)
- [x] Bug exists in MQTTv5 Version (mqttv5-new Branch)

When compiling and testing against a Java 9 JVM, the following warning is logged:

[code]
This is refering to the fact that [FileLock.java](https://github.co

[2018-03-27 10:20] jpwsutton commented on #506
The wss network module uses the ssl network module under the covers, so the behaviour should be the same.

[2018-03-27 10:24] #471 closed, assigned to nobody

[2018-03-27 11:30] minii-dev commented on #506
In my tests, on wss connection the verifier WAS NOT called at all, but WAS on ssl (yes, without the result check, but was called).

[2018-03-27 13:12] jpwsutton commented on #476
Hi, we would need to know what the errors actually are in order to help, could you send them please?

The UI components haven't been maintained in a fair while so might need some updates in order to work with newer JVMs..

[2018-03-27 15:00] jpwsutton commented on #482
The keep alive interval is something that is sent to the server on connection, there is no way to change it apart from disconnecting and reconnecting with a new keep alive interval.

That exception looks valid as we are using the devices internal clock to manage the keepalive, if the time is changed then it may cause our keepalive code to think that it's not had a response for more time that is al

[2018-03-28 08:03] jpwsutton commented on #466
@cracyMud It mostly depends on how your MQTT server is set up. Currently in the MQTTv3.1.1 spec there isn't any way to tell if you have any existing subscriptions when using cleanSession=False. If there is a session on the server, then once the client reconnects, any QoS 1 or 2 messages will be delivered regardless of whether you have re-subscribed. How long the server retains session, depends on

[2018-03-28 12:08] amazeblaze commented on #327
@jpwsutton would there be a python wrapper for the max offline buffer size?

[2018-03-29 09:30] xi67 opened #509 "Too many publication with QOS 0"
Hi,

We use only Qos 0 messages.
Regularly we get error "Too many publications".
App restart resolve it.

From the docs, it only store QOS > 0 message.
So why iget this with Qos 0 ?

[2018-03-29 14:23] matsujun commented on #421
If this (overwritten internal token and callbacks) happen, we cannot get token [here](https://github.com/eclipse/paho.mqtt.java/blob/75594f0b226b14911f397b69059c18a50eaabb54/org.eclipse.paho.client.mqttv3/src/main/java/org/eclipse/paho/client/mqttv3/internal/CommsSender.java#L134)
so we cannot enter [this if brace](https://github.com/eclipse/paho.mqtt.java/blob/75594f0b226b14911f397b69059c18a50eaa

[2018-03-29 14:32] matsujun commented on #477
Maybe same issue as #421

[2018-03-29 15:09] radzimir commented on #474
In my case, it was caused by using QoS 1 and server not sending receive recipe because it has not accepted specific topic.

If java.io.EOFException would be caught, it causes later TimeoutException which would be ok and should be interpretet as violation of QoS.

Setting QoS to 0 solved the problem.

[2018-03-30 19:52] uvzubovs commented on #481
I ran into it with Solace, but then reproduced with Mosquitto 1.4.9, which makes me believe it's a library implementation. Here is the stack trace:

`MqttException (0) - java.io.IOException: Already connected
	at org.eclipse.paho.client.mqttv3.internal.ExceptionHelper.createMqttException(ExceptionHelper.java:38)
	at org.eclipse.paho.client.mqttv3.internal.ClientComms$ConnectBG.run(ClientComms.java

[2018-03-31 23:09] davidgraeff commented on #502
Eclipse Smarthome would use this as well. A near term release including this could help our current mqtt ambitions.

[2018-04-04 19:28] borgendale opened #510 "Incorrect implementation of the Topic Alias property"
Unlike the other properties of an application message, the topic alias does not have the life of the message, but is only valid in a single connection.  Some of the problems:

1. The code writes the topic alias property into the message image which is persisted.  However since the topic alias is only valid within a connection, this fails if the message is sent or resent in another connection.

2.

[2018-04-04 21:04] GamiiisKth commented on #402
I had the same issue and now threads exits.
[code]
add this lines

[2018-04-06 13:09] bergowic opened #511 "Timeout for waiting for CONNACK"
- [x] Bug exists Release Version 1.2.0 ( Master Branch)

After establishing a TCP connection to a broker and sending the CONNECT message, the client will wait for a CONNACK message indefinitely. There should be a timeout for not receiving the CONNACK message within a specific period.

[2018-04-06 15:24] xi67 commented on #509
Some tests :
@Test
    void tooManyPublicationSyncTest() {
        MqttClient mqttClient;
        int i = 0;
        MqttMessage message = new MqttMessage(sMsg.getBytes());
        message.setQos(0);

        try {
            mqttClient = new MqttClient("tcp://localhost:2013", "PahoTest");
            mqttClient.connect();
            for (; i < 500; i++)
                mqttClient.publish(topic,

[2018-04-09 09:35] beersheba commented on #339
@BojanSM I have the same problem. How did you resolved it for your app?

[2018-04-09 22:24] aromanelli commented on #402
@GamiiisKth , for what its worth, I had both disconnectForcibly() and close(true) implemented, and the problem continues for me.

I believe the issue is as I've commented to @jpwsutton on Feb26th.

[2018-04-10 11:23] GamiiisKth commented on #402
@aromanelli can you run your mqttClient on the main thread and try disconnect with disconnectForcibly(), close(true) just for test purpose.

[2018-04-10 12:58] bergowic commented on #511
To make it more precise: I have a problem when I try connect to a TCP server which does not support MQTT. The server does not close the connection and the client waits for a CONNACK. I did also not figure out to stop the client in any wait, since `close` throws an exception and `disconnect` never terminates.

[2018-04-10 15:09] jpwsutton commented on #510
I've implemented a change in MqttPersistableWireMessage.getHeaderBytes() that will check for MqttPublish Messages that have a topic alias. When one is found, the message will temporarily have it's topic alias set to null, it's header will be extracted and then the topic alias will be set back again.
Realistically, nothing from this point should need to access the topic alias as it has effectively

[2018-04-10 15:09] #510 closed, assigned to jpwsutton

[2018-04-11 07:22] arunseshagiri commented on #425
I was also facing the same issue. I did a hacky way to resolve it.

when `mqttClient.disconnect()` is successful, set the Auto reconnect flag to false which actually stops the retry attempts.

[code]

[2018-04-11 07:43] olad32 commented on #327
I agree, the ability to have multiple buffers would allow to prioritize different types of messages.

[2018-04-11 09:35] #444 closed, assigned to nobody

[2018-04-11 09:36] #417 closed, assigned to jpwsutton

[2018-04-11 09:38] jpwsutton commented on #459
This has been implemented and the MqttMessage Object now has the MqttProperties Object within it as well as a getProperties() and setProperties(MqttProperties) functions.

[2018-04-11 09:38] #459 closed, assigned to jpwsutton

[2018-04-11 10:51] rasoulinejad opened #512 "bug in subscribe method(MqttClient.java)"
java.lang.ArrayIndexOutOfBoundsException: length=1; index=1   at org.eclipse.paho.client.mqttv3.MqttClient.subscribe(MqttClient.java:435) at org.eclipse.paho.client.mqttv3.MqttClient.subscribe(MqttClient.java:424)

public void subscribe(String[] topicFilters, int[] qos) throws MqttException {
        IMqttToken tok = this.aClient.subscribe(topicFilters, qos, (Object)null, (IMqttActionListener)null

[2018-04-11 21:03] borgendale opened #513 "Topic Alias not set on publish from client for QoS 0"
The code to set an client to server Topic Alias in pahov5 does not ever create a topic alias for QoS 0.
In ClientState.java:514 the code for setting topic alias is within a block of isMessageIdRequired() and redundantly also specifically testing for QoS != 0.

The code to set the packetID (aka messageID) should be independent of the setting of Topic Alias.

- [ ] Bug exists Release Version 1.2.0 (

[2018-04-12 21:05] inder123 opened #515 "MqttAsyncClient.checkPing should pass the callback to comms.checkForActivity"
MqttAsyncClient.checkPing method takes a callback, but it doesn't pass it to comms.checkForActivity method. This should be corrected.

Please fill out the form below before submitting, thank you!

- [ Yes] Bug exists Release Version 1.2.0 ( Master Branch)
- [ Yes] Bug exists in Snapshot Version 1.2.1-SNAPSHOT (Develop Branch)
- [ Yes] Bug exists in MQTTv5 Version (mqttv5-new Branch)

If this is a

[2018-04-13 20:44] inder123 opened #517 "Provide an option to set maxReconnectDelay"
Right now, paho client uses 128000 as the maximum reconnect delay (see MqttAsyncClient Line 1498). It would be useful for a developer to configure this delay value.

- [Y] Bug exists Release Version 1.2.0 ( Master Branch)
- [Y] Bug exists in Snapshot Version 1.2.1-SNAPSHOT (Develop Branch)
- [Y] Bug exists in MQTTv5 Version (mqttv5-new Branch)

[2018-04-13 21:33] viulian opened #519 "automaticReconnect reconnects every second instead of slowing down"
Please fill out the form below before submitting, thank you!

- [X] Bug exists Release Version 1.2.0 ( Master Branch)

There are two ways in which the MQTT client can get disconnected and automaticReconnect is triggered:
a) connection to MQTT server is broken.
b) an Exception is thrown from the messageArrived(...) implementation.

In the case of loosing connection to MQTT server, the reconnectDela

[2018-04-17 08:02] DannySchumann commented on #509
I have the same issue. The inflight messages don't decrease properly and will exceed the max in flight messages at some point.

[2018-04-17 08:35] jpwsutton commented on #519
Hi @viulian,

It feels like we might be looking at the wrong issue here.. I think resetting the reconnect timeout when a successful connection has been made is the right thing to do because assuming that the connection can successfully be made, there is no reason to delay in almost all use cases.

I appreciate that I don't know about the application that you are building, but have you considered m

[2018-04-17 10:53] jpwsutton commented on #512
Hi, before we can look at this, please could you fill provide us with the following information:

From the issue template, please let us know which client this bug is from:
- [ ] Bug exists Release Version 1.2.0 ( Master Branch)
- [ ] Bug exists in MQTTv3 Client on Snapshot Version 1.2.1-SNAPSHOT (Develop Branch)
- [ ] Bug exists in MQTTv5 Client on Snapshot Version 1.2.1-SNAPSHOT (Develop Branch)

[2018-04-17 13:30] jpwsutton commented on #511
Hi,

You when you use connect, you will get a `IMqttToken` back, if you then call `waitForCompletion(<time in milliseconds>);`, then it will wait for the client to either complete the connection, or for the timeout, whichever is first.

Then you can simply check `isConnected()` on the client and you will be able to tell if it failed or succeeded.

[2018-04-17 21:13] viulian commented on #519
Home environment, VMs may get restarted; I'm writing a Java mqtt client that consumes messages from a local mqtt broker and sends them to a carbon-cache (Graphite backend) in a different VM.

If the Graphite VM goes down, I would like the messages to remain persisted on the mosquitto server. Once the VM gets back, the client should reconnect and start sending the failed message plus any new ones.

[2018-04-18 08:55] rasoulinejad commented on #512
Bug exists Release Version 1.2.0 ( Master Branch)

qos[i] = grantedQos[i] ; // *********** this line cause exception ****************

[2018-04-18 15:07] jpwsutton opened #520 "MQTTv5 - Could not get return codes from Publish Message flows"
Please fill out the form below before submitting, thank you!

- [ ] Bug exists Release Version 1.2.0 ( Master Branch)
- [ ] Bug exists in MQTTv3 Client on Snapshot Version 1.2.1-SNAPSHOT (Develop Branch)
- [x] Bug exists in MQTTv5 Client on Snapshot Version 1.2.1-SNAPSHOT (Develop Branch)

If this is a bug regarding the Android Service, please raise the bug here instead: https://github.com/eclipse

[2018-04-19 21:49] rehanshaukat opened #521 "No sotimeout set on Socket in TCPNetworkModule.java"
I am investigating an issue where connection to MQTT backend is never restored in case of a network failure (not reproducible) and my suspicion is that it is possible in a rare case of network packet loss, comms receiver thread may wait forever reading from the Socket.

I was expecting `socket.setSoTimeout(someTimeout)` in class `TCPNetworkModule.java` which I noticed was once part of the class bu

[2018-04-20 10:30] djbr-david opened #522 "Null Pointer Exception using Memory Persistence"
Please fill out the form below before submitting, thank you!

- [X] Bug exists Release Version 1.2.0 ( Master Branch)
- [ ] Bug exists in MQTTv3 Client on Snapshot Version 1.2.1-SNAPSHOT (Develop Branch)
- [ ] Bug exists in MQTTv5 Client on Snapshot Version 1.2.1-SNAPSHOT (Develop Branch)

If this is a bug regarding the Android Service, please raise the bug here instead: https://github.com/eclipse

[2018-04-22 06:49] reith opened #523 "Ability to expedite reconnect"
- [N] Bug exists Release Version 1.2.0 ( Master Branch)
- [N] Bug exists in MQTTv3 Client on Snapshot Version 1.2.1-SNAPSHOT (Develop Branch)
- [N] Bug exists in MQTTv5 Client on Snapshot Version 1.2.1-SNAPSHOT (Develop Branch)
-------------------------------------------------------
It's not a bug, It's a gentle feature request :)

Currently Paho client tries to reconnect in double raised interval

[2018-04-27 16:37] dennynguyen opened #527 "Topic Alias incorrect on new connection"
Please fill out the form below before submitting, thank you!

- [ ] Bug exists Release Version 1.2.0 ( Master Branch)
- [ ] Bug exists in MQTTv3 Client on Snapshot Version 1.2.1-SNAPSHOT (Develop Branch)
- [ x ] Bug exists in MQTTv5 Client on Snapshot Version 1.2.1-SNAPSHOT (Develop Branch)

If this is a bug regarding the Android Service, please raise the bug here instead: https://github.com/eclip

[2018-04-27 16:41] dennynguyen commented on #520
I'm still getting getReasonCodes() returning 0 for all cases in QoS=1 and QoS=2.  I have confirmed the server is sending the correct reason code on the PUBACK and PUBREC's, but I'm not able to see them in Paho.

[2018-04-28 15:29] fguiet commented on #402
Hi,

Moved my Java program to Docker...ok no problem...But I soon realized that I got a memory leak...my program was consuming more and more memory and my java program started to throw : java.lang.OutOfMemoryError: unable to create new native thread

Ok, I used this command to dump Java stack : jstack -l <pid> > /tmp/dump.txt
Then, I uploaded the dump from time to time on http://fastthread.io/inde

[2018-04-30 10:46] efiko12 commented on #421
I had the same problem.
Solved it by override `ClientComms.sendNoWait` method and set the message id with a unique value.
It's ugly but it does the job

Scala code:

[code]

[2018-04-30 15:55] vit21ik commented on #502
Added custom headers to mqtt v5

[2018-05-01 14:16] jpwsutton opened #528 "MQTTv5 - CommsCallback not synchronising Queues"
After moving from using Vectors to ArrayLists in ClientComms.java, I forgot to add `synchronized` blocks.

[2018-05-01 15:14] jpwsutton commented on #527
Thanks for raising this @dennynguyen,
When I fixed the issue with persisting messages with Topic aliases, I forgot to add the same check / strip to the DisconnectedMessageBuffer as well. I've now done this and added tests to validate.

[2018-05-01 21:01] leetosc commented on #527
I'm still getting the same problem after the fix.

More details on the test case:

 - Client connects with cleanSession/cleanStart=false, with session expiry set to maximum (no expiry, durable session)
 - Client publishes messages to topic, `/SM_03` in this case
   - After the first publish, subsequent messages have topic aliased as expected
 - Restart the server
 - Client has reconnect logic, upo

[2018-05-02 00:11] ghost opened #529 "Can MQTT v5 be on the top of okio?"
https://github.com/square/okio

[2018-05-02 10:35] jpwsutton commented on #527
Ok, I've written a new test case to cover this scenario and found the source of this problem, the topic alias queue wasn't being cleared on closure of the TCP connection. The build with this fix is available here: https://repo.eclipse.org/content/repositories/paho-snapshots/org/eclipse/paho/org.eclipse.paho.mqttv5.client/1.2.1-SNAPSHOT/org.eclipse.paho.mqttv5.client-1.2.1-20180502.102547-23.jar

[2018-05-03 12:44] sunnyamuren commented on #376
is there any answer to this question ？

[2018-05-04 12:54] jpwsutton commented on #520
Hi @dennynguyen ,
I've finally figured out what was going wrong. It's taken me a while to get to the bottom of this, mostly because everything I've fixed so far has in some part been responsible, however I found the main culprit just now.
One of the newer additions to the v5 spec allowed for shortening of publish Ack packets when the return code was 0, after I ended up hand-decoding the PubRec tha

[2018-05-08 14:14] jpwsutton opened #530 "MQTTv5 - MaxInFlight to Server Receive Maximum"
Moving from using the old maxInFlight value to using the server assigned receive maximum property for sending messages.

[2018-05-08 14:41] #530 closed, assigned to jpwsutton

[2018-05-08 19:21] borgendale opened #531 "MQTTv5 QoS 0 publish fails when too quick"
When publishing at QoS 0 the newly created messages are all assigned packetID=0.  If a new message is published before the previous one is fully processed, the message is overlayed in the packetID table.  This can lead to an almost 100% message loss.

The key for a QoS 0 message needs to be something other than "0".

- [ ] Bug exists Release Version 1.2.0 ( Master Branch)
- [ ] Bug exists in MQTTv

[2018-05-08 19:29] borgendale opened #532 "MQTTv5 does not implement variable byte integer checking"
The code in MqttDataTypes.readVariableByteInteger does not limit the length of the value, or limit the value in the range 0 to 2**28-1 (including allowing negative values to be decoded).  It also does not enforce that the smallest representation of a variable byte integer is used.

As this code does not check in incoming value, the code in MqttDataTYpes.encodeVariableByteInteger can encode invalid

[2018-05-08 19:39] borgendale opened #533 "MQTTv5 UTF-8 strings are not correctly validated"
The code in MqttDataTypes.decodeUTF8() does not actually validate that the UTF-8 is valid nor does it validate that the null (\u0000) character is not used.  It also should validate control and non-characters are not used.

While the MQTTv5 spec gave clients the ability to choose not to validate strings, this was intended for roll your own clients, and not for full function clients such as paho.

[2018-05-08 19:48] borgendale opened #534 "MQTTv5 does not stop QoS 2 flow with a bad RC on PUBREC or PUBREL"
The MQTTv5 spec requires that the QoS 2 flow be stopped when a PUBREC or PUBREL is received with a reason code greater than or equal to 0x80.  The paho code does not do this but continues the QoS 2 flow.

Also, if the client receives a PUBREC or PUBREL for which it has no token (in general does not have in its table) it must continue with the QoS 2 flow and include the reason code for this conditi

[2018-05-08 20:06] borgendale opened #535 "MQTTv5 does not implement QoS 2 according to the spec"
The MQTTv5 spec requires that an QoS 2 message be released before sending the PUBREC.  The current paho code releases the message when the PUBREL is received.  This is a change between the MQTTv3.1.1 and MQTTv5 spec.   In the earlier version it was allowed to do it either way, but since the sender did not know which way the receiver implemented it, could not correctly integrate with a 2 phase comm

[2018-05-08 20:08] borgendale opened #536 "MQTTv5 flow control is not implemented"
The code sends and receives the Receive Maximum property (on CONNECT and CONNACK) but does not implement flow control as required by the MQTTv5 spec.

- [ ] Bug exists Release Version 1.2.0 ( Master Branch)
- [ ] Bug exists in MQTTv3 Client on Snapshot Version 1.2.1-SNAPSHOT (Develop Branch)
- [x] Bug exists in MQTTv5 Client on Snapshot Version 1.2.1-SNAPSHOT (Develop Branch)

If this is a bug reg

[2018-05-08 20:28] borgendale opened #537 "MQTTv5 the mqttErrorOccured (sic) callback does not work"
The purpose of the mqttErrorOccured callback is to allow the client application to decide whether to accept various errors in the input stream and to continue or close the connection.  However, this does not work for three reasons:

1. The current paho code does not check most conditions where the input stream violates the spec.
2. The current paho code does not call this callback in most cases it

[2018-05-08 20:38] borgendale opened #538 "MQTTv5 the client should send DISCONNECT before closing the connecton"
Although the paho java client allows the client application to send a DISCONNECT before closing the network connection, paho itself does not do so before closing the connection.  The whole point of the reason codes is to allow the peer to record the reason for a connection close.

In almost all cases where a connection has been established, the client should send a DISCONNECT in any case before do

[2018-05-08 20:45] borgendale opened #539 "MQTTv5 the available properties are not handled correctly"
The properties Wildcard Subscription Available, Subscription Identifiers Available, and Shared Subscription Available are defined by the spec to have a value of 1 (true) if not specified.  The current paho code defaults them to 0 (false) and sets them to 1 if they are specified in the CONNACK regardless of the value specified.  Thus in almost all cases the value is wrong.

On the other hand, the v

[2018-05-09 15:06] jpwsutton commented on #529
Hi, I'm not sure I understand the question, could you elaborate please?

[2018-05-11 15:04] jpwsutton opened #540 "General Code fixes for MQTTv5 client"
- [x] bug: MqttInnputStream:100  Max packet type is now AUTH
 - [x] bug: MqttInputStream:149 - notifyReceiveBytes should be called after checking for < 0
 - [x] suggestion: MqttInputStream: it is not clear why this uses long for offsets.  No network read is allowed to be larger than an int size.  If you ever exceeded this size the code fails anyway as it casts to int in a number of places.
 - [x]

[2018-05-13 09:46] oflebbe opened #543 "Unmaintained eclipse release"
Please fill out the form below before submitting, thank you!

- [x ] Bug exists Release Version 1.2.0 ( Master Branch)
- [x ] Bug exists in MQTTv3 Client on Snapshot Version 1.2.1-SNAPSHOT (Develop Branch)
- [x] Bug exists in MQTTv5 Client on Snapshot Version 1.2.1-SNAPSHOT (Develop Branch)

If this is a bug regarding the Android Service, please raise the bug here instead: https://github.com/eclip

[2018-05-14 07:52] jpwsutton commented on #540
Where applicable, I'm also applying these improvements to the MQTTv3 client.

[2018-05-14 14:30] icraggs commented on #532
I think there is a question in my mind as to whether clients have to implement this check on messages sent from the broker.  If the client library ensures that outgoing packets conform, and the server is compliant and does the check, then clients would not have to worry.  Certainly for the very smallest client implementations, it might seem like overkill.

[2018-05-14 14:31] dennynguyen commented on #527
works now

[2018-05-14 14:31] #527 closed, assigned to jpwsutton

[2018-05-14 15:15] jpwsutton commented on #536
Resolved under task #530.

[2018-05-14 15:15] #536 closed, assigned to jpwsutton

[2018-05-15 19:21] borgendale commented on #532
First, we are talking about two lines of code, one for the length and a second to check that the smallest encoding is used.

I accept that the smallest client is allowed to not do any error checking of t he input on the wire.  However, I do not classify paho-mqtt-java in that category.  In cases of an external client library such as paho, the client needs to protect the client application from bad

[2018-05-16 15:31] joelcdunn opened #545 "MQTTv5: Publish Property 3.3.2.3.5 Response Topic allows Wildcards (error)"
Please fill out the form below before submitting, thank you!

- [ ] Bug exists Release Version 1.2.0 ( Master Branch)
- [ ] Bug exists in MQTTv3 Client on Snapshot Version 1.2.1-SNAPSHOT (Develop Branch)
- [x] Bug exists in MQTTv5 Client on Snapshot Version 1.2.1-SNAPSHOT (Develop Branch)

p.58 of MQTTv5 Spec:
The Response Topic MUST NOT contain wildcard characters. ...

HOWEVER, They will flow th

[2018-05-17 05:29] ghost commented on #529
Okio is a library that complements java.io and java.nio to make it much easier to access, store, and process data. So can MQTTv5 use it to improve the IO performance? Just like the OkHttp library https://github.com/square/okhttp

[2018-05-22 13:13] jpwsutton commented on #543
Hi @oflebbe, thanks for the PR, unfortunately, it's not quite as simple as just updating the repository, there is actually a fairly large incompatibility between mars and oxygen that mean that we will likely have to re-structure the UI project : http://download.eclipse.org/releases/oxygen/

As it happens, we've been thinking about archiving the eclipse feature as it's not seen much use in the last

[2018-05-22 18:38] oflebbe commented on #543
Hi @jpwsutton Thanks for your answer!
I wanted to make you aware that kepler (the current release version) artifacts consumed by paho are known to be insecure. I doubt that mars fixed it, since the CVE is from last year. I do not know for sure if it is exploitable, but removing the UI component might be a sensible approach since there is an already an alternative tool.

[2018-05-23 09:04] jpwsutton commented on #517
Thanks @inder123, I've merged that to develop now. We are looking to release properly in June along with Eclipse Photon

[2018-05-23 09:04] #517 closed, assigned to nobody

[2018-05-23 12:40] #513 closed, assigned to jpwsutton

[2018-05-23 12:40] #520 closed, assigned to jpwsutton

[2018-05-23 13:40] jpwsutton opened #546 "Proposal: Archiving unused Paho Java projects"
A few of the sub projects within this repository seem to have been more or less left behind over the last few years, and as it's now looking like it would be a lot of work to bring them up to date for little benefit (Issue #543), I'm wondering if we should archive them into a different branch.

The projects that I'm proposing we archive are:

- [org.eclipse.paho.client.eclipse.feature](https://git

[2018-05-25 09:13] #515 closed, assigned to jpwsutton

[2018-05-25 10:00] jpwsutton commented on #522
Thanks for raising this issue @djbr-david, I've put a check in that will only attempt to close the Persistence layer if the hashtable has been initialised, I've also ported some improvements that are in the v5 client that throw an `MqttPersistenceException` when putting or getting if the persistence hasn't been initialised, so that should get rid of any null pointers would would have otherwise see

[2018-05-25 10:00] #522 closed, assigned to jpwsutton

[2018-05-25 10:06] djbr-david commented on #522
Many thanks for your time and effort.

[2018-05-25 10:28] jpwsutton commented on #523
Hi @reith,

Out of curiosity, how does removing the `isConnecting` solve this issue, that will only be true when the client is actually in the process of connecting to the server. In fact,  the same check will happen shortly after again in attemptReconnect->connect() anyway, so I'm not sure what really has changed in your example.

If you want to reconnect via your application, the reconnect() met

[2018-05-25 12:55] #539 closed, assigned to jpwsutton

[2018-05-25 12:56] jpwsutton commented on #539
Thanks @borgendale, the Retain Available property was also similarly affected, so I've fixed that as well.

[2018-05-25 13:36] jpwsutton commented on #538
Hi @borgendale,
Could you clarify the scenario where the client doesn't send the disconnect packet please?

[2018-05-25 14:10] reith commented on #523
On Fri, 25 May 2018 03:28:20 -0700
James Sutton <notifications@github.com> wrote:

It makes reconnect don't throw exception in that situation. So it solved
our trouble since we had some function that he could call freely in
"auto reconnect" mode. In fact I gave it to our app developer and told
him "Hey, call this if wifi gets back or in some way you notified by
android  user is connected to intern

[2018-05-29 15:25] jpwsutton commented on #402
Hi everyone, thanks for your patience on this, I've just had a look and am currently trying to find a good solution to this. I'll update again tomorrow once I've got some more news.

[2018-05-30 08:34] shekhar2709 opened #547 "ssl3_get_client_certificate:peer did not return a certificate"
Hi,

Please suggest.

Client jar mqttv31.1.0.jar
mosquitto version 1.4.8

When using client auth getting error - ssl3_get_client_certificate:peer did not return a certificate.

Below is my mosquitto.conf file and java client details:

mosquitto.conf

cafile /etc/mosquitto/ca_certificates/ca.pem
keyfile /etc/mosquitto/certs/server.key
certfile /etc/mosquitto/certs/server.pem
require_certificate tru

[2018-05-30 09:03] jpwsutton commented on #547
Hi @shekhar2709, I'm a bit swamped at the moment so don't have time to try and replicate your issue at the moment, however there is another good example of providing a client certificate here: https://stackoverflow.com/questions/12997559/ssl-connection-from-java-client-eclipse-paho-to-mosquitto-broker-unknown-ca maybe you could try this method and let us know how you get on?

[2018-05-30 10:13] shekhar2709 commented on #547
I intend to use sslProperties and not setSocketFactory.

[2018-05-30 14:33] dennynguyen opened #548 "Receiving duplicate QoS=2 messages on wildcard subscription"
Please fill out the form below before submitting, thank you!

- [ ] Bug exists Release Version 1.2.0 ( Master Branch)
- [ ] Bug exists in MQTTv3 Client on Snapshot Version 1.2.1-SNAPSHOT (Develop Branch)
- [x] Bug exists in MQTTv5 Client on Snapshot Version 1.2.1-SNAPSHOT (Develop Branch)

If this is a bug regarding the Android Service, please raise the bug here instead: https://github.com/eclipse

[2018-05-30 15:45] jpwsutton commented on #402
So I've been looking into this a bit more, my first port of call is to modify the async Disconnect and disconnectForcibly to shutdown the executor service. Currently the executor service is only shut down when the client is closed, which is a change from 1.1.0.

However doing this introduces the issue that once you have manually disconnected a client, you cannot open a new connection as the execut

[2018-05-31 09:53] francescovgg commented on #258
Hi everyone,
I'm facing a similar problem of frequent connection loss.
I'm using the pahho-mqtt C library on a linux gateway connected via GMS to the Microsoft IoT HuB (working as a broker).

On certain gateways, there are frequent connectionLost() callbacks (every few minutes). Inside the connectionLost() I simply raise a flag which is then read by the main thread application in order to perform

[2018-06-01 09:34] shekhar2709 commented on #547
Issue resolved. For two way ssl, we need to pack client key and client certificate both in keystore.

[2018-06-01 09:34] #547 closed, assigned to nobody

[2018-06-01 09:38] shekhar2709 commented on #497
Hi @tharunjoy, you don't need to provide ca certs. For two way ssl, pack client certificate and client key both in keystore.

[2018-06-01 10:02] RobLeighton opened #549 "Exception thrown by custom code in "messageArrived" causes socket error and disconnection"
Not strictly a bug but very confusing when it happens, my code to timestamp the message received was throwing an exception in messageArrived, when this happened the client generated a socket error and was disconnected by the mqtt broker ...

[2018-06-04 12:22] jpwsutton commented on #549
Thanks for raising this @RobLeighton, this is a good point and could likely trip other users up. I'll look at ignoring exceptions thrown in callbacks in the future.

[2018-06-04 13:58] jpwsutton commented on #545
I've added the Mqtt Topic Validator to check when a response topic is set, so this should now throw an Illegal argument exception if the application attempts to set an invalid response topic. It this fix is now available in the snapshots repository.

[2018-06-04 13:58] #545 closed, assigned to jpwsutton

[2018-06-04 20:41] dennynguyen opened #550 "MqttProperties.setResponseTopic() cannot accept null"
Please fill out the form below before submitting, thank you!

- [ ] Bug exists Release Version 1.2.0 ( Master Branch)
- [ ] Bug exists in MQTTv3 Client on Snapshot Version 1.2.1-SNAPSHOT (Develop Branch)
- [x] Bug exists in MQTTv5 Client on Snapshot Version 1.2.1-SNAPSHOT (Develop Branch)

If this is a bug regarding the Android Service, please raise the bug here instead: https://github.com/eclipse

[2018-06-05 11:48] sunny1974 opened #551 "Too many publishes is in progress with QOS 1"
Hi All,
i set to maxInflight messages property to 1000 and trying to publish messages with 300 TPS, But after some point(after submiting 55K message) i'm facing below issue.

MqttException (0) - Too many publishes in progress (32202)
        at com.imi.rtm.manager.PahoAsyncConnectionManager.publishMessage(PahoAsyncConnectionManager.java:205)
        at com.imi.rtm.manager.RTMDispatcher.processInte

[2018-06-06 07:00] NiekPeeters commented on #481
I also ran into this issue. Reproduced with VerneMQ. So it looks like a library implementation issue indeed.

[2018-06-06 08:21] jpwsutton commented on #551
Hi @sunny1974,

This sounds like you could be exceeding your max in flight window, if you enable trace, then you should get a log message along the lines of: "sending {0} msgs at max inflight window", this will tell you how many messages are actually in flight at the point when you try to publish a new message.

Keep in mind, that at QoS 1, you are relying on the PubAck from the server to be proce

[2018-06-06 16:58] KulbhushanSingh-Dev opened #552 "How to add online and offline status functionality and block unblock api"
Am new in mqqt implementation and i want to learn basics of its api with check user online/offline status in  and block/unblock functionality in android.

Thanks
Regards
Watson

[2018-06-07 15:26] Andrei-Pozolotin commented on #436
@gadieichhorn how did you resolve this?

[2018-06-08 01:31] Andrei-Pozolotin commented on #339
+1

[2018-06-08 10:00] jpwsutton commented on #552
Hi @ChrisWatson12,

To check whether the client is connected, you can use the .isConnected() function. This is available in both the Blocking and Asynchronous APIs.

[2018-06-08 10:01] jpwsutton commented on #550
Thanks for raising this @dennynguyen, this has now been resolved in commit efdba4a98947a7fa7fb76b5b17e8dc69f5491f87

[2018-06-08 10:01] #550 closed, assigned to nobody

[2018-06-08 10:03] #548 closed, assigned to nobody

[2018-06-08 10:19] jpwsutton opened #553 "MQTTv5: Enforce "MUST" & "MUST NOT" aspects of specification for protocol errors."
Currently, the client is quite relaxed when it comes to protocol errors, this task should contain all updates to the client where the client should forcefully disconnect from the server in the case of a protocol error.

[2018-06-08 10:20] jpwsutton commented on #553
The Mandatory normative statements can be found here: http://docs.oasis-open.org/mqtt/mqtt/v5.0/cs02/mqtt-v5.0-cs02.html#_Toc514345564

[2018-06-10 11:21] beersheba commented on #345
AWS IoT is still incompatible with Paho > 1.1.0, throwing` java.io.IOException: WebSocket Response header: Incorrect upgrade.` There is 1.2.0 allready. Any advice how it can be resolved?

[2018-06-15 12:19] jpwsutton commented on #345
Would it be possible with someone who has access to the AWS IoT service to copy and paste me a copy of a working example of their webockets header exchange please?

It looks like the upgrade part of the exchange is incorrect, but without seeing it I can't fix anything...

[2018-06-18 08:09] #531 closed, assigned to nobody

[2018-06-18 08:09] #528 closed, assigned to jpwsutton

[2018-06-18 08:09] #521 closed, assigned to nobody

[2018-06-18 08:10] #382 closed, assigned to nobody

[2018-06-18 08:10] #479 closed, assigned to jpwsutton

[2018-06-19 15:27] pstanton commented on #314
just found this. annoying!

[2018-06-22 03:10] pstanton commented on #551
@jpwsutton i'm seeing this too - if using QoS 1, if the PubAck is never received, how long before the inflight message times out?

what is the default max inflight? how can this be set?

[2018-06-22 08:49] siepkes commented on #493
@jpwsutton What makes it somewhat harder to re-subscribe (when reconnecting) is that the `MqttCallback` only offers a `connectionLost` callback and no `connectionEstablished`. As far as I can tell there is currently no way to get notified when Paho has performed a reconnection.

**EDIT:** Right, scrap the above; I totally missed the `MqttCallbackExtended` interface...

[2018-06-26 11:43] gonzalovinas commented on #429
Same problem here! I use it from cordova bridge, then from java directly. It happens when "SOME" client IDs...

Backend is mosquitto over Windows and Client ID is less than 24 chars.

[2018-06-26 11:44] gonzalovinas commented on #474
Same problem here, with QoS 2 ... any advice on how to fix ?

[2018-06-27 04:38] amarpulli1994 opened #557 "MqttException in Mqttv3Client"
Hi
I got the issue while running the osgi framework. Mqtt class integrated into one of my biding. If I compile and run the single mqtt class. It's been working fine. The communication also happening. If I run by using osgi framework. It throws errors

[code]
Can anyone knows this issue. Please help me regarding issue.

Thanks and Regards,
Amar Pulli.

[2018-07-03 10:12] Crimey opened #558 "MQTT subscribe Offline message"
Please fill out the form below before submitting, thank you!

- [ ] Bug exists Release Version 1.2.0 ( Master Branch)
- [* **] Bug exists in MQTTv3 Client on Snapshot Version 1.2.1-SNAPSHOT (Develop Branch)
- [ ] Bug exists in MQTTv5 Client on Snapshot Version 1.2.1-SNAPSHOT (Develop Branch)

If this is a bug regarding the Android Service, please raise the bug here instead: https://github.com/ecli

[2018-07-03 10:13] hylkevds commented on #453
From testing it would seem publish() is not thread safe.

In our application (https://github.com/FraunhoferIOSB/FROST-Server) we're publishing messages using multiple threads, and I've been having threads hang on publish. As soon as I synchronized on the paho client, the hangs vanished.

As soon as I have some time free I'll do some more testing.

[2018-07-04 03:16] Crimey opened #559 "MQTT subscribe and publish"
Please fill out the form below before submitting, thank you!

- [ ] Bug exists Release Version 1.2.0 ( Master Branch)
- [*] Bug exists in MQTTv3 Client on Snapshot Version 1.2.1-SNAPSHOT (Develop Branch)
- [ ] Bug exists in MQTTv5 Client on Snapshot Version 1.2.1-SNAPSHOT (Develop Branch)

If this is a bug regarding the Android Service, please raise the bug here instead: https://github.com/eclipse

[2018-07-06 12:09] djbr-david opened #560 "New Release"
Please fill out the form below before submitting, thank you!

- [ ] Bug exists Release Version 1.2.0 ( Master Branch)
- [ ] Bug exists in MQTTv3 Client on Snapshot Version 1.2.1-SNAPSHOT (Develop Branch)
- [ ] Bug exists in MQTTv5 Client on Snapshot Version 1.2.1-SNAPSHOT (Develop Branch)

If this is a bug regarding the Android Service, please raise the bug here instead: https://github.com/eclipse

[2018-07-06 16:56] linguokun1 opened #561 "I wonder why I use "jar -xvf" to decompress the jar and use "jar cf" to recompress it after modify a class. but it can't use in my project again when I copy it to libs directory"
I wonder why I use "jar -xvf" to decompress the jar and use "jar cf" to recompress it after modify a class. but it can't be used in my project again when I copy it to libs directory

I just want chage "executorService.awaitTermination(1L, TimeUnit.MILLISECOND)"  to
 executorService.awaitTermination(200, TimeUnit.SECONDS).
because I find that it will 100% block the main thread in Android app about

[2018-07-15 02:29] Mamathatg opened #562 "Paho:Mqttv3 1.2.0: EOF Exception Connection lost"
Below is the issue being faced,
Testing Scenario
Checking for continuous connection from our application to mqtt broker by pinging every 5 sec.
Keep alive is set to 5 sec.
Two scenarios where i am facing the issue
1) Ping response is failed and i get the Connection lost when there is a token null or wakelock held and there is Failure message Below is the log

**Sending Ping at: 1529422551514
Failu

[2018-07-15 21:16] hylkevds commented on #421
It's also a major issue for multi threaded applications, since two threads can call publish at the same time. One thread will hang because `waitForCompletion(getTimeToWait())` never returns, because its token is overwritten.

[2018-07-16 11:44] hylkevds commented on #509
I suspect this is the same issue as #421

[2018-07-16 11:54] hylkevds commented on #421
Besides giving QoS0 messages an ID I see only one other option, and that is giving the message a reference to the token.

This would also have the advantage that the CommsSender.run() does not have to hit the HashMap to find the token (and just a few calls later, ClientState.notifySend() again). QoS0 Tokens should simply never be added to the TokenManager, since they have no ID.

[2018-07-16 15:19] hylkevds commented on #453
The issue we had was the same as in #421, #477, #509

Potential issues that I noticed while debugging:
1. ClientComms.sendNoWait() first checks the size of the DisconnectedMessageBuffer, and later adds a message to it, but these two calls are not in the same synchronized context, thus the buffer may have been emptied in the meantime (by DisconnectedMessageBuffer.run()). As a result, the message is

[2018-07-16 16:04] joelcdunn opened #564 "SubOpts bits not getting set"
Synopsis: Setting the BITs NoLocal and the other SubOpts parameters using the Java Client, however we are not seeing them set when the SUBSCRIBE gets to the Server, only the QoS of SubOpts makes the trip.

Test Case sets QoS:2 and NoLocal in the Subscription Options for topic

Code Snippet:
case PAHOV5:
            org.eclipse.paho.mqttv5.common.MqttSubscription [] subs =
                     new

[2018-07-17 07:42] hylkevds commented on #558
How many off-line messages are retained seems more of a server-issue than a client-issue. How many messages a server will maximally retain for you while you are offline is not something the client has influence over.

[2018-07-17 08:01] hylkevds commented on #551
@pstanton: I don't think they time out (I've not found a timeout mechanism in the code).
[code]

[2018-07-19 08:20] Wanchen7 commented on #551
What should I do when this exception occurs? I don't think increase maxInflight it's a good solution . When client is running to enough time ,it will still reach the max value. I can't find a method to reset whole state except disconnect and reconnect again.

[2018-07-19 08:35] Wanchen7 commented on #552
@ChrisWatson12

you can define a topic like this:
topicName: /online/state/clinetId
body: {
	"id":"clinetId",
	"isOnline":true
}
isRetained:true

and set a will topic like this:
topicName: /online/state/clinetId
body: {
	"id":"clinetId",
	"isOnline":false
}
isRetained:true

each client subscribe topic: "/online/state/+"

[2018-07-19 08:41] dobermai commented on #551
The solution we are often using is by blocking the caller thread explicitly by using a Semaphore which has the value of the in-flight window for exclusive access to `publish()`. This ensures that no more `publish()` calls are allowed than the in-flight window.

Increasing the in-flight window won't solve the problem, as you still need to make sure that you don't exceed your in-flight window.

[2018-07-20 08:06] Wanchen7 commented on #551
@dobermai   you save my time, thanks a lot !!

[2018-07-23 09:07] AlexMAS commented on #348
As I see the project is no longer developing whereas there aren't good alternatives for `paho`. But anyway, we use the latest version and apparently have the same issue. Does anybody know what can we do with it? Is there some workaround? @on-delete @jvelo Do you have some success with it? Please, share your story, how you solved this issue? Thank you.

[2018-07-23 09:23] on-delete commented on #348
Hey @AlexMAS  , i try to reconstruct what we had done to fix this...
I think our problem was, that we used our consumer with cleanSession=false and static clientId. So when we did a reconnect, the consumer got his SUBACK before we received the actual CONNACK from the broker, so that the connection logic was out of order at this point. And the handler, to process the incoming messages, was not in p

[2018-07-23 18:03] joelcdunn commented on #564
unable to reproduce this 7/20 with PAHO trace enabled or not.

[2018-07-23 18:03] #564 closed, assigned to nobody

[2018-07-24 02:35] hugh282003 opened #565 "Why MqttException.REASON_CODE_SUBSCRIBE_FAILED"
[code]
what reason caused MqttException.REASON_CODE_SUBSCRIBE_FAILED?
why the logic is as below:
[code]

[2018-07-24 05:47] AlexMAS commented on #324
Does anyone have success with this issue?

[2018-07-24 14:06] jpwsutton commented on #565
Hi @hugh282003,

When a subscription fails for any reason, the broker will return 0x80 in the SUBACK, the client will then throw the REASON_CODE_SUBSCRIBE_FAILED exception to the application.

There is more detail about the SUBACK return codes here (http://docs.oasis-open.org/mqtt/mqtt/v3.1.1/os/mqtt-v3.1.1-os.html#_Toc398718071).

To see why the subscription failed, you'll want to look at your se

[2018-07-24 14:13] jpwsutton commented on #562
Hi @Mamathatg,

It looks like this is actually for the Android Service, is that correct? Android made some changes a few years ago that restricts the ability for applications to maintain network connections when running in the background. Effectively once the OS puts the application in the background, all alarms are disabled and network connections cease, could this be what you're experiencing?

[2018-07-24 14:16] jpwsutton commented on #561
Hi @linguokun1,

We could always expose a property to allow you to change this value without having to recompress the JAR?
I would imagine though that the signature of the JAR will have changed, and so it will no longer be correctly signed. If you need to change this value now and can't wait, I'd recommend just compiling the JAR yourself from source.

[2018-07-24 14:18] Mamathatg commented on #562
Hi James,
        Correct, It is for Android service but the application runs always
in foreground as I keep the phone connected to usb.

On Tue 24 Jul, 2018, 7:43 PM James Sutton, <notifications@github.com> wrote:

[2018-07-24 14:21] jpwsutton commented on #560
Hi @djbr-david, Sorry for the delay, we've just been polishing a few last things off with V5. The answer is: very soon!

[2018-07-25 10:36] djbr-david commented on #560
Many thanks for the reply - much appreciated.

[2018-07-25 10:36] #560 closed, assigned to nobody

[2018-07-25 13:21] borgendale commented on #538
When pahov5 throws an exception and because of this closes the connection, it does not send a DISCONNECT to the server before doing so.

[2018-07-25 15:29] joelcdunn opened #566 "PAHO V5 stopped on PUBACK with malformed 0x1f data. Client Timeouts waiting on PAHO response."
- [] Bug exists Release Version 1.2.0 ( Master Branch)
- [] Bug exists in MQTTv3 Client on Snapshot Version 1.2.1-SNAPSHOT (Develop Branch)
- [X] Bug exists in MQTTv5 Client on Snapshot Version 1.2.1-SNAPSHOT (Develop Branch)

Local TC:  mqttv5_reasoncode/testmqttv5_MPSwRC (just for reference)

pubackMPSNoRc
Currently the MaxPacketSize is defaulted in the CONNECT, and ReqeustProbleminfo and Reques

[2018-07-25 15:55] joelcdunn opened #567 "PAHO V5 Traps in PUBLISH yet resposne is RC=0(?!) with exception=Untranslated MqttException - RC: 51001 (51001)"
- [ ] Bug exists Release Version 1.2.0 ( Master Branch)
- [ ] Bug exists in MQTTv3 Client on Snapshot Version 1.2.1-SNAPSHOT (Develop Branch)
- [X] Bug exists in MQTTv5 Client on Snapshot Version 1.2.1-SNAPSHOT (Develop Branch)

Local TC: mqttv5_reasoncode/testmqttv5_MPSwRC (just for reference)

disconnectMPSNoRc
1. MQTTv5 CONNECT with MaxPacketSize = 65 and RequestProblemInfo and RequestResponseI

[2018-07-26 12:11] jvelo commented on #348
Hello @AlexMAS,
We've built our own reconnection mechanism on top of the async client so that it reconnects when we detect such instances. Not ideal, but it fixed our issue at hand.

[2018-07-26 12:12] jvelo commented on #348
(BTW we're using the async client)

[2018-07-26 13:35] AlexMAS commented on #348
@on-delete @jvelo Thank you for your reply

[2018-07-27 10:27] denravonska commented on #348
Same issue here with 1.2.0.

- Static client ID per instance
- Shaky connection
- QoS 1
- clean session, false

Messages keep getting logged to disk after reconnecting. What is the appropriate workaround for this?

[2018-07-27 10:34] on-delete commented on #348
@denravonska how do you setting the messagehandler for processing the incoming messages?
Can you try to set it before you open the connection?

[2018-07-27 10:36] denravonska commented on #348
@on-delete The client callbacks? I set that once when the client is created before connecting, and the client is not destroyed for the entire duration.

[2018-07-27 10:46] on-delete commented on #348
Sync or async client?

[2018-07-27 10:47] denravonska commented on #348
Async.

[2018-07-27 13:42] denravonska commented on #348
@jvelo How do you detect when the client is in this state?

[2018-07-27 19:08] pl89 opened #568 "waitForCompletion() interrupted when called from connectionLost() / - 1.2.0 regression (not present in 1.1.0)"
Please fill out the form below before submitting, thank you!

- [ No ] Bug exists Release Version 1.1.0
- [ Yes ] Bug exists Release Version 1.2.0 ( Master Branch)
- [ Yes ] Bug exists in MQTTv3 Client on Snapshot Version 1.2.1-SNAPSHOT (Develop Branch)
- [ Cannot verify, broker used doesn't support MQTTv5 ] Bug exists in MQTTv5 Client on Snapshot Version 1.2.1-SNAPSHOT (Develop Branch)

I am usin

[2018-07-30 09:01] jvelo commented on #348
@denravonska we check a threshold value on bufferedMessageCount and assume we're in this "connected but messages aren't going through" state when threshold is passed.

[2018-07-31 06:50] linguokun1 commented on #561
@jpwsutton It is the best that if you can expose a property to allow me to change this value without having to recompress the JAR. Thanks

[2018-08-01 14:00] #561 closed, assigned to nobody

[2018-08-08 15:56] StevenSalazarM commented on #559
I noticed about a similar problem, i'm sending messages with quality of service 0 and i receive all of  them as 1

[2018-08-10 09:53] Crimey commented on #558
@hylkevds please see #559

[2018-08-10 09:58] Crimey commented on #559
@StevenSalazarM not the same problem , I'm actively using qos 0 or 1 to receive  messages,the state of the message will not change,message state that was set when it was sent.

[2018-08-10 10:04] hylkevds commented on #559
Can you make a minimal test project that shows the problem, because it's not quite clear what you are doing.

[2018-08-13 13:48] kami4ka opened #570 "Information about 1.2.1 release: date, stability, nightly builds."
Hello.
I'm totally satisfied with Paho library and it's a pretty great thing for my projects, but I've faced the problem when tried to fix crashes, that occurred in lib.
A lot of crash fixes and changes are already committed and merged to develop branch, but in case of "nightly" label, it seems not suitable for production usage.

So, community, any hope about 1.2.1 version at an early date or at s

[2018-08-13 14:02] LeoDroidCoder commented on #570
+1 really waiting for an update

[2018-08-15 10:30] icraggs commented on #565
I think this question is answered.

[2018-08-15 10:30] #565 closed, assigned to nobody

[2018-08-15 10:35] icraggs commented on #519
You can implement your own reconnect behaviour by switching off auto-reconnect and using the connectionLost() callback.

[2018-08-15 14:48] icraggs commented on #570
The usual maintainer, @jpwsutton is on vacation until next week.  The plan is to get a new release out in the next week or two, along with the MQTT V5 support.

[2018-08-15 15:08] kami4ka commented on #570
@icraggs nice to hear such great news. Waiting for release!

[2018-08-16 20:51] joelcdunn commented on #567
This is still an issue with the UPDATED PAHO Driver.
[paho0.log.0.log](https://github.com/eclipse/paho.mqtt.java/files/2295204/paho0.log.0.log)
Here is the updated PAHO TRACE using that new Driver.

One note that might not have been clear is there is only 1 client which SUBs and PUBs to itself in same session/connection.

[2018-08-20 06:59] zhaohaifeng opened #571 "The client is not thread safe when set qos0"
Please fill out the form below before submitting, thank you!

- [ yes] Bug exists Release Version 1.2.0 ( Master Branch)
- [ yes] Bug exists in MQTTv3 Client on Snapshot Version 1.2.1-SNAPSHOT (Develop Branch)
- [ not know ] Bug exists in MQTTv5 Client on Snapshot Version 1.2.1-SNAPSHOT (Develop Branch)

I found a bug that the mqttclient is not thread safe sometimes.

When we config qos0,and send

[2018-08-20 12:31] icraggs commented on #533
Latest changes

On line 182 reverse the test
On line 194: change the if statement logic
On line 199: put out the char as a 4 digit hex value

[2018-08-20 13:40] manas-chaudhari commented on #425
There needs to be a way to stop the reconnection. OR at least the disconnect function should stop the reconnection cycle (in disconnected state).

Usecase:
1. Page with MQTT functionality is opened. Here, we connect with automaticReconnect true.
2. Network goes bad, client gets disconnected. Reconnect cycle starts.
3. Page is closed. Here, there needs to be a way to stop the reconnection cycle as

[2018-08-20 18:36] icraggs opened #572 "java.lang.IllegalArgumentException: no NetworkModule installed for scheme "tcp""
Please fill out the form below before submitting, thank you!

- [ ] Bug exists Release Version 1.2.0 ( Master Branch)
- [ ] Bug exists in MQTTv3 Client on Snapshot Version 1.2.1-SNAPSHOT (Develop Branch)
- [x ] Bug exists in MQTTv5 Client on Snapshot Version 1.2.1-SNAPSHOT (Develop Branch)

java.lang.IllegalArgumentException: no NetworkModule installed for scheme "tcp" of URI "tcp://10.47.65.249:2

[2018-08-21 10:38] icraggs commented on #572
I've added a fix - just synchronising access to NetworkModuleService.validateURI().  What changed since the merge of the 'new websocket header enhancement', I'm not sure.

[2018-08-21 15:27] jpwsutton commented on #558
Hi @Crimey  What type of MQTT broker are you using? This does sound like a server side restriction rather than an issue with the Paho Client.

[2018-08-21 15:28] jpwsutton commented on #559
@Crimey, As @hylkevds said, an example application that we can test locally would be a great help, thanks.

[2018-08-21 15:31] jpwsutton commented on #26
Resolved by PR #440

[2018-08-21 15:31] #26 closed, assigned to jpwsutton

[2018-08-21 15:36] #546 closed, assigned to nobody

[2018-08-21 20:15] leetosc commented on #572
I'm still getting errors with the new version of the client.  Each run the set of exceptions thrown is different.
[code]
[code]

[2018-08-22 08:33] a-zink opened #573 "Broken possibility to use a proxy for SSL/WSS connections"
- [X] Bug exists Release Version 1.2.0 ( Master Branch)
- [X] Bug exists in MQTTv3 Client on Snapshot Version 1.2.1-SNAPSHOT (Develop Branch)
- [X] Bug exists in MQTTv5 Client on Snapshot Version 1.2.1-SNAPSHOT (Develop Branch)

In the past it was possible to set a custom SocketFactory in order to create a proxy-aware socket. However, this is broken for SSL/WSS since 1.2.0 due to SNI support intro

[2018-08-22 13:49] a-zink opened #575 "Feature request: Native proxy support without providing custom SocketFactory"
The client allows to set a custom SocketFactory which allows the connection to be established over a proxy. However this is quite cumbersome. Using a proxy should be an easy-to-use feature of the client because this is a quite common use-case. Especially for mqtt over websockets, which is already supported.

There are basically two use-cases for mqtt over websockets
(also see introduction chapter

[2018-08-22 14:09] a-zink commented on #573
This is an example for a custom, http-proxy-aware socket factory which works together with the fix. The default SSLSocketFactory (javax.net.ssl.SSLSocketFactory.getDefault()) could be used as delegate.

[code]

[2018-08-22 14:46] icraggs commented on #572
I see connection errors, but not the "noSuchElementException"

[2018-08-22 18:59] icraggs commented on #75
This sounds like the trace problem that was confusing us in the output today.

[2018-08-23 02:27] chenyugui opened #576 "ClientState: C5180518000011: Timed out as no activity, keepAlive=60,000 lastOutboundActivity=1,534,923,567,979 lastInboundActivity=1,534,923,507,945 time=1,534,923,627,951 lastPing=1,534,923,567,979"
how to fix this issues! when i use the paho.mqtt.3.1.2.0 java.jar

[2018-08-23 02:46] chenyugui commented on #199
@peteWoz hi .  We meet this same issue, do you fix it ?

[2018-08-23 08:24] icraggs commented on #576
I think we'll need a bigger section of the trace.  Looks like a keep alive timeout to me.  What symptom does your application program get?

[2018-08-23 08:40] icraggs commented on #75
I think just making the log instantiation non-static should do the trick:

private Logger log = LoggerFactory.getLogger(LoggerFactory.MQTT_CLIENT_MSG_CAT, CLASS_NAME);

[2018-08-23 09:15] #389 closed, assigned to nobody

[2018-08-23 09:19] jpwsutton commented on #290
Closing as we never found a better way to change the IMqttAsyncClient API. There are still use cases where someone might want to connect using the default options, so I didn't feel that removing the existing `connect(java.lang.Object userContext, IMqttActionListener callback)` was the right thing to do, ultimately, the documentation is fairly clear and if using a modern IDE, most developers should

[2018-08-23 09:19] #290 closed, assigned to jpwsutton

[2018-08-23 09:21] jpwsutton commented on #278
Moving to backlog, we're now in Java 1.7 and above, so this task should be possible, however it will need to be carefully tested as it will mess with timing logic.

[2018-08-23 09:24] jpwsutton commented on #174
These were added in commit 777161c1d6dd00a4c6245f2adc9f2554dadfb67a, further enhancements can be made in the future if required, but under a different issue.

[2018-08-23 09:24] #174 closed, assigned to nobody

[2018-08-23 10:35] chenyugui commented on #576
my application with the issues is when the mqtt client publish a topic  which has subscribed from the server, it will trigger this issues randomly.the issues title is the log.
I use the version of the eclipse.paho java library as follow:
'org.eclipse.paho:org.eclipse.paho.client.mqttv3:1.2.0'
the configuration of my application as follow:
        private boolean automaticReconnect = true;

[2018-08-23 11:35] icraggs commented on #572
This fix is added to the develop branch only.  I don't see the 'no NetworkModule'  errors any more.

In the supplied test program there are errors on starting > 5 client threads simultaneously, which is removed if there is a 50ms interval before the connect of each batch of 5 threads.  This apparently occurred with the previous version of the client too, so it should be nothing new.  I would like

[2018-08-24 01:56] joelcdunn opened #577 "ReceiveMax defaults when not returned in CONNACK causes NPE when PUBLISH attempted"
Please fill out the form below before submitting, thank you!

- [ ] Bug exists Release Version 1.2.0 ( Master Branch)
- [ ] Bug exists in MQTTv3 Client on Snapshot Version 1.2.1-SNAPSHOT (Develop Branch)
- [x ] Bug exists in MQTTv5 Client on Snapshot Version 1.2.1-SNAPSHOT (Develop Branch)

PubMaxRM client is able to CONNECT successfully and gets the expected CONNACK, and NO value is return for 'R

[2018-08-24 15:13] leetosc commented on #572
Adding a delay between starting each thread helps somewhat - a few threads will connect successfully, however the errors still occur consistently (both the IllegalArgumentException and the NoSuchElementException) on the remaining threads.

This never occurred in the previous version of the clients, even with no delay between starting the threads.

[2018-08-24 20:15] icraggs commented on #572
The fix I added to the develop branch works for me - I don't get any of these errors any more with the test program you supplied.  So we need to be sure that you're picking up the fix.

@jpwsutton can we merge this to master?  How do we usually deliver these fixes.

[2018-08-24 21:54] leetosc commented on #572
I pulled the latest versions and it does look like it's working now.
`org.eclipse.paho.mqttv5.common-1.2.1-20180824.040636-54.jar`
`org.eclipse.paho.mqttv5.common-1.2.1-20180824.040636-54.jar`

[2018-08-28 17:47] jpwsutton commented on #570
Hi all, we're working on getting a stable release out ASAP. Currently there are some tests that although seem to pass on a normal machine, fail on Travis due to suspected timing issues.  I'm going to see if I can resolve these this week as well as going through all of the open issues to make sure they are up to date.

[2018-08-28 17:53] jpwsutton commented on #190
I think this question has been answered by @nisrulz (Thank you), so I'm going to close it.

[2018-08-28 17:53] #190 closed, assigned to nobody

[2018-08-28 17:54] jpwsutton commented on #220
Closing issue, as there hasn't been any response since 2016.

[2018-08-28 17:54] #220 closed, assigned to jpwsutton

[2018-08-28 18:17] jpwsutton commented on #265
After coming back to this issue and reviewing it, I'm tempted to say that we shouldn't fix this, or that we should deprecate the generateClientId function entirely. It currently generates a clientId that is 23 characters long and so will be compatible with MQTT 3.1 brokers, if we change it to use UUIDs, then that compatibility will be broken. I would recommend that developers generate their own cl

[2018-08-28 18:34] jpwsutton commented on #274
I've checked the relevant files, these changes have been made and are in line with Java 7 standards, relevant commit: dd7970d1e3010a4af1c1bac76e0a0ce1de57c5d4

[2018-08-28 18:34] #274 closed, assigned to jpwsutton

[2018-08-28 19:27] #297 closed, assigned to jpwsutton

[2018-08-28 19:27] #306 closed, assigned to nobody

[2018-08-28 19:47] jpwsutton commented on #324
I'm still unable to recreate this issue, is anyone still experiencing it? If so, it would be really handy to get some more information about the broker / version that you are using.

[2018-08-28 19:50] #341 closed, assigned to nobody

[2018-08-28 19:52] jpwsutton commented on #342
Closing as we've had no response since March 2017

[2018-08-28 19:52] #342 closed, assigned to nobody

[2018-08-28 19:54] jpwsutton commented on #345
@Typhlosaurus, @beersheba, @sandyperez, If anyone could send me a copy of the headers returned from AWS that would be great, otherwise I will try and recreate this when I get the opportunity.

[2018-08-28 19:56] jpwsutton commented on #349
Thanks @NampyoJeong, I'll close this issue now then as we will be releasing the next version soon.

[2018-08-28 19:56] #349 closed, assigned to nobody

[2018-08-28 19:56] #350 closed, assigned to nobody

[2018-08-28 19:57] #351 closed, assigned to nobody

[2018-08-28 19:58] jpwsutton commented on #355
@matsukaz, can you confirm if this is still happening for you? The Integration tests for the Automatic Reconnect functionality seem to all be passing.

[2018-08-28 20:10] #392 closed, assigned to nobody

[2018-08-28 20:13] #393 closed, assigned to nobody

[2018-08-28 20:21] jpwsutton commented on #401
Hi @Jeromelichun, it is possible that there could be some performance enhancements by changing the callback thread profile, but I'd imagine that would likely be a big change to the architecture of the client. We're definitely open to Pull Requests with any improvements you can find though!

[2018-08-28 20:28] jpwsutton commented on #423
Thanks @lvc, very interesting!

[2018-08-28 20:28] #423 closed, assigned to nobody

[2018-08-28 20:28] jpwsutton commented on #426
No update since 2017, closing.

[2018-08-28 20:28] #426 closed, assigned to nobody

[2018-08-28 20:34] jpwsutton commented on #429
It could be that your client is being forcefully disconnected from the broker. I would verify that the broker accepts the messages being published  and the topics being subscribed to with a tool like mqtt-spy or mosquitto_pub and mosquitto_sub first. I'd also try your program with a compliant broker like mosquitto first to see if the client or broker are at fault.

[2018-08-28 20:35] jpwsutton commented on #431
What version of MQTT broker are you using? And do you have a copy of the connection lost error message (from the Throwable)?

[2018-08-28 20:45] #552 closed, assigned to nobody

[2018-08-30 09:37] jpwsutton commented on #278
After far too long, I've finally sat down and made the relevant changes to move from currentTimeMillis to nanoTime. I've also updated the relevant tests to use nanoTime as well.

The only thing that I think might need looking at in the future, is the use of the delta in ClientState.checkForActivity which seems to have been added in the past as a workaround to deal with inaccuracies caused by curre

[2018-08-31 07:18] ishaangarg opened #578 "Changelog for new versions?"
Is there a changelog for the new version 1.2.0?

[2018-08-31 07:45] jpwsutton commented on #102
I think this is going to have to be added to the backlog, though if anyone wants to have a crack it it, they are more than welcome.

[2018-08-31 07:56] jpwsutton commented on #535
Fixed in Issue #540, commit: 65340a3

[2018-08-31 07:56] #535 closed, assigned to nobody

[2018-08-31 08:03] jpwsutton commented on #532
I think this was resolved under Issue #540, commit dfca976 where the validateVariableByteInt was added as the first step in encodeVariableByteInteger, as well as adding the same form of validation in readVariableByteInteger

[2018-08-31 08:03] #532 closed, assigned to jpwsutton

[2018-08-31 08:06] #533 closed, assigned to jpwsutton, icraggs

[2018-08-31 08:37] jpwsutton commented on #549
The 'fix submitted' label was a mistake, this issue still exists in the client, however an appropriate workaround for developers would be to implement their own try-catch logic in each messageArrived callback. I'll move this to the backlog for now and look to improve this in the future.