[2018-08-31 08:44] jpwsutton commented on #462
Resolved as part of issue #553, commit 399926e

[2018-08-31 08:44] #462 closed, assigned to jpwsutton

[2018-08-31 09:25] jpwsutton commented on #567
Exception 51001, is for incoming / outgoing message size too large. I've added the correct Exception messages in commit d462aeb. It looks though like the Publish you were sending was going to be too large. Now that I've added the correct Exception message, you can try re-running this test case to see if it performs correctly.

[2018-09-02 01:40] SrEduardo commented on #426
I had the same error while building the Version 1.2.0 ( Master Branch) with maven, on UBUNTU 16.04:

`1 error`
`1 warning`
`[INFO] ------------------------------------------------------------------------`
`[INFO] Reactor Summary:`
`[INFO] `
`[INFO] Eclipse Paho 1.2.0 ................................. SUCCESS [  0.399 s]`
`[INFO] org.eclipse.paho.client.mqttv3 ..................... FAILURE [  9.789

[2018-09-03 15:02] jliang1010 opened #579 "Missing up to date releases at http://download.eclipse.org/paho"
Please fill out the form below before submitting, thank you!

- [ ] Bug exists Release Version 1.2.0 ( Master Branch)
- [ ] Bug exists in MQTTv3 Client on Snapshot Version 1.2.1-SNAPSHOT (Develop Branch)
- [ ] Bug exists in MQTTv5 Client on Snapshot Version 1.2.1-SNAPSHOT (Develop Branch)

I am using this link http://download.eclipse.org/paho/ to check out the paho artifact in my project. Found ou

[2018-09-03 16:00] kami4ka opened #580 "Wrong release and snapshot version at: https://www.eclipse.org/paho/clients/java/"
When I visit the following link (https://www.eclipse.org/paho/clients/java/) from the main README.md  I can see that the "The latest release version is 1.0.2 and the current snapshot version is 1.0.3." but it seems like not the truth, because now the latest release version is 1.2.0 and snapshot version is 1.2.1.

It would be quite nice to update that page.
Thanks.

[2018-09-05 06:56] sanjeevprasad commented on #399
Whenever a function throws `InterruptedException` after catching and before filling it into `MqttExeption` cause parameter. **I think[1]** code should restore the interrupted flag using
`Thread.currentThread().interrupt();`

[1]  i don't know what is happening inside mqtt library.. this is my assumption that is is not being done. may be there is some other issue. i am saying based on the same issu

[2018-09-07 06:29] phils-ingenuity commented on #435
Hi. We're also experiencing this issue, except we are using the auto reconnect feature. What we see is that  multiple file descriptors are created for the same lock file whenever the client is disconnected from the server and messages are persisted to disk. Over time this means that the file descriptor limit is reached. Even on re-connection these are not recovered.

[2018-09-07 19:58] swpalmer commented on #429
I get this attempting to publish to demo.thingsboard.io.  The exact same code publishes successfully to iot.eclipse.org

[2018-09-07 20:31] swpalmer opened #581 "QoS on wire is always set to 1"
Please fill out the form below before submitting, thank you!

- [x] Bug exists Release Version 1.2.0 ( Master Branch)
- [?] Bug exists in MQTTv3 Client on Snapshot Version 1.2.1-SNAPSHOT (Develop Branch)
- [?] Bug exists in MQTTv5 Client on Snapshot Version 1.2.1-SNAPSHOT (Develop Branch)

When a message has QoS set to 0 or 2, Wireshark still shows that the QoS going out is set to 1.

[2018-09-10 10:14] jpwsutton commented on #581
Hi @swpalmer,

I've just written a quick test that publishes a message at QoS 2 and can see it being received correctly at the broker as QoS 2:

Test Log:
[code]

Broker Log:

[code]

Looking at the output from Wireshark, I can see it identifying the header byte as 0x34 (0011 0100)
Breaking it down manually:
 - `0011 ....` - PUBLISH
 - `.... 0...` - Dup - False
 - `.... .10.` - QoS - 2
 - `.... ..

[2018-09-10 10:58] matsukaz commented on #355
@jpwsutton Latest develop branch works fine now!

[2018-09-10 12:23] #355 closed, assigned to nobody

[2018-09-10 13:55] swpalmer commented on #581
Thanks for looking into it.

This is very weird. I have code like this:

	System.err.println("*** publishing QoS="+message.getQos()+", msg="+message);
	client.publish(topic, message);

message is org.eclipse.paho.client.mqttv3.MqttMessage
client is org.eclipse.paho.client.mqttv3.MqttClient

The debug print shows the correct QoS (0 in my case, though I tried 2 as well), but Wireshark *always* shows

[2018-09-10 14:15] jpwsutton commented on #581
There shouldn't be any multi-threading issues with the Paho client, we commonly spin up multiple threads when testing it.

Are you by any chance subscribing to the same topic on the same machine? Any incoming messages would also show as publish messages in Wireshark, and the Client will subscribe with QoS 1 by default...

[2018-09-10 15:03] swpalmer commented on #581
I filtered Wireshark messages by destination IP so I don't think that is the case.
I checked all MQTT Publish messages and they all have the same QoS when I run my main app.  I'm using the same Wireshark capture when I run the test program that works and my main app (with the print) that doesn't.

The main app is publishing every second or more and always hitting the connection lost due to EOF bug

[2018-09-10 15:51] jpwsutton opened #582 "Disconnected Message Buffer sometimes overruns the in flight window"
Please fill out the form below before submitting, thank you!

- [x] Bug exists Release Version 1.2.0 ( Master Branch)
- [x] Bug exists in MQTTv3 Client on Snapshot Version 1.2.1-SNAPSHOT (Develop Branch)
- [x] Bug exists in MQTTv5 Client on Snapshot Version 1.2.1-SNAPSHOT (Develop Branch)

If this is a bug regarding the Android Service, please raise the bug here instead: https://github.com/eclipse

[2018-09-10 18:08] swpalmer commented on #581
After getting extremely confusing results from my code, I decided to change the client ID (in the same running instance of the application), and it magically it started doing the right thing.  Prior to that I got very strange results - including publishing to the wrong (old) topic.  This is after many  code changes and re-launches of the process.
I printed the topic and message details immediately

[2018-09-10 19:19] guillaume-fr opened #583 "Race condition in Debug class"
Duplicate of https://github.com/eclipse/paho.mqtt.java/issues/75

[2018-09-11 07:59] jpwsutton commented on #582
Fixing the test to have an max inflight window of 100 is a temporary fix to this issue. As this issue hasn't been picked up by anyone in their own applications as far as I can see, I'm going to put this on the backlog for the next release. Once this has been fixed though, the `testManyMessageBufferAndDeliver` test needs to have the max inflight setting removed.

[2018-09-11 15:18] swpalmer commented on #581
This was caused by a misunderstanding of the persistence mechanism. Sorry for the noise.

[2018-09-11 15:18] #581 closed, assigned to jpwsutton

[2018-09-12 05:00] alexmantaut commented on #435
@jpwsutton  Is there any workaround for this issue? Reconnecting does not seem to fix it for us, and it makes our application crash after a while because of the file descriptor limit...

[2018-09-12 19:34] jpwsutton commented on #582
I've added a possible fix in the v5 client as well, this will prevent publishes being sent until there are 4 spaces in the inflight window. This seemed to work for me, we could dynamically size this based on the qos of the message being sent?

[2018-09-17 09:09] rexlin600 commented on #576
i meet this problem too,how do you fix this?

[2018-09-18 01:09] rexlin600 commented on #576
Maybe you can check the reasons from the MQTT server. @chenyugui
I found that this timeout problem was due to the timeout caused by broker queue blocking between the server and the client when QOS = 2. But I'm not sure if I am right.  @icraggs

[2018-09-18 18:39] pschichtel commented on #511
I'm using callbacks when connecting, but they will never be called due to this problem. I'd prefer to not block on waitForCompletion().

[2018-09-19 07:26] ghost commented on #570
@jpwsutton Any update on this?

[2018-09-19 09:52] jpwsutton commented on #570
Hi @LaurenceBonney, We are looking at getting a release built by the end of next week.

[2018-09-19 10:13] jurek7 commented on #551
@dobermai could you please share sample code ?

[2018-09-19 18:33] jurek7 commented on #551
I'm sharing my code to work-around this issue. Solution is based on semaphore locking as @dobermai suggested:

[code]

Above solution works well, but in my opinion there must be something wrong with the implementation of max inflight messages inside library:

[code]

I'd expect that using blocking API will send up to MAX_INFLIGHT messages and will block sending new messages until it received PUBAC

[2018-09-24 07:20] alexmantaut commented on #435
I did some research into the issue... It seems that on open() MqttDefaultFilePersistence creates a new FileLock, overwriting the existing file and losing the current file descriptor. Upon re-connection, this causes losing open file descriptors, as the GC does not call the release method.

Comparing to MemoryPersistance, and based on #178, I think that the MqttClientPersistence interface should all

[2018-09-24 12:05] lucapaciello commented on #576
Hi. I notice the same problem too: I have a java mqtt client. if my broker falls, the mqtt client gets a "connection lost", instead if I disconnect the router from the internet, the client just gets an error like

org.eclipse.paho.client.mqttv3.internal.ClientState checkForActivity
SEVERE: CLIENT_ID: Timed out as no activity, keepAlive=20,000 lastOutboundActivity=1,537,783,810,402 lastInboundActiv

[2018-09-24 15:43] lucapaciello commented on #324
To me, this thing happens when the client loss the network connection. To be precise, I have an embedded pc running on a local network having an acces to the company wan. The mqtt client works fine but, if i disconnect even for some seconds the router from the wan, I get the output "Jan 26, 2017 3:34:56 PM org.eclipse.paho.client.mqttv3.internal.ClientState checkForActivity
SEVERE: client-5: Timed

[2018-09-26 07:14] ElkeSombrowski opened #585 "problem using the mqtt.jar file in a Java 10 project"
Hi,

I'm trying to use the paho mqtt library in a Java 10 project.
It works fine if I put the jar file on the class path.
But if I move the jar to the module path and add the line
requires org.eclipse.paho.client.mqttv;
to module-info.java
my project doesn't compile any more, giving the error message:
error: module not found: org.eclipse.paho.client.mqttv requires org.eclipse.paho.client.mqttv;

T

[2018-09-26 11:50] gprivalov commented on #402
I found a workaround by supplying my own executor instance when creating MqttClient.  I shutdown the executor explicitly after closing the client.

[2018-09-26 20:41] nemecec commented on #339
Exists also in 1.2.0

[2018-10-01 10:12] IntellectSoftDeveloper commented on #570
@jpwsutton nice to hear such great news!
Can you, please, keep us informed, because this is really great improvement for IoT community!

[2018-10-02 10:19] thinh76 opened #589 "Client stopped receiving messages from broker for no reasons"
Please fill out the form below before submitting, thank you!

- [ ] Bug exists Release Version 1.2.0 ( Master Branch)

We have 2 java clients using this library. Both are using MqttAsyncClient with cleanSession = false, keepAlive = 10 seconds and automaticReconnect is enabled.  We also have a python client and a node client connecting to the same broker (Mosca on top of Redis).

For some unknown r

[2018-10-03 02:54] dokiKit commented on #342
Can be reproduced in android lib in the same situation, where wifi is turn-off then on
[code]
[code]

[2018-10-03 03:27] dokiKit commented on #342
more logs
[code]

[2018-10-03 07:11] jpwsutton commented on #342
The exception is clearly saying that the connection was refused by the server. I suggest that you check that the server is running and that there is an open port in your firewall between the client and server.

[2018-10-03 07:12] jpwsutton commented on #585
Hi, I've not tried to compile against Java 10 yet, but I imagine that if there are any issues then they will be resolved in the next release after this one.

[2018-10-03 07:18] jpwsutton commented on #589
Can you confirm that the client is no longer receiving messages after it had automatically reconnected?
If that's the case, can you double check to make sure that it's using clean session false? Maybe as a further test, add a subscribe into the reconnect callback to see whether that fixes the issue, this may help us debug further.

[2018-10-03 07:18] #583 closed, assigned to nobody

[2018-10-03 10:41] thinh76 commented on #589
As you can see from the log after the client automatically reconnected successfully, everything worked as expected. From log line *marquee_28122702576940aaa08b29c64da91ea3: Automatic Reconnect Successful: marquee_28122702576940aaa08b29c64da91ea3* to a few after that.
However, after a while it stop receiving any messages so I don't know why.

As you can also see from the log above *cleanSession=fal

[2018-10-04 20:19] serenegrace commented on #324
I believe I am experiencing this issue.
If I speed up my on_message callback function, there is no problem and everything works as intended.

[2018-10-05 14:04] #567 closed, assigned to nobody

[2018-10-05 14:05] #278 closed, assigned to nobody

[2018-10-05 14:05] #75 closed, assigned to icraggs

[2018-10-05 14:09] #540 closed, assigned to jpwsutton

[2018-10-05 14:10] jpwsutton opened #590 "Improve MQTTv5 mqttErrorOccured behaviour."
Please fill out the form below before submitting, thank you!

- [ ] Bug exists Release Version 1.2.0 ( Master Branch)
- [ ] Bug exists in MQTTv3 Client on Snapshot Version 1.2.1-SNAPSHOT (Develop Branch)
- [X] Bug exists in MQTTv5 Client on Snapshot Version 1.2.1-SNAPSHOT (Develop Branch)

If this is a bug regarding the Android Service, please raise the bug here instead: https://github.com/eclipse

[2018-10-05 14:11] jpwsutton opened #591 "MQTTv5 - Send disconnect packet when automatically disconnecting"
Please fill out the form below before submitting, thank you!

- [ ] Bug exists Release Version 1.2.0 ( Master Branch)
- [ ] Bug exists in MQTTv3 Client on Snapshot Version 1.2.1-SNAPSHOT (Develop Branch)
- [X] Bug exists in MQTTv5 Client on Snapshot Version 1.2.1-SNAPSHOT (Develop Branch)

If this is a bug regarding the Android Service, please raise the bug here instead: https://github.com/eclipse

[2018-10-05 14:11] #506 closed, assigned to jpwsutton

[2018-10-08 10:14] manas-chaudhari opened #592 "When autoreconnect is enabled, disconnect must stop reconnect cycle"
- [x] Bug exists Release Version 1.2.0 ( Master Branch)
- [x] Bug exists in MQTTv3 Client on Snapshot Version 1.2.1-SNAPSHOT (Develop Branch)
- [x] Bug exists in MQTTv5 Client on Snapshot Version 1.2.1-SNAPSHOT (Develop Branch)

Currently, when invoking connect with autoReconnect enabled, there's no way to close the connection.

Consider the case when connection is no longer required, and we want

[2018-10-12 05:22] konradmichael commented on #435
Thank you for your research and resolution.

[2018-10-12 05:22] #435 closed, assigned to nobody

[2018-10-15 03:18] #529 closed, assigned to nobody

[2018-10-17 00:08] alexmantaut opened #594 "Messages not being deleted from disk after reconnection, while using MqttDefaultFilePersistence"
Please fill out the form below before submitting, thank you!

- [*] Bug exists Release Version 1.2.0 ( Master Branch)
- [*] Bug exists in MQTTv3 Client on Snapshot Version 1.2.1-SNAPSHOT (Develop Branch)

**How to reproduce:**
- Create a client with MqttDefaultFilePersistence, set the persistance dir to a known location.
- Set a DisconnectedMessageBuffer with small buffer size (i.e 10) and isDelet

[2018-10-17 07:36] jpwsutton commented on #594
Hi, when you say that you are disconnecting and reconnecting to the broker, is this a manual call that you are making? Or is this an unexpected disconnection i.e. network loss, and the reconnection is completed by the automatic reconnect functionality?

[2018-10-17 07:38] alexmantaut commented on #594
The disconnection is caused by a network loss.
Automatic reconnect is on.

[2018-10-17 08:43] jpwsutton commented on #534
This functionality exists in ClientState.notifyReceivedAck and ClientState.handleInboundPubRel

[2018-10-17 08:43] #534 closed, assigned to nobody

[2018-10-17 08:52] jpwsutton commented on #566
The hex representation of the packet above is rejected by our packet library as malformed, I'll see if I can dig deeper to find out why. If a MalformedPacket Exception is thrown though, the client should just drop it and continue as normal, I'm surprised that didn't happen..

[2018-10-19 06:43] jpwsutton commented on #592
This seems like a good improvement that could be made, it should all be do-able from within the MqttAsyncClient class. You're more than welcome to submit a PR that fixes this!

[2018-10-23 17:02] davidgraeff commented on #502
Can be closed, can't it?

[2018-10-24 01:56] thinh76 opened #595 "Paho leaves messages in unacked state when starting up"
- [ x ] Bug exists Release Version 1.2.0 ( Master Branch)

When the application that uses paho library is starting up, it has successfully connected to the broker, but has not got a chance to subscribe any topics yet. The broker (RabbitMQ MQTT) will send the retained messages to this client, and paho simply ignores these messages causing the messages to stay in unacked state in the broker and the

[2018-10-24 19:36] huntc commented on #401
I’d doubt you’d see performance improvements with more threads. It doesn’t appear that you’re blocking in the callback.

I presume you have a QoS of 1 happening here? That will slow consumption down as the MQTT spec requires each topic to be an ordered one. Each publish must arrive in order for a given topic. If you had multiple topics then I’d expect to see an improvement in throughput.

[2018-10-27 20:10] BrunoVernay commented on #507
Is JME MIDP or Java ME still a requirement??  Or maybe you could create a "legacy" branch ?

[2018-10-30 02:46] alexmantaut commented on #594
I checked the code, and messages where being discarded in DisconnectedMessageBuffer, but they were not being discarded from the Persistence class.

The solution I came up with was adding a callback to be called if a message is discarded from the buffer, and used that to un-persist the message.

Can you please review my PR and check if if makes sense? I am open to suggestions on the issue.

[2018-10-31 20:45] ChristianLutz commented on #429
I have the same problem, see [here](https://github.com/thingsboard/thingsboard/issues/1210)

[2018-11-01 15:50] icraggs commented on #585
I'm no expert on this, but org.eclipse.paho.client.mqttv the right name?  I would have thought it should end with a 3 at least:

org.eclipse.paho.client.mqttv3

just checking.

[2018-11-01 15:54] icraggs commented on #595
Have you set a global message handling callback with setCallback?

In any case, retained MQTT messages are only sent in response to a subscribe request, so how or why is the broker sending these messages?

[2018-11-02 07:46] thinh76 commented on #595
No I haven't set global message handling callback. The way I had it setup in my app is via Spring config.

[code]

Then I have over 10 individual listeners that are implementing `IMqttMessageListener` as such
[code]

Do you see anything wrong with this approach? The app behaves normally, only problem is on starting up and Spring takes a while...

Thanks

[2018-11-02 21:58] Talles71 commented on #437
anyone?

[2018-11-03 10:41] frittentheke commented on #570
Any update on at least a bugfixing 1.2.1? There are so many known/fixed issues with 1.2.0...

[2018-11-04 06:03] sushanth-s opened #597 "Programmatically acknowledge the publisher"
Hi,

We would like to know is there way that the subscriber can be programmatically acknowledge the publisher
with a message.

[2018-11-04 13:58] hylkevds commented on #571
Also described in #421.

[2018-11-05 06:15] kami4ka commented on #570
+1

Waiting for the official fix https://github.com/eclipse/paho.mqtt.java/issues/382 because of high crash impact.

[2018-11-05 10:00] ElkeSombrowski commented on #585
You are right, org.eclipse.paho.client.mqttv3 is needed.
But Netbeans can't find this module. If you put org.eclipse.paho.client.mqttv3-1.2.0.jar on the module path only the module org.eclipse.paho.client.mqttv is found.

I suppose that this is due to the automatic module detection, which interprets numeric characters at the end of a name as version number and therefore cuts it off.
See: https://d

[2018-11-08 07:56] ghost commented on #570
@jpwsutton @icraggs  Any update on this?

[2018-11-13 18:17] nrktkt commented on #570
Hey @icraggs, do you know if v5 support will be in 1.2.1 or a separate release?

[2018-11-14 14:48] icraggs commented on #597
In a pub-sub system such as MQTT, it is deliberate design to disassociate senders and receivers.  A publisher does not know if a particular message is going to be sent to any subscribers.

You can always have the subscriber send an MQTT message to a response topic for the original publisher to receive.  This is a common model when using QoS 0 messages.

[2018-11-14 14:53] icraggs commented on #595
There are two ways an MQTT broker could send messages to a client before a subscription:

1) from a pre-existing session, and the connect is non-cleansession
2) the server sends unsolicited messages that aren't associated with a subscription (some people consider this to be against the spirit of MQTT)

Which is it in your case?

Setting the global message handling callback will allow those message

[2018-11-14 21:45] thinh76 commented on #595
In my case, it's 1.

Are you suggesting I have a global message handling callback that maps a subscribed topic to a listener? Otherwise how would this global message handling callback know what to do? Isn't repeating configurations/setups? Should library handle these listeners like I described above instead of a global handling callback?

Thanks for your reply so far.
Cheers

[2018-11-15 06:05] himeshagile commented on #576
I am facing this issue too. will you please check below logs.

org.eclipse.paho.client.mqttv3.internal.ClientState.checkForActivity local server: Timed out as no activity, keepAlive=1,000,000 lastOutboundActivity=1,542,231,288,487 lastInboundActivity=1,542,230,318,179 time=1,542,232,288,486 lastPing=1,542,231,288,487
 WARNING [MQTT Ping: local server] com.agile.microalley.mqtt.MqttListener.connect

[2018-11-19 12:52] icraggs commented on #570
@kag0 v5 support will be in 1.3.0.  1.2.1 will be a service release of the 1.2 branch.  That's my plan anyway - I hope they can closely follow each other.  I'll be looking after them for the time being, as @jpwsutton has moved on, so you'll have to bear with me as I try to fit everything in (other client libraries, etc)

Update - I got that wrong.  It seems the V5 support has already been merged i

[2018-11-21 19:15] icraggs commented on #276
There is already a setting in the connect options: automaticReconnectMaxDelay.  If minDelay and MaxDelay are set to the same value, then there will be a fixed reconnect interval.

[2018-11-21 19:17] icraggs commented on #374
automaticReconnectMinDelay and automaticReconnectMaxDelay in MqttConnectOptions.

[2018-11-21 19:19] icraggs commented on #566
I think is is now fixed.

[2018-11-22 15:44] icraggs commented on #367
We could have a method on the client (for MQTT V3 - MQTT V5 has it in the spec), which gives a list of prefixes (in regex format?), which are ignored in topic matching.  This would cater for multiple different implementations.

[2018-11-22 16:20] icraggs commented on #519
I think implementing your own reconnect behaviour is probably the best solution.

[2018-11-22 16:20] #519 closed, assigned to nobody

[2018-11-22 16:34] icraggs commented on #589
Do you have a way of telling whether the broker is sending those messages that are not being received?

After you restart the broker, do you have to restart the client application that is using the Paho Java library as well, to start receiving messages?

[2018-11-22 16:36] icraggs commented on #580
Thanks

[2018-11-22 16:38] icraggs commented on #595
Ok, so on the embedded C client it has the ability to set message handlers for specific topics before the connection is made.  It seems that capability is missing from the Java client.

[2018-11-22 21:04] thinh76 commented on #589
I didn't look deep into it whether the broker was sending the messages that were not being received by clients.

After I restarted the broker, I had to restart the clients as well.

[2018-11-24 10:51] tvasudev007 commented on #402
I tired new MqttClient(brokerURL, clientId, new MemoryPersistence(), Executors.newScheduledThreadPool(10);

		try {
			this.mqttClient.disconnectForcibly();
			this.mqttClient.close(true);

			logger.warn("MQTT disconnected forcibly");
		} catch (MqttException e1) {
			logger.error("MQTT disconnected forcibly failed...");
		} finally {
			this.mqttClientExeService.shutdown();
			this.mqttClient =

[2018-11-24 17:55] tvasudev007 commented on #402
Created a new connection management service for MQTT client connection failures. It takes around 20 threads at all times.

<CODE>
import java.util.List;
import java.util.concurrent.Executors;
import java.util.concurrent.ScheduledExecutorService;
import java.util.concurrent.TimeUnit;

import org.apache.commons.lang3.StringUtils;
import org.eclipse.paho.client.mqttv3.MqttCallback;
import org.eclipse

[2018-11-24 17:56] tvasudev007 commented on #402
You can use it by initiating MQTTConnectionManagementService

<CODE>
MQTTConnectionManagementService mqttClient = new MQTTConnectionManagementService(brokerURL, username,
					password, isreconnectEnabled, RECON_ATTMPT, RECON_INIT_DELAY, RECON_INT, MQTT_RECON_UNIT,
					new IC4CCloudMQTTSubscriber(), cloudSubscription);

mqttClient.connect();
</CODE>

[2018-11-27 09:37] tianbl commented on #571
I have the same problem,we set Qos=1 to avoid this problem for the time being

[2018-11-27 10:01] #597 closed, assigned to nobody

[2018-11-27 11:07] icraggs commented on #580
I've done it now.  Thanks for pointing it out.

[2018-11-27 11:07] #580 closed, assigned to icraggs

[2018-11-28 11:48] #566 closed, assigned to nobody

[2018-12-04 20:43] icraggs commented on #582
That change doesn't fix the issue in the V5 client, I assume that setting maxInflight in the test will avoid the issue, but not fix it.

[2018-12-05 09:11] ChristianLutz commented on #551
I agree with @jurek7, so this should be labeld as bug and not as question. We do have exact the same problem.

[2018-12-06 10:36] icraggs commented on #582
I've added a fix for this in the V5 client - a similar approach should work for V3 too.  Basically it retries the publish when this condition occurs.

[2018-12-07 02:17] thashimalayaratnam opened #601 "Possible bug for replacing clean with another clean session?"
In https://github.com/eclipse/paho.mqtt.java/blob/master/org.eclipse.paho.client.mqttv3/src/main/java/org/eclipse/paho/client/mqttv3/internal/CommsReceiver.java#L177-L182 we throw exception if not in `isDisconnecting()` state. I am seeing transient `EOF Exceptions` thrown from aforementioned line when I re-connect a clean session using the same `MqttClient` object.
I.e.
[code]

I suspect this is i

[2018-12-07 15:14] cmatthewson opened #602 "Broken connection during connect treated as rejected connection by client"
If a Paho client connects, then a client with the same clientid connects from a different location immediately afterwards (before the CONNACK has been sent from the server), the new client will take over the original client's state, and the original client will be disconnected. The original client seems to be treating this early disconnection as a rejection of the original connection attempt, so i

[2018-12-07 16:28] swarwick commented on #418
This still doesnt fix another pattern like
`+/topic1/#`
I tried that and it still did not validate against
`/test/topic1/demo`

[2018-12-07 16:36] swarwick commented on #418
It does however match if the topic filter is
`/+/topic1/#`
so the initial slash still seems to be an issue but I believe that not having the initial slash and just a plus is a valid topic filter.

[2018-12-07 16:42] swarwick commented on #418
I believe this change should fix it
`if (topicName.charAt(topicPos) == '/' && !(topicFilter.charAt(filterPos) == '/' || topicFilter.charAt(filterPos) == '+'))`

[2018-12-07 16:54] swarwick commented on #418
If missing a '/' at the start is invalid then the validate topic method should be updated to check for that.

[2018-12-07 17:53] swarwick commented on #418
Ignore all that, I believe I was not thinking correctly about the starting / and how the + matches.

[2018-12-11 11:26] icraggs commented on #602
You can switch off the automatic fallback connect at version 3.1 by specifying the MQTT version on the connect options with setMqttVersion(MQTT_VERSION_3_1_1).

[2018-12-11 11:35] icraggs commented on #601
It's one of the characteristics of MQTT that there is no acknowledgement to the disconnect request, so the timing of reconnection may be tricky.

Having said that, this might be due to issue #402, which I'll be looking at soon.

[2018-12-11 11:39] icraggs commented on #310
Ok, I think this is done.  The async client allows for more asynchronous behaviour, I'd like to note.

[2018-12-11 11:39] #310 closed, assigned to nobody

[2018-12-11 11:45] icraggs commented on #483
Added to develop branch for 1.3

[2018-12-11 11:45] #483 closed, assigned to icraggs

[2018-12-13 03:59] chxiaowu commented on #432
face the same issue，currently give fixed clientId and  set  cleanSession to false.
Then looks ok.

[2018-12-13 12:14] AndroidDeveloperLB commented on #376
It seems there is a similar issue with other libraries, such as this:

https://issuetracker.google.com/issues/115556774
https://github.com/AzureAD/microsoft-authentication-library-for-android/issues/354

[2018-12-16 20:35] hendrikebbers opened #603 "ExecutorService can be used instead of ScheduledExecutorService"
The MqttAsyncClient needs a ScheduledExecutorService param for the constructor but only the functionality of a ExecutorService is needed. Other frameworks works more often with ExecutorService and provides good functionality to create such a service. Based on all that points ExecutorService should be used instead.

[2018-12-16 20:46] hendrikebbers commented on #603
@dobermai just started to have a deeper look ;)

[2018-12-18 04:05] RemyEE commented on #270
Set keep alive interval to 300s work for me also.

[2018-12-18 12:10] icraggs commented on #603
Hello.  What is the benefit of using ExecutorService rather than ScheduledExecutorService?

[2018-12-18 16:49] icraggs commented on #402
I'm looking at this now.  It seems there are two separate issues, probably.

1) PR #280 introduced the use of the executor service.  This is fine for shared environments when an external executor service is provided.  When no external executor service is provided, if we use an executor service internally it changes the behaviour because now the threads in the thread pool are still running and only

[2018-12-18 20:16] mrueger42 commented on #501
the current implementation of WebSockets in paho only handles two frame types, binary and closing. If you get any other, in this case continuation frames, you get the above error. The EOF is a red herring, it is produced by the way the piped input stream closure caused by the failed frame handling is interpreted further up the stack

[2018-12-19 11:54] icraggs commented on #330
I'm looking at this now.   Basically, the problem is that the disconnect is started while the connect process hasn't yet finished.  Potential solutions:

1) Return "connect in progress" from the disconnect call.  Not particularly helpful, but it is the same approach as is taken when calling disconnect and the client is disconnected already, or in the process of disconnecting.

2) "Queue" up the di

[2018-12-19 23:36] icraggs commented on #207
There are several issues here.  I'm going to start with some of them.

1) The _running_ variable is conflating two uses: a) indicating whether the thread is running and b) signalling that it should stop.  I propose that only the run() method in each case should alter the value of the _running_ variable.  Another variable, toStop or similar, is used to signal that the run() method should terminate.

[2018-12-20 16:14] hendrikebbers commented on #603
less functionality in the interface:
ScheduledExecutorService extends ExecutorService
No functionality of ScheduledExecutorService is used. Only the functionality of ExecutorService was used internally.

[2018-12-21 09:24] icraggs commented on #603
Fair.  I don't know if you are using this functionality, but the library attempts to shut down the supplied executor service when the client object is closed.  This doesn't make sense to me but I could be missing something.  Is there a situation where this does make sense?

[2018-12-21 09:56] icraggs commented on #330
In the fix I've added, I haven't taken either of those two approaches (yet).  There was a missing signal when the sender process was not running.  I still might add the connect in progress return code at some point.

[2018-12-21 11:29] icraggs commented on #402
I've made the change so that if no executor service is supplied, the library uses normal threads, as it used to, which means that they end when the task ends.  Tests also added.

[2018-12-21 13:50] Khalil-Bouzekri commented on #507
+1, just migrated to Java 11 and I get the warnings

[2018-12-21 21:21] gilzhaiek commented on #402
hi @icraggs
We just rolled it into production.  We had lots of issues with this, so the fix is welcomed.
We are using AWS AppSync and found that this combination stops the dead threads and also solves a new ANR in the MqttService:
[code]
Thank you!

[2018-12-23 20:56] icraggs commented on #401
If you are using QoS 1, then you could try QoS 0 just to compare performance, which might provide more information.

[2018-12-24 12:07] icraggs commented on #207
I've put a change into the develop branch that addresses this problem.  The initial failing test was on an unrelated timing issue which I've addressed now.

[2018-12-31 12:38] Legion2 opened #606 "ClassCastException when disconnected and trying to subscribe"
Please fill out the form below before submitting, thank you!

- [x] Bug exists Release Version 1.2.0 ( Master Branch)
- [x] Bug exists in MQTTv3 Client on Snapshot Version 1.2.1-SNAPSHOT (Develop Branch)
- [ ] Bug exists in MQTTv5 Client on Snapshot Version 1.2.1-SNAPSHOT (Develop Branch)

Client is not connected and tried to subscribe to a topic.
Version 1.2.0:
[code]

MQTTv3 Version 1.2.1-SNAPSH

[2019-01-03 05:40] desokroshan commented on #502
@jpwsutton Is there a way to consume these changes via gradle?

[2019-01-03 17:59] desokroshan opened #607 "Changes from PR#554 on gradle"
Please fill out the form below before submitting, thank you!

- [*] Bug exists Release Version 1.2.0 ( Master Branch)
- [*] Bug exists in MQTTv3 Client on Snapshot Version 1.2.1-SNAPSHOT (Develop Branch)
- [*] Bug exists in MQTTv5 Client on Snapshot Version 1.2.1-SNAPSHOT (Develop Branch)

@icraggs I want to be able to consume the changes that were merged as part of [PR#554](https://github.com/ecl

[2019-01-04 06:36] flagon1986 opened #608 "the client can not receive messages after reconnected, once the count of offline messages exceeded 10"
- [*] Bug exists Release Version 1.2.0 ( Master Branch)
- [ ] Bug exists in MQTTv3 Client on Snapshot Version 1.2.1-SNAPSHOT (Develop Branch)
- [ ] Bug exists in MQTTv5 Client on Snapshot Version 1.2.1-SNAPSHOT (Develop Branch)

I use org.eclipse.paho.client.mqttv3 V1.2.0 in my java project, and with mosquitto V1.5.5 as the broker on server side.

just as the subject, with the preconditions below,

[2019-01-04 08:19] #608 closed, assigned to nobody

[2019-01-04 08:24] flagon1986 commented on #608
I think i need to create new thread to subscribe the topics after the client connected, it should work.

[2019-01-08 11:08] icraggs commented on #573
I've added a fix to the develop branch, which basically reverts the previous SNI changes and replaces them with another implementation.  I haven't yet tested that the proxy support works, I hope to add a CI test which does verify that.

[2019-01-09 10:29] hendrikebbers commented on #603
From my point of view this is a big problem. Would be something I will try to work one once this issue is solved. Step by step ;)

[2019-01-09 13:54] desokroshan commented on #345
@jpwsutton Following is snapshot of header returned by the AWS:

<img width="998" alt="screen shot 2019-01-09 at 5 49 59 am" src="https://user-images.githubusercontent.com/4340938/50903450-b4ddb780-13d2-11e9-8a36-10a75b55e8c1.png">

Please let me know if you need anything else.

[2019-01-09 15:10] icraggs commented on #603
I've made changes to the develop branch to a) only use an executor service when provided, otherwise to use 'normal' threads and b) not to shutdown a supplied executor service.  These changes exist now for the MQTT V3 client, I'm just making the equivalent for MQTT V5.

a) solves another issue where threads weren't stopping when not in use when an executor service wasn't supplied.

[2019-01-09 15:29] a-zink commented on #573
I can get things running with your commit. However, the proxy-aware `SocketFactory` I have to provide is quite complicated compared to the simpler one I provided above for my pull request.

I would still propose to let the `SSLNetworkModule` call
`socket = ((SSLSocketFactory)factory).createSocket(socket, host, port, true);`
as I did it in my pull-request.

In summary the logic would be
- `TCPNetwo

[2019-01-09 19:49] icraggs commented on #607
I'm working on the 1.3 release (https://github.com/eclipse/paho.mqtt.java/milestone/2) which will incorporate these changes.   I hope to have this done by the end of January.

You could use the develop branch in the meantime - most of my changes will be on the MQTT V5 client.

[2019-01-10 00:33] desokroshan commented on #607
Great, thanks. Just for the context, I am working on adding custom authorizer support in  [aws-sdk-android](https://github.com/aws-amplify/aws-sdk-android). Since the SDK uses paho java client, we need custom header support in paho(Changes in PR#554) to be able to release the changes to our customers.
I have been working off of the develop branch and would like to point out an additional blocker t

[2019-01-10 06:32] namjithwisilica opened #609 "Could not check MqttClient isAlive?"
Hi
I have a job with 3 threads such as READER,PROCESSOR and WRITER. Here
1. READER is a threaded MqttClient class which reads data from MQTT broker and write it on a queue.
2. Concurrently PROCESSOR(threaded) will take this data  from queue and do some computation and write in to another queue.
3. Concurrently WRITER will take this data write into a database.

Here i am checking these threads in p

[2019-01-10 19:42] icraggs commented on #573
I'll have to think about that because it's not going to work (as my testing showed) if the factory used to create the socket in TCPNetworkModule is already an SSLSocketFactory.

One way for this to work is for the SSLNetworkModule start() method not to call super.start(), and initialize its own TCP socket first in the way you suggest, but I'm not sure that'll work for your proxy approach - I would

[2019-01-11 13:02] a-zink commented on #573
Hm, I tested my proposal without proxy and you are right, this then throws an excpetion

[2019-01-11 13:05] micnori commented on #324
I have the same problem of @lucapaciello : the client "freez" in a state where doesn't recieve messages from the broker but the connection lost event is never fired, so the client doesn't try to recnnect :/

[2019-01-14 03:50] PingWei1314 opened #611 "connOpts.setKeepAliveInterval(300) cut no ice"
I set the heartbeat time to 300s, but it didn't work in practice. I still used the default value.

[2019-01-14 09:58] hendrikebbers commented on #603
@icraggs is there a PR for the change? Would love to have a look at the changes

[2019-01-14 13:31] icraggs commented on #603
No, there is no PR, I've been committing directly to the develop branch, which is what I usually do on my own repos.

The commits start around: https://github.com/eclipse/paho.mqtt.java/commit/576455ef909a1c81a7fd6c93e5508b7b289e55fc

The result is the latest version of the develop branch.

[2019-01-15 21:21] icraggs commented on #611
Which version of the library did you use?  MQTTClient or MQTTAsync?  What symptoms did you see - lack of pings, or inability to detect a closed connection?

[2019-01-21 06:07] DennisGuo commented on #576
I have the same problem with Mosquitto MQTT v3.1/v3.1.1 Broker as server .
When my java application subscrible to a topic , after awhile the error message shows up :

[2019-01-21 08:41] hvincente commented on #608
Hi,

@flagon1986, in your last comment, you made an assumption that subscribing in a new thread will fix your problem, did it work ?

same problem here and i think this issue is not resolved.

[2019-01-21 14:11] icraggs commented on #576
So, this message means that a ping response hasn't been received from the MQTT server.  The response on the part of the client library should be to close the connection at that point, and call the connectionLost callback if it is set.

The lack of response could be that the TCP socket has been broken but not reported to the application.  This could happen if the TCP stack fails, or the MQTT broker

[2019-01-21 17:00] icraggs commented on #576
Test added.  Seems to work.

[2019-01-22 01:39] chris-lg commented on #394
Hi, have u fixed this bug?

[2019-01-22 02:03] chris-lg opened #616 "org.eclipse.paho.client.mqttv3.MqttMessage.validateQos"
Please fill out the form below before submitting, thank you!

- [ ] Bug exists Release Version 1.2.0 ( Master Branch)
- [ ] Bug exists in MQTTv3 Client on Snapshot Version 1.2.1-SNAPSHOT (Develop Branch)
- [ ] Bug exists in MQTTv5 Client on Snapshot Version 1.2.1-SNAPSHOT (Develop Branch)

If this is a bug regarding the Android Service, please raise the bug here instead: https://github.com/eclipse

[2019-01-22 09:03] kami4ka commented on #570
@icraggs I'm sorry for being a bit annoying, but is there any chances to have any library update in the nearest future? Thanks.

[2019-01-22 11:00] icraggs commented on #570
@kami4ka it's not annoying :-).  I've been working on the 1.3 release (https://github.com/eclipse/paho.mqtt.java/milestone/2) for a while now, addressing some existing V3 high priority issues and finishing the V5 support, including, and most of all, tests.  The updates are in the develop branch.  I've just got test coverage measurements working to guide the addition of new tests.

I hope to have t

[2019-01-22 11:10] icraggs commented on #616
I'm copying the stack trace from the title into an entry here:

org.eclipse.paho.client.mqttv3.MqttMessage.validateQos(MqttMessage.java:40) 2 org.eclipse.paho.client.mqttv3.MqttMessage.setQos(MqttMessage.java:178) 3 org.eclipse.paho.client.mqttv3.internal.wire.MqttPublish.<init>(MqttPublish.java:51) 4 org.eclipse.paho.client.mqttv3.internal.wire.MqttWireMessage.createWireMessage(MqttWireMessage.ja

[2019-01-22 11:13] icraggs commented on #609
I'm not quite sure where to start with this one.  Do you see one or more particular failures often?  Perhaps it would be best for us to fix those?

[2019-01-22 13:40] namjithwisilica commented on #609
I haven't got any failure yet. If its never fail (handling failure itself), its great. In our case its horizontally scaling jobs, So once one job fails ,we should get notified and another job should be started. If it never fails its OK. Can i confirm it never fails? (I haven't seen any doc regarding this.)

[2019-01-23 10:43] rrdlpl commented on #481
I get the same error too. Using mosquitto as broker.

[2019-01-23 17:07] Odyldzhon commented on #323
I have similar issue and the root cause was related to difference between publisher QOS and subscriber QOS.
If a client is subscribed with QoS 2 and a message is published on QoS 0, the client will receive it on QoS 0. But in my case I expect that QOS will be similar to subscription QOS i.e. 2 and send manual acknowledgement using QOS 2 which assumed a response from MQTT Broker and this response w

[2019-01-23 19:38] evnix commented on #507
+1
Same warning here,
Java 11 on MacOS

[2019-01-26 11:07] leapandlm opened #618 "hello ,everyone,mqtt's Automatic Reconnect"
how to validate it is work, i try to broken network,client can't connect to the server,but after this,it can't reconnect.why?Ask the gods how to test whether this property is valid or not, and in what scenarios it works.

[2019-01-28 09:14] vborcea commented on #367
Hello,
Is there an "official" solution for this?

[2019-01-28 16:56] icraggs commented on #367
I like my idea above of specifying the prefixes to ignore in a method.  Should be pretty easy to implement.  I'll do that soon if no-one else does.

[2019-01-29 08:55] rschluesselbauer opened #619 "CommsCallback catches throwables from MqttCallback - hard to use in tests"
- [x] Bug exists Release Version 1.2.0 ( Master Branch)
- [x] Bug exists in MQTTv3 Client on Snapshot Version 1.2.1-SNAPSHOT (Develop Branch)

Any throwably thrown by MqttCallback in the connectionLost callback method is caught in the CommsCallback class. This makes it hard to make a test fail if the connection is lost.

See:
https://github.com/eclipse/paho.mqtt.java/blob/6d7aafddb3a70d7c1eab69e1f

[2019-01-31 17:47] rubyrose-alexis commented on #607
@icraggs I do not see the fix for custom authorization headers in the milestone for 1.3.0 (https://github.com/eclipse/paho.mqtt.java/milestone/2). Will this change be included in 1.3.0?

[2019-02-02 09:55] pabsilva opened #620 "Subscribing to connectionLost outside default MqttCallback"
Hi,

I was wondering: is it possible to subscribe to the "connectionLost" event without setting the default message listener (i.e. mqttClient.setCallback(new MqttCallback() ...)?

I am asking because I subscribing to the topics using the "subscribe(topic, qos, IMqttMessageListener)" function. I noticed that, having set CleanSession=false, all pending qos>0 messages will be delivered right after be

[2019-02-06 07:29] sudeepgithub commented on #322
Kindly resolve the same issue with priority : (IPv6 communication through python happening not Java)
msg MqttException
loc MqttException
cause java.net.UnknownHostException: [fe80
excep MqttException (0) - java.net.UnknownHostException: [fe80
MqttException (0) - java.net.UnknownHostException: [fe80
	at org.eclipse.paho.client.mqttv3.internal.ExceptionHelper.createMqttException(ExceptionHelper.java

[2019-02-06 09:33] spyro2000 commented on #620
That's actually a very good question, I've basically the same problem. When I set cleanSesssion to FALSE, I just get 'socket errors' when trying to connect with QoS > 0.

[2019-02-06 16:08] dasAnderl commented on #575
@a-zink im trying hard currently to make mqtt client work behind a proxy.
we are in the company network scenario. the proxy is a web proxy. what i do on my localhost to emulate the server environment is:

using a proxy from https://free-proxy-list.net  62.99.67.216:8080
then i create an entry in /etc/hosts ->  0.0.0.0 <hidden_company_mqtt_broker_name>  to block name resolving for the mqtt broker.

[2019-02-08 06:51] aniket91 commented on #502
How do I use this feature? I used the latest dependency in maven-

		<dependency>
		    <groupId>org.eclipse.paho</groupId>
		    <artifactId>org.eclipse.paho.client.mqttv3</artifactId>
		    <version>1.2.0</version>
		</dependency>
But I do not see an option to set custom headers.

[2019-02-08 17:18] desokroshan commented on #502
You can build the jar file from the develop branch as mentioned [here](https://github.com/eclipse/paho.mqtt.java#building-from-source) and add it to your classpath. These changes will be available as part of 1.3.0 which is overdue.

[2019-02-08 17:57] miketran78727 commented on #620
Since MQTT 3.1.0, CONNECT packet must be the first packet: see http://docs.oasis-open.org/mqtt/mqtt/v3.1.1/os/mqtt-v3.1.1-os.html#_Toc398718028 so this Paho client will throw exception if the internal state is not connected (We don't want to violate MQTT protocol).

The `lostConnection()` callback is intended to notify the application that the network connect has been lost. The server could close

[2019-02-09 16:34] pabsilva commented on #620
Yes, I was using MqttClient and I tried the MqttCallbackExtended and that's the where the problem begins: I can't subscribe to lostConnection() without, at the time time, set the default message listener (which I don't want to, because it causes the problems described before).

[2019-02-12 12:21] loffa commented on #357
It seems like this issue was resolved with #366 that has already been merged and closed

[2019-02-13 09:53] ea1111 opened #622 "Lost connection caused by ClassCastException"
Please fill out the form below before submitting, thank you!

- [x] Bug exists Release Version 1.2.0 ( Master Branch)

If this is a bug regarding the Android Service, please raise the bug here instead: https://github.com/eclipse/paho.mqtt.android/issues/new

    public void demo() throws MqttException {
        final MqttAsyncClient client = new MqttAsyncClient("tcp://iot.eclipse.org:1883", "testC

[2019-02-15 02:36] linguokun1 opened #623 "I find that connection was lost when app go to background on Android Phone"
I find that connection was lost when app go to background on Android Phone (for few minutes not send any message).
In Addition, Some probability can not develivery complete message(can publish but not call  develivery complete) when app go to background (for few minutes not send any message)

[2019-02-15 02:38] linguokun1 commented on #623
So I think If mqtt client  not send any message, some issue will occur.

[2019-02-15 21:50] frankmuellr commented on #607
Hi @icraggs,

Is there an ETA for when custom authorization headers support will be released? We have several customers requesting the feature. Please let us know if there's anything we can do to help.

[2019-02-18 13:28] icraggs commented on #607
I'm happy to include a fix for the issue of 'custom authorisation headers'.    From reading the issues and PR, I think that the fix is already in the develop branch.  Does anyone want to confirm or deny that assumption?

Everything in the develop branch will be included in the next release.  I'm hoping to make a 1.2.1 service release with all the fixes included so far, as I'm refactoring the MQTT

[2019-02-18 17:34] desokroshan commented on #607
Yes, I can confirm that the changes to support 'Custom authorization headers' are already in develop branch([Relevant Commit](https://github.com/eclipse/paho.mqtt.java/commit/fcd8e516d52ec085623b728d07dc82d1fc0a1be2)). A service release would be great for our purpose.

[2019-02-19 11:04] leon-lourenco opened #624 "Method "ConnectionLost" never firing!"
So, that's my code:

[code]

and connectionLost on MqttCallback:

[code]

It turns out that the "connectionLost" method is never called! Sometimes I disconnected the internet and none of this method was called (I was in debug mode). What can it be?

[2019-02-19 21:47] #421 closed, assigned to nobody

[2019-02-20 13:00] icraggs commented on #624
The first observation I'd make is that you have automatic reconnect set to true.  You should either reconnect in the connectionLost callback, or use automatic reconnect.  Automatic reconnect is meant to avoid the application having to issue the reconnect.

The second one is that if you disconnect the internet connection, then it can take some time for that loss to be recognized.  This will happen

[2019-02-20 13:01] leon-lourenco commented on #624
@icraggs So, I should use AutomaticReconnect OR connectionLost, not both?

[2019-02-20 13:07] icraggs commented on #607
I'm trying to create a 1.2.1 release with all the fixes in the develop branch.  At the moment I'm dealing with an issue in the Eclipse infrastructure which is stopping the jars from being signed.  I hope this will be resolved in the next day or so.

[2019-02-20 13:08] icraggs commented on #624
Yes.  It looks like connectionLost should still be fired (probably), but you should definitely not use both to reconnect.

[2019-02-20 13:15] icraggs commented on #606
Ok. I think that the only operation that is currently allowed while disconnected is a publish.  But we should catch it at the time the subscribe is called if that's the case.  I'll look into seeing if we can allow a subscribe to be made too.

[2019-02-20 13:17] icraggs commented on #622
Yes, it looks like it's related to #606.

[2019-02-20 13:18] icraggs commented on #611
No answer, so closing.

[2019-02-20 13:18] #611 closed, assigned to nobody

[2019-02-20 13:29] icraggs commented on #620
Ok, I think this is the same issue as #595.  We need a way of setting the individual subscription handler callbacks before the connection is made.

[2019-02-20 13:58] desokroshan commented on #607
Thanks for the update.

[2019-02-20 14:03] desokroshan commented on #345
Any updates on this?

[2019-02-20 15:44] icraggs commented on #570
Ok.  I've created a 1.2.1 service release, as I'm still working on an MQTT V5 implementation.  There could be more service releases of the V3 client (1.2.2) before we I make the 1.3 V5 release.

[2019-02-20 15:48] icraggs commented on #558
No answer, so closing.

[2019-02-20 15:48] #558 closed, assigned to nobody

[2019-02-20 15:48] icraggs commented on #559
No answer, so closing.

[2019-02-20 15:48] #559 closed, assigned to nobody

[2019-02-20 16:04] loffa commented on #570
Hello @icraggs,
Do you know if paho.mqtt.android will also follow a release with the updates?
I can see now that the latest paho-java referenced in the android-lib is 1.1.0 ([here](https://github.com/eclipse/paho.mqtt.android/blob/master/build.gradle#L29)) and it seems like quite a lot of bugfixes have been made since then.

[2019-02-20 16:04] icraggs commented on #579
This is now at 1.2.0.  I did it in January.  Thanks, and sorry for the delay.

[2019-02-20 16:04] #579 closed, assigned to nobody

[2019-02-20 16:09] icraggs commented on #512
We would need more information on the circumstances that caused this error.  Thanks.

[2019-02-20 16:09] #512 closed, assigned to nobody

[2019-02-20 16:12] icraggs commented on #509
I think this is fixed by PR #563 which is now merged, and in release 1.2.1

[2019-02-20 16:12] #509 closed, assigned to nobody

[2019-02-20 16:14] icraggs commented on #431
I imagine this is now out of date.  Please reopen if there is more info.

[2019-02-20 16:14] #431 closed, assigned to nobody

[2019-02-20 16:19] icraggs commented on #477
A fix has been added in 1.2.1 which should hopefully resolve this issue.

[2019-02-20 16:24] icraggs commented on #609
I think I couldn't ever confirm that any software never fails!  It depends on the circumstances.

Perhaps you could make use of the MQTT keepalive interval.  If the MQTT broker does not receive any data from the application within that interval (plus a grace period), it will close the connection.  If you could hook into the broker monitoring status, that might do what you want.

[2019-02-20 16:25] icraggs commented on #592
Duplicate of #425

[2019-02-20 16:25] #592 closed, assigned to nobody

[2019-02-21 10:09] xi67 commented on #509
Execution of tooManyPublicationAsyncTest() with 1.2.1 with success confirm the fix.
Thank you.

[2019-02-21 10:40] veita opened #628 "What's the current release version of the Paho MQTT Client?"
Maven Central has (stable) version 1.2.1.

The latest GitHub release is 1.2.0 (https://github.com/eclipse/paho.mqtt.java/releases). The readme file of the project says `The latest release version is 1.2.0 and the current snapshot version is 1.2.1-SNAPSHOT`

So both sources contradict each other. We don't know if it is safe to include 1.2.1 in our product.

[2019-02-21 11:07] icraggs commented on #402
@gilzhaiek Just seen your message - I'm glad to help!

[2019-02-21 11:07] #402 closed, assigned to icraggs

[2019-02-21 11:08] icraggs commented on #207
Fix released in 1.2.1

[2019-02-21 11:08] #207 closed, assigned to jpwsutton, icraggs

[2019-02-21 11:12] icraggs commented on #570
@loffa I'd have to look at the Android library to figure that out.  I've been concentrating on MQTT V5 support for now.  If we don't have an issue open to remind me to look at the Android lib, then we should have one.  Would you like to open one?

[2019-02-21 11:12] #570 closed, assigned to icraggs

[2019-02-21 11:12] icraggs commented on #582
Released in 1.2.1

[2019-02-21 11:12] #582 closed, assigned to jpwsutton

[2019-02-21 11:13] icraggs commented on #573
Released in 1.2.1

[2019-02-21 11:13] #573 closed, assigned to icraggs

[2019-02-21 11:14] icraggs commented on #330
Fixed released in 1.2.1

[2019-02-21 11:14] #330 closed, assigned to icraggs

[2019-02-21 11:14] icraggs commented on #432
Fix added to 1.2.1

[2019-02-21 11:14] #432 closed, assigned to icraggs

[2019-02-21 11:14] icraggs commented on #477
Released in 1.2.1

[2019-02-21 11:14] #477 closed, assigned to icraggs

[2019-02-21 11:15] icraggs commented on #607
1.2.1 released.  Should be in all repos.

[2019-02-21 11:15] #607 closed, assigned to icraggs

[2019-02-21 11:39] sumitatflo commented on #207
@sumit this has been fixed.

From: Ian Craggs <notifications@github.com>
Reply-To: "eclipse/paho.mqtt.java" <reply@reply.github.com>
Date: Thursday, 21 February 2019 at 4:38 PM
To: "eclipse/paho.mqtt.java" <paho.mqtt.java@noreply.github.com>
Cc: sumitatflo <sumit.kumar@flochat.in>, Comment <comment@noreply.github.com>
Subject: Re: [eclipse/paho.mqtt.java] CommsSender.stop may cause deadlock (#207)

[2019-02-21 15:17] icraggs commented on #509
@xi67 thank you for confirming

[2019-02-21 17:39] rubyrose-alexis commented on #607
Thank you @icraggs !

[2019-02-21 19:38] frankmuellr commented on #607
@icraggs - The release is not listed here btw: https://github.com/eclipse/paho.mqtt.java/releases

[2019-02-21 23:17] icraggs commented on #607
@muellerfr I was waiting a couple of days to make sure I hadn't messed anything up... I'll probably tag it on the weekend. The jars are in the maven/nexus repos

[2019-02-22 10:37] kami4ka opened #630 "Paho MQTT v1.2.1 occur crash on Android"
Please fill out the form below before submitting, thank you!

- [x] Bug exists Release Version 1.2.1 ( Master Branch)
- [?] Bug exists in MQTTv3 Client on Snapshot Version 1.2.1-SNAPSHOT (Develop Branch)
- [?] Bug exists in MQTTv5 Client on Snapshot Version 1.2.1-SNAPSHOT (Develop Branch)

If this is a bug regarding the Android Service, please raise the bug here instead: https://github.com/eclipse

[2019-02-26 19:06] icraggs commented on #628
I just released the 1.2.1 version, but haven't tagged the repo yet.  I forgot that the readme explicitly states the current versions - that seems like a mistake to me.

[2019-02-26 19:09] icraggs commented on #630
I'm not sure why this should be a problem on Android.  If you have any more information that might help?

[2019-02-27 09:05] icraggs commented on #628
Ok, I've now tagged the repo and updated the readme.  Thanks.

[2019-02-27 09:05] #628 closed, assigned to nobody

[2019-02-27 09:07] icraggs commented on #618
There are examples in the tests showing how to get automatic reconnect working.

[2019-02-28 08:14] kami4ka commented on #630
I'm following the next steps:
1. Runs the application with 1.2.0 version oh Paho MQTT - everything works fine.
2. Change version of `org.eclipse.paho:org.eclipse.paho.client.mqttv3` to 1.2.1 in the Gradle file
3. Trying to run the application again (after Android Studio restart and cache invalidate. Also project clean and rebuild)
4. Application crashes with the following stacktrace:
[code]
I'd li

[2019-03-01 12:51] junquero opened #632 "MqttAsyncClient trying to reconnect after explicitly disconnected"
Please fill out the form below before submitting, thank you!

- [X ] Bug exists Release Version 1.2.0 ( Master Branch)
- [X] Bug exists in MQTTv3 Client on Snapshot Version 1.2.1-SNAPSHOT (Develop Branch)
- [ ] Bug exists in MQTTv5 Client on Snapshot Version 1.2.1-SNAPSHOT (Develop Branch)

If a MqttAsyncClient is created **with reconnect option** and after used, it is closed with **disconnectForc

[2019-03-02 23:30] ddwang commented on #572
Looks like this problem is still happening with official v1.2.1 release on Maven

In particular access to `NetworkModuleService.validateURI()` does not appear to be synchronized, was that on a dev branch only?

[2019-03-04 08:48] playNeat opened #633 "Android: Didn't find class "javax.net.ssl.SNIHostName""
Hello I'm using this library in my Android application.
First.. Please understand I'm not good at English.

I'm tring to update mqttv3 library to 1.2.1.
but...
in org.eclipse.paho.client.mqttv3.internal.SSLNetworkModule
SNIHostName, SNIServerName added

"Caused by: java.lang.ClassNotFoundException: Didn't find class "javax.net.ssl.SNIHostName"

Android support SNIHostName at SDK_VERSION >= 24
I ca

[2019-03-04 19:41] allofmex opened #634 "NullPointerException on MqttPersistentData.<init>"
- [x] Bug exists Release Version 1.2.0 ( Master Branch)
- [x] Bug exists in MQTTv3 Client on Snapshot Version 1.2.1-SNAPSHOT (Develop Branch)

I experience a NullPointerException here:
https://github.com/eclipse/paho.mqtt.java/blob/f30e10b26320d63649904d163dced2b4f4330c97/org.eclipse.paho.client.mqttv3/src/main/java/org/eclipse/paho/client/mqttv3/internal/MqttPersistentData.java#L63

if called fro

[2019-03-06 15:08] OliverNiedergriese commented on #572
I also have the problem with the v1.2.1 release.
Was the fix only submitted for mqttv5 or also for mqttv3?

[2019-03-06 15:35] icraggs commented on #633
I'd have to look into it.  I think that many cloud services use SNI these days, so not supporting it would limit the services that could be connected to.

If I'm reading it right, Android SDK version 24 corresponds to Android 7, so it's only quite old devices that would encounter this limitation?

[2019-03-06 15:46] icraggs commented on #572
I added the fix only for V5 apparently.  I didn't add it to V3 because no one had reported it there.  If someone would like to open an issue for V3 (or a PR), I will add the fix to the next release.

[2019-03-07 01:37] playNeat commented on #633
@icraggs
Thank you for your review. And I also need more research on SNI.

Android 7 has been released a long time ago.
But there are still many users less than Android 7.
(Would it be better to use TCP connection for less than Android 7?)

If you support SNIEnabled option like httpsHostnameVerificationEnabled
Of course I should set this at MqttConnectOptions.
There seems to be no problem.

Thank

[2019-03-07 06:23] cleverpig commented on #381
bug still... I rollback to 1.2.0 from 1.2.1

[2019-03-07 19:38] evnix opened #635 "every run generates unwanted lock files"
- [x] Bug exists Release Version 1.2.0 ( Master Branch)
- [x] Bug exists in MQTTv3 Client on Snapshot Version 1.2.1-SNAPSHOT (Develop Branch)
- [x] Bug exists in MQTTv5 Client on Snapshot Version 1.2.1-SNAPSHOT (Develop Branch)

Every time I run a basic example, I get the following .lck files and after a few trials, my IDE is full of them, Can I at least somehow set them to a /tmp directory so tha

[2019-03-10 14:19] gaborauth commented on #630
Here is my stacktrace, same issue after 1.2.0 -> 1.2.1.

[code]

[2019-03-11 11:43] Y-Datsenko commented on #630
Hello, I have the same issue after upgrade from 1.2.0 to 1.2.1.

[2019-03-11 17:12] nekontachik commented on #630
Hi, I will be grateful if you look, because I have the same issue

[2019-03-11 19:34] Legion2 commented on #632
Can not disconnect while reconnecting. It throw an exception:
[code]

How can you detect the reconnecting state and stop it?

[2019-03-11 20:18] junquero commented on #632
Use disconnectForcibly to avoid MqttException.

[2019-03-11 20:46] Legion2 commented on #632
Is there any callback for the reconnect event?
For the disconnect/connection lost event there is the `MqttCallback.connectionLost`

[2019-03-12 12:12] icraggs commented on #630
I can't promise anything quick - I've not run an Android development environment for a while.

[2019-03-12 14:55] jpchristen opened #636 "ClientState checkForActivity calculates with nanos and millis"
Bug is at least in 1.2.1.

The ClientStates checkForActivity method calculates e.g. the nextPingTime. In one of the else-cases (l. 787) it does:
nextPingTime = Math.max(1, getKeepAlive() - (time - lastOutboundActivity));
getKeepAlive delivers ms, while time and lastOutboundActivity are in ns. Therefore the result of this function is always 1, resulting in high frequented ping schedules.

PS: I str

[2019-03-15 13:24] tomekjarosik opened #637 "Too many connections / short SO_TIMEOUT / client disconnects often"
Please fill out the form below before submitting, thank you!

- [x] Bug exists Release Version 1.2.1 ( Master Branch)
- [x] Bug exists in MQTTv3 Client on Snapshot Version 1.2.1-SNAPSHOT (Develop Branch)
- [?] Bug exists in MQTTv5 Client on Snapshot Version 1.2.1-SNAPSHOT (Develop Branch)

Version 1.2.1 introduced this change:
https://github.com/eclipse/paho.mqtt.java/commit/d5379c3477119f9bdd5906

[2019-03-15 18:14] rjenkinsjr opened #638 "External executor service broken in v1.2.1"
- [X] Bug exists Release Version 1.2.1 ( Master Branch)
- [?] Bug exists in MQTTv3 Client on Snapshot Version 1.2.1-SNAPSHOT (Develop Branch)
- [?] Bug exists in MQTTv5 Client on Snapshot Version 1.2.1-SNAPSHOT (Develop Branch)

`new MqttAsyncClient("broker", "clientId", new MemoryPersistence(), new TimerPingSender(), Executors.newScheduledThreadPool(numThreads, threadFactory))` causes the followi

[2019-03-15 18:49] nivram07 commented on #551
Hello, was this acknowledged as a bug and fixing it or leaving this issue as is? I'm having the same issue as well. Thanks.

[2019-03-16 21:17] junquero commented on #632
Not sure. I think there isn't any callback for reconnect event. But not 100% sure.
I looked at the source code two weeks ago...

[2019-03-18 08:51] fguiet commented on #634
Hi!
Just delete your "user.dir" environment variable directory and you will be good to go
Fred

[2019-03-18 10:35] binarybucks commented on #633
We're also seing this issue on API23/Android 6 devices but only for Paho 1.2.1 builds. Previous versions that included Paho 1.2.0 did not show this issue (not did they apparently verify a certificates common name during connect).

[2019-03-18 16:35] hannta commented on #633
Im also having this same issue. There is still a lot of Android 6 devices out there, so it is not sensible to have app supporting only android 7 (API 24) up.

[2019-03-19 21:20] sameerhr84 commented on #573
Hi,

I have tried to update paho to 1.2.1 and tried the proxy configuration as explained here in ProxyAwareSSLSocketFactory . However I get belo exception. Any pointers?

Its working fine when I do not use proxy.

java.lang.ClassCastException: java.net.Socket cannot be cast to javax.net.ssl.SSLSocket
	at org.eclipse.paho.client.mqttv3.internal.SSLNetworkModule.start(SSLNetworkModule.java:141)
	at

[2019-03-19 21:26] dwimberger commented on #418
Why is there a System.err output within the code block for this fix?
https://github.com/eclipse/paho.mqtt.java/blob/master/org.eclipse.paho.client.mqttv3/src/main/java/org/eclipse/paho/client/mqttv3/MqttTopic.java#L305

[2019-03-20 18:35] sameerhr84 opened #639 "fix done in #573 not working"
Fix as explained in #573 is not working and I am getting below exception

I have tried to update paho to 1.2.1 and tried the proxy configuration as explained in #573 ProxyAwareSSLSocketFactory . However I get belo exception. Any pointers?

Its working fine when I do not use proxy.

java.lang.ClassCastException: java.net.Socket cannot be cast to javax.net.ssl.SSLSocket
at org.eclipse.paho.client.mq

[2019-03-21 09:46] geirem opened #640 "Improper mix of time units in ping subsystem"
Please fill out the form below before submitting, thank you!

- [] Bug exists Release Version 1.2.0 ( Master Branch)
- [X] Bug exists in MQTTv3 Client on Snapshot Version 1.2.1-SNAPSHOT (Develop Branch)
- [ ] Bug exists in MQTTv5 Client on Snapshot Version 1.2.1-SNAPSHOT (Develop Branch)

If this is a bug regarding the Android Service, please raise the bug here instead: https://github.com/eclipse/

[2019-03-21 15:36] mnocnik commented on #348
Had this Problem using IMqttClient (synchronous): I had three Threads using a method which just did "publish". Maybe I located the Problem. When I made this doPublish-method synchronised, the problem disappeared.
So I had a look into MqttTopic.publish: I am not an mqtt-expert, but maybe this method should be synchronized.
Using mqttv3:1.2.0

[2019-03-21 16:25] icraggs commented on #348
Thanks for the info.  If you do try version 1.2.1 at some point, do let me know.

[2019-03-21 16:29] mnocnik commented on #348
Just had a look at 1.2.1 - same thing.

Problem is: if you use multiple threads which use the same client, it seems that when they simultaneously try to publish, this problem occurs.
In MqttTopic, the publish-method is not synchronised - therefore both calls get the same client-id for the token-object

My solution: synchronise all calls to publish

public MqttDeliveryToken publish(MqttMessage mess

[2019-03-21 16:31] digrec commented on #633
We are also using Paho on many Android 6 powered devices, so definitely need support for it to be able to update.

[2019-03-22 07:57] goldschmidtcm commented on #634
Hi,

I got the same issue. I would like to use the persistence to bypass offline-times and power downs. The MqttPersistentData constructor is always called with null-payload and throws an exception. So the persisted data can never be recovered?

Regards,
Chris

[2019-03-24 10:44] andilem opened #641 "ClientComms.close(true) doesn't work"
Please fill out the form below before submitting, thank you!

- [ ] Bug exists Release Version 1.2.0 ( Master Branch)
- [ ] Bug exists in MQTTv3 Client on Snapshot Version 1.2.1-SNAPSHOT (Develop Branch)
- [ ] Bug exists in MQTTv5 Client on Snapshot Version 1.2.1-SNAPSHOT (Develop Branch)

I don't fill out the form because the branches and releases obviously are not up-to date. The bug exists in 1

[2019-03-25 11:33] ghost commented on #572
Any further action?

[2019-03-25 13:45] bujingyun8 opened #643 "how to get the messageId after the client.publish some msg."
how to get the messageId after the MqttClient.publish some msg.
I don't want to change the MqttClient to MqttAsyncClient with waitForCompletion()
it'll take some time in the thread?
I just publish msg int a thread,and in other thread recieve process the delivered event.
so I want to match the current msg by the messageId

Please fill out the form below before submitting, thank you!

- [x] Bug exis

[2019-03-25 15:25] hbergmey commented on #572
Has this already been fixed for V3? I am seeing a similar error message with "wss" protocol.

[2019-03-25 15:42] artembilan opened #644 "MqttClient.disconnectForcibly() blocked for the whole timeout"
After upgrading to client `1.2.1` from `1.2.0` we are facing timing issue with the `disconnectForcibly()`.

The simple test-case to reproduce an issue:
[code]

We are fully blocked to wait for those 30 seconds.

My hard debugging shows me that `CommsReceiver` gets an `java.io.EOFException` while waiting for the confirmation for a DISCONNECT message. I guess with meaning "Socket closed".

Thanks

[2019-03-26 06:09] lucastaehli commented on #572
Same problem here with v1.2.1

[2019-03-26 08:48] faenschi opened #645 "ConcurrentModificationException of the HashMap callbackTopicMap"
Please fill out the form below before submitting, thank you!

- [ ] Bug exists Release Version 1.2.0 ( Master Branch)
- [ ] Bug exists in MQTTv3 Client on Snapshot Version 1.2.1-SNAPSHOT (Develop Branch)
- [X] Bug exists in MQTTv5 Client on Snapshot Version 1.2.1-SNAPSHOT (Develop Branch)

If this is a bug regarding the Android Service, please raise the bug here instead: https://github.com/eclipse

[2019-03-26 11:41] allenhan opened #647 "how can we know that the device has arrived at the device"
What's the difference between delivery Complete and message Arrived? Delivery Complete will also be executed when the device is not online. Under what circumstances will message Arrived be triggered and how can we know that the device has arrived at the device?

[2019-03-26 16:59] kandrej commented on #637
I think I have the same problem. When using version 1.2.1 to connect to a broker with ws:// or wss://, the client always disconnects after 1 second. Version 1.2.0 works fine.

I tried to increase the SO_TIMEOUT to 5 seconds, but the client just disconnects after 5 seconds instead of 1. I think it has something to do with the way WebSocket(Secure)NetworkModule use Input/Output streams

[2019-03-26 17:37] sp193 opened #651 "Initiating new connections is slow"
Please fill out the form below before submitting, thank you!

- [ ] Bug exists Release Version 1.2.0 ( Master Branch)
- [X] Bug exists in MQTTv3 Client on Snapshot Version 1.2.1-SNAPSHOT (Develop Branch)

Hi all,

I would like to highlight that Paho v1.2.1 seems to take quite a while to establish a single connection. I have only recently started using it in favour of the aging Fusesource MQTT clie

[2019-03-26 17:57] msqr commented on #634
I think commit 635a8c6 introduced this particular NPE, as it [added](https://github.com/eclipse/paho.mqtt.java/commit/635a8c61e0c7f39741a9ba37e6e6dc723d7d8bf6#diff-1c43c493dc2f257c59e741e3a5e97f7f) the `.clone()` calls to MqttPersistentData.java.

[2019-03-26 19:42] EddieRingle commented on #345
@jpwsutton @desokroshan  	I'm hitting this issue as well. Below are the request headers from both 1.1.0 as well as 1.2.1, where the latter gets the 403 response from AWS. Confidential details have been snipped, of course.

1.1.0 request headers:
[code]

1.2.1 request headers:
[code]

So, the differences from what I can see:

- `Host` header has a port specified in 1.1.0, but not in 1.2.1
- `Sec-We

[2019-03-26 20:26] EddieRingle commented on #345
After modifying the latest develop branch to include the port number again, I made it past the Upgrade error but then entered a loop of connects/disconnects. (I'm using the AWS Java SDK: https://github.com/aws/aws-iot-device-sdk-java)

[2019-03-27 15:27] sp193 commented on #651
I found that the overhead was caused by the additional calls to`` Thread.sleep()``. By changing the way threads are started and stopped, Paho v1.2.1 can start 400 connections in 9034ms.

Why must we wait for a thread to start? Surely an exception would be thrown, should a thread fail to start.
As for stopping, I did a Thread.join(), after getting a copy of the Thread object.

Please refer to this

[2019-03-28 01:35] sp193 commented on #651
I gave it some thought and perhaps the reason why it was preferable to wait for the thread to really start, is to ensure that the state machine will surely transit between states properly... not so much that the thread would fail to start. For example, if stop() is called immediately after start(), but yet the thread has yet to run. Then things like callbackThread would still be null, and stop() w

[2019-03-29 02:28] sp193 commented on #651
Hi again,

I think the pauses were caused by my network, as the lag does not occur when tested with a local MQTT broker. No errors were logged either.
This has been tested on two independent machines.

Hence here is my patch:
Once again, thanks for looking at it.

edit: removed old link.

[2019-03-29 19:49] achopra6 opened #654 "MqttAsync Client leaks Reconnect Thread after close"
Please fill out the form below before submitting, thank you!

- [ X] Bug exists Release Version 1.2.1 ( Master Branch)
- [? ] Bug exists in MQTTv3 Client on Snapshot Version 1.2.1-SNAPSHOT (Develop Branch)
- [ ?] Bug exists in MQTTv5 Client on Snapshot Version 1.2.1-SNAPSHOT (Develop Branch)

If this is a bug regarding the Android Service, please raise the bug here instead: https://github.com/ecli

[2019-03-29 21:40] achopra6 commented on #654
Going through the code I understand that the reconnectTimer is the cause of the leak. When a disconnect / disconnectForcibly/ close is called the reconnectTimer should be canceled and set to null to fix the leak.

[2019-03-30 05:04] sp193 commented on #651
Hi again,

I was reviewing my changes and noticed that commit a6faf77 introduced a change that cancels the thread if ExecutorService is used.
As a result, I have changed the design of my patch to always gracefully wait for callbackThread, recThread and sendThread to stop, regardless of whether ExecutorService is used or not. I also changed start() of these threads to always immediately enter Runni

[2019-04-01 15:47] MMaiero commented on #637
We have the same issue with Kura: we configure WebSocket connection, it connects and than it disconnects.
It worked fine in 1.2.0.

Any update on this? Did you find a workaround?

[2019-04-02 02:35] shoyu666 commented on #634
copy MqttDefaultFilePersistence and MqttPersistentData (add payload null check) as your persistence
new MqttAsyncClient(your persistence)

[2019-04-02 09:02] kandrej commented on #637
I think PR #655 should fix the problem

[2019-04-02 10:53] cdealti commented on #637
@kandrej I think we should clarify with @rehanshaukat the intention of adding the socket timeout.
We have successfully used 1.2.0 in production without any of the issues mentioned in the commit log.

The MQTT PING message is used exactly for this purpose and works as expected after reverting the commit.

Do you mean [this](https://github.com/eclipse/paho.mqtt.java/blame/v1.2.1/org.eclipse.paho.cli

[2019-04-02 13:14] stegmajo opened #656 "MQTT topic filter doesn't support adjacent separators"
I'm using the java paho client for subscribing to a MQTT broker. Unfortunately the java paho client has problems with subscribing to a topic with adjacent separators. The subscription is not working properly, because the topic filter is not matching to the topic with the adjacent separators.

Topic filter 1: `control/+/+/req/#`
Topic filter 2: `control/#`
Example topic: `control///req/02451317a92-

[2019-04-02 13:33] kandrej commented on #637
@cdealti  I agree we should clarify. Please consider adding a comment in the code in case the socket timeout is not needed as the history of the file shows it was added and removed at least 2 times.

However, note that in the current state readMqttWireMessage will not catch the socket read timeout because it reads from a PipedInputStream, which has been closed as the result of an exception describ

[2019-04-04 21:15] derolf opened #658 "Allow unsubscribe for a specific listener"
Currently, unsubscribe removes all listeners for a topic.

Please provide means to unsubscribe only one specific listener.

[2019-04-05 09:22] derolf commented on #551
I am encountering the same problem and I think there is a race condition: Sometimes publish returns before inFlight is decremented. I saw this by capturing the following two stack traces in that order:

This one came FIRST. notifyComplete results in the publish function to return.
[code]

This one came AFTERWARDS:

[code]

The order should the other way around: At first, inFlight should be decreme

[2019-04-05 11:50] hardillb opened #659 "Doc doesn't list `ws://` or `wss://` as valid URI schemes"
Please fill out the form below before submitting, thank you!

- [ x] Bug exists Release Version 1.2.0 ( Master Branch)
- [ x] Bug exists in MQTTv3 Client on Snapshot Version 1.2.1-SNAPSHOT (Develop Branch)
- [ x] Bug exists in MQTTv5 Client on Snapshot Version 1.2.1-SNAPSHOT (Develop Branch)

If this is a bug regarding the Android Service, please raise the bug here instead: https://github.com/ecli

[2019-04-09 08:02] alex-makarov commented on #572
Same problem with v1.2.1 on V3, for "ssl" scheme. 1.2.0 works fine.

[2019-04-09 08:03] derolf commented on #572
Version mqttv3-1.2.1: `Getting java.lang.IllegalArgumentException: no NetworkModule installed for scheme "tcp" of URI "tcp://localhost:1883"`.

[2019-04-10 14:27] icraggs commented on #572
I've added the same fix as I did for MQTT V5 for V3 in the develop branch, 1.2.2-SNAPSHOT, which is available at repo.eclipse.org.

[2019-04-11 11:21] marcus-hiles commented on #659
yeah agreed, the javadoc needs some updates there

[2019-04-11 11:22] marcus-hiles commented on #658
yep, I encountered a similar issue

[2019-04-11 11:31] marcus-hiles commented on #654
Thanks for your suggestion @achopra6

[2019-04-11 11:32] marcus-hiles commented on #647
Yeah, any help here...got confused with this earlier?

[2019-04-11 12:05] marcus-hiles commented on #644
yeah, I was able to reproduce this issue ... hope the technical team has resolved this, so I can upgrade?

[2019-04-11 12:06] marcus-hiles commented on #641
you sure @andilem , seem to work for me ?... hmmm

[2019-04-11 12:07] marcus-hiles commented on #643
@bujingyun8 Can you please show the code logic of what you are trying to achieve?

[2019-04-15 23:43] desokroshan commented on #644
I am planning to use disconnectForcibly() to recover from `Client is currently disconnecting (32102)` exception but it blocks and freezes the app. Any updates on this?

[2019-04-17 17:46] AndrewJudson commented on #575
I'm also interested in a solution to this. I am currently blocked on using paho due to this

[2019-04-17 20:26] icraggs commented on #635
You can use a client constructor which takes a persistence implementation as a parameter.  The default file persistence implementation takes a directory as a parameter.

If you don't need disk persistence, you can use the memory persistence implementation.

[2019-04-18 12:28] bwt commented on #630
adding

    -keep class * implements org.eclipse.paho.client.mqttv3.spi.NetworkModuleFactory

to the proguard / R8 config (`proguard-rules.pro`) solved the issue for me. The resulting APK is about 10k bigger

[2019-04-18 22:31] AndrewJudson commented on #575
@dasAnderl did you ever figure this out? I have been trying your solution and was able to perform SSL handshake with the server, but then paho gave me `java.net.SocketException: Already connected`

[2019-04-18 22:51] AndrewJudson opened #665 "Seeing MqttException (0) - java.net.SocketException: Already connected after ssl handshake"
I am supplying a custom SSLSocketFactory in order to use an http proxy.  When I create the SSLSocket, I am able to successfully CONNECT to the proxy and do SSL handshake with the server. However, paho then gives me
MqttException (0) - java.net.SocketException: Already connected
Caused by: java.net.SocketException: Already connected
	at java.base/sun.security.ssl.SSLSocketImpl.connect(SSLSocketImpl

[2019-04-19 05:41] a-zink commented on #573
@sameerhr84 the provided ProxyAwareSSLSocketFactory only works with the fix I provided, but it did not make it into the release.
The following custom SocketFactory worked for me with version 1.2.1. However, as already stated above, I don't feel like this is a good solution. I would still propose a better native library support for proxies #575

[code]

[code]

[2019-04-19 05:47] a-zink commented on #575
@dasAnderl @AndrewJudson please see my comment https://github.com/eclipse/paho.mqtt.java/issues/573#issuecomment-484773525

[2019-04-19 05:48] a-zink commented on #575
@dasAnderl

Yes, the broker of course needs to support websockets.

[2019-04-19 13:25] sameerhr84 commented on #573
@a-zink  I had to make this working with a similar fix being a critical issue for the project. I also agree with you that the right fix is to fix #575. Any way to take this on priority?

[2019-04-20 14:31] #665 closed, assigned to nobody

[2019-04-20 14:36] AndrewJudson commented on #573
@a-zink that code works for me for a non authenticating proxy. Do you know what we would need to do to make it work with an authenticating proxy? The Authenticator gets set in my app which makes it work with the proxy for http requests but I seem to still get a 407 authentication required error here.

[2019-04-20 15:30] a-zink commented on #573
I have not tried this with `java.net.Authenticator`, but I could try when I find some time.

Every tool usually has it's own approach to deal with proxy auth, or in worst case it is missing at all. Additionally your credentials get spread accross your system over the tool configs. Hence I tend to solve proxy auth by using tools like [cntlm](http://cntlm.sourceforge.net/) or similar.
This is a loca

[2019-04-24 18:10] bertrik commented on #576
I've also seen this bug in 1.2.1. Once it happens, the client appears dead, i.e. threads keep on running but no more data is coming in. I've set connect option setAutomaticReconnect(true). A mosquitto_sub client running in parallel *does* keep receiving the data from the broker.

I can reproduce it as follows:
* connect to a valid and reachable broker with connect option setAutomaticReconnect(true

[2019-04-26 04:01] GitJacke commented on #576
Has some one fix this?

[2019-04-26 13:52] sameerhr84 commented on #573
@a-zink, I am not able to use 1.2.1 due to the issue https://github.com/eclipse/paho.mqtt.java/issues/637
Does your fix work with 1.2.0

[2019-04-28 01:17] hebaceous opened #668 "Multi MqttClient, MqttAsyncClient.reconnecting and MqttAsyncClient.clientLock shouldn't be static."
Please fill out the form below before submitting, thank you!

- [x] Bug exists Release Version 1.2.0 ( Master Branch)
- [x] Bug exists in MQTTv3 Client on Snapshot Version 1.2.1-SNAPSHOT (Develop Branch)
- [ ] Bug exists in MQTTv5 Client on Snapshot Version 1.2.1-SNAPSHOT (Develop Branch)

If this is a bug regarding the Android Service, please raise the bug here instead: https://github.com/eclipse

[2019-04-28 01:49] muchengyang commented on #551
Dear all：
       May I ask if the problem has been solved?

[2019-05-02 06:46] Pitel opened #670 "Why am I gettings Connection Lost exception"
I've an Android app which uses Paho (1.2.0 and now 1.2.1) for MQTT. In crash logging, I see this exception:
[code]

But I don't see any reason why is that happening, or where should I catch it.

I create the client like this:
[code]

And in our testing, we couldn't reproduce it by switching the phone to airplane mode. The log  _MQTT connection lost_ is logged and everything works fine. But still,

[2019-05-06 17:48] ghost commented on #551
@All,
I am also looking for solution to this problem.  Please help me

[2019-05-07 09:14] sunny1974 commented on #551
I solved this issue by sleeping message execution thread when it reaches maxInflight window. Something like below.
while (m_objPahomgr.getInflightMessages() >= maxInflight-2) {
                        try {
                            System.out.println("##########waiting 100ms############"+m_objPahomgr.getInflightMessages());
                            Thread.sleep(100);

[2019-05-07 12:18] JiriBilek commented on #572
I am fighting with this bug, too. I hoped that loading https://repo.eclipse.org/content/repositories/paho-snapshots/org/eclipse/paho/org.eclipse.paho.client.mqttv3/1.2.2-SNAPSHOT/org.eclipse.paho.client.mqttv3-1.2.2-20190418.040541-4.jar will be ok, but I had to revert to https://repo.eclipse.org/content/repositories/paho/org/eclipse/paho/org.eclipse.paho.client.mqttv3/1.2.0/org.eclipse.paho.clien

[2019-05-08 05:55] i402097836 commented on #576
I have the same problem,How to fix it up?

[2019-05-08 06:17] i402097836 opened #672 "no NetworkModule installed for scheme "tcp" of URI "tcp://129.1.99.8:1883""
Please fill out the form below before submitting, thank you!

- [yes ] Bug exists Release Version 1.2.1 ( Master Branch)

If this is a bug regarding the Android Service, please raise the bug here instead: https://github.com/eclipse/paho.mqtt.android/issues/new

This seems like a bug in a multithreaded environment

[2019-05-10 16:13] llakhch commented on #576
we have 6 publisher(mqtt client only for publishing the messages) behind the load balancer and we get below error only in 3 publisher. we are using java paho library 1.2.1

SEVERE: paho62104991016272: Timed out as no write activity, keepAlive=30,000,000,000 lastOutboundActivity=625,565,029,330,356 lastInboundActivity=625,555,607,648,593 time=625,645,608,992,578 lastPing=625,555,559,693,864

settin

[2019-05-13 16:08] sp193 commented on #576
EDIT: I wrote before that I might have encountered this before, but it could have been something else. Anyway, the rest of this post might be still of some use.

It's a bit of a long shot, but what if this reconnection failure is caused by the reconnection event running simultaneously to the disconnection event? Since ClientComms.shutdownConnection() can be run from multiple places (from the pinge

[2019-05-13 16:41] sp193 commented on #576
This might be a way to mitigate this condition, by adding a check for the disconnected state with isDisconnected(), to prevent a double-disconnection within shutdownConnection():
[code]

[2019-05-17 05:16] sp193 commented on #572
I compiled a new build of the MQTT v3 clien, based on the develop branch, and have not seen this glitch appear ever again... Yet.

[2019-05-19 04:02] llakhch opened #673 "Connection lost (32109) - java.io.EOFException"
library:
<dependency>
<groupId>org.eclipse.paho</groupId>
<artifactId>org.eclipse.paho.client.mqttv3</artifactId>
<version>1.2.1</version>
</dependency>

issue: never reconnected in spite of AutomaticReconnect true.

2019-05-16 14:13:41,748 [MQTT Rec: paho3777994479346839] ERROR com.publish.util.ExceptionAssistService.exceptionStrategy(ExceptionAssistService.java:19) - main cause ::
Connection los

[2019-05-20 04:36] llakhch commented on #624
are you saying, if automatic reconnect set to true, in connectionlost, would not have called connect logic? whereas client.reconnect() is ok?

[2019-05-20 16:23] llakhch commented on #673
team this is production issue,  any update would be appreciated.

[2019-05-21 06:58] Sujitrai88 commented on #673
hi team , i am also facing the same issue..

[2019-05-21 07:00] ArunSandhu commented on #673
I get the same error.The callback gets called but client does not reconnect and paho just seem to die.

[2019-05-21 09:57] icraggs commented on #624
@llakhch yes.   Automatic reconnect did not exist originally, the way to reconnect was to call connect in the connection lost callback.  Automatic reconnect was added to replace that method.  If you activate automatic reconnect and also connect in the connection lost callback, it would at the very least be confusing and unnecessary.

[2019-05-21 13:01] rehanshaukat commented on #637
Sorry for replying very late on this issue.

I haven't used 1.2.1 in production yet. Bit of context: we use https://github.com/aws/aws-iot-device-sdk-java to connect to aws IoT services. AWS IoT SDK use old version of paho 1.1.0. Random IoT stopped working issues were noticed when using WebSocket connections. While reading paho codebase, I spotted that socket timeout was set to unlimited which did

[2019-05-23 06:13] ouyangshengduo opened #674 "java.lang.NoClassDefFoundError: java.nio.charset.StandardCharsets Crash"
Please fill out the form below before submitting, thank you!

- [ ] Bug exists Release Version 1.2.0 ( Master Branch)
- [x] Bug exists in MQTTv3 Client on Snapshot Version 1.2.1-SNAPSHOT (Develop Branch)
- [ ] Bug exists in MQTTv5 Client on Snapshot Version 1.2.1-SNAPSHOT (Develop Branch)

If this is a bug regarding the Android Service, please raise the bug here instead: https://github.com/eclipse

[2019-05-28 10:05] cdealti commented on #637
@kandrej the socket read timeout was added with e71753673c0f3dadbb298392b338e7452c91a35a to support SSL session resumption #28. This contribution took one year and a half to be merged in the codebase and released with v1.1.1. The contribution was meant for MQTT over TCP or SSL (not Websockets) and came with a test.

The socket timeout was removed with bbd6dc730cc88b09226086998735cfc5867582fc witho

[2019-05-29 13:56] mbaeuerle commented on #572
Thanks for fixing this problem! Is there a roadmap when version 1.2.2 will be released?

[2019-06-04 15:40] davidgraeff commented on #551
We at openHAB are facing the same issue. An explicit timeout mechanism should be established as a short term solution, and the race conditions that allows the inflight value to increase, but never decrease, should to be fixed in the long run.

[2019-06-07 20:10] djbr-david opened #675 "Removing a message should reduce in flight count"
Please fill out the form below before submitting, thank you!

- [* ] Bug exists Release Version 1.2.0 ( Master Branch)
- [* ] Bug exists in MQTTv3 Client on Snapshot Version 1.2.1-SNAPSHOT (Develop Branch)
- [ ] Bug exists in MQTTv5 Client on Snapshot Version 1.2.1-SNAPSHOT (Develop Branch)

If this is a bug regarding the Android Service, please raise the bug here instead: https://github.com/eclip

[2019-06-14 15:36] jeffemandel opened #678 "Lingering thread in MqttClient"
Please fill out the form below before submitting, thank you!

- [x ] Bug exists Release Version 1.2.0 ( Master Branch)
- [x ] Bug exists in MQTTv3 Client on Snapshot Version 1.2.1-SNAPSHOT (Develop Branch)
- [ ] Bug exists in MQTTv5 Client on Snapshot Version 1.2.1-SNAPSHOT (Develop Branch)

I am developing a tomcat servlet that exchanges information via Mqtt. Tomcat 8, java 1.8.

I create a clien

[2019-06-17 19:54] timtay-microsoft opened #679 "Connection lost (32109) - EOFException after connect for Websocket connection"
Please fill out the form below before submitting, thank you!

- [x] Bug exists Release Version 1.2.1 ( Master Branch)
- [ ] Bug exists in MQTTv3 Client on Snapshot Version 1.2.1-SNAPSHOT (Develop Branch)
- [ ] Bug exists in MQTTv5 Client on Snapshot Version 1.2.1-SNAPSHOT (Develop Branch)

Upgrading from version 1.2.0 to 1.2.1 appears to introduce a regression on issue #358

Connection appears to

[2019-06-17 20:07] desokroshan commented on #644
Any updates on this?

[2019-06-17 21:04] timtay-microsoft commented on #679
Here is the simplest repro of the issue that I could make:

[code]

[2019-06-19 08:30] roychen11232357 opened #680 "connectComplete be triggered when connectionLost"
When I use connectComplete like below, the callback will be trigger before connectionLost,
[code]

But when I changed the coed like this, it works correctly, connectComplete will not be fired when connectionLost

[code]

I used org.eclipse.paho.sample.mqttv3app:SampleAsyncCallBack.java to make this case. Is this a bug?

[2019-06-20 18:01] bpair commented on #603
Would you want a scheduled service if you were using Websockets/OAuth2 and refreshing a token? I am just trying to think of possible desired functionality.

[2019-06-21 20:38] windbender commented on #679
I have seen this bug as well.  FWIW,  reverting to 1.2.0 seems to fix the bug.

[2019-06-25 09:46] Khalian commented on #453
I am trying to figure out the thread safety guarantees of the mqtt client disconnect and forcibly disconnect behavior. There is no documentation on it, and it seems multiple threads disconnecting the client is causing the client to stick to disconnecting state for tens of minutes.

[2019-06-27 17:19] siavashsoleymani commented on #679
same here!

[2019-06-27 17:22] siavashsoleymani commented on #673
Hi same error here! paho does not reconnect and just stop consuming!

[2019-06-30 13:21] OfekRegev commented on #679
same. any solutions?

[2019-07-06 13:38] siavashsoleymani commented on #679
the issue seems because of the read time out of socket.
i solve its problem in pull request 684 also you can get my fork in the link below:
https://github.com/siavashsoleymani/paho.mqtt.java

you can set the soTimeout property in ConnectOptions to 0 for infinite read timeout or you can set a value based on your system requirements.

[2019-07-08 10:52] CreateChance commented on #679
Same problem here.

[2019-07-10 07:10] nrvmodi opened #685 "Share subscription : Is there any sharename limitation? Too long sharename"
Please fill out the form below before submitting, thank you!

- [ 1.2.0] Bug exists Release Version 1.2.0 ( Master Branch)

**Environment**
VerneMQ Version: erlio/docker-vernemq:1.7.1-2
Paho Java Client : 1.2.1
OS: UBUNTU 18.04
Erlang/OTP version (if building from source):
VerneMQ configuration (vernemq.conf) or the changes from the default
Cluster size/standalone: 3 nodes

**Expected behavior**
I

[2019-07-10 19:54] damaddin commented on #673
facing the same issue we decided to reconnect manually in the connectionLost callback.

[2019-07-24 13:38] dguggemos opened #686 "Disconnecting/closing client not possible after connection failed"
- [x] Bug exists Release Version 1.2.0 ( Master Branch)
- [ ] Bug exists in MQTTv3 Client on Snapshot Version 1.2.1-SNAPSHOT (Develop Branch)
- [ ] Bug exists in MQTTv5 Client on Snapshot Version 1.2.1-SNAPSHOT (Develop Branch)

Hi,
we are using the Paho MQTT Java client in the [Eclispe Ditto](https://github.com/eclipse/ditto) project to allow a user to configure MQTT connections to external broke

[2019-07-24 13:47] dguggemos commented on #686
see also eclipse/ditto#450

[2019-07-25 02:19] dtboy1995 commented on #674
the same issue

[2019-07-29 05:41] dtboy1995 commented on #674
@ouyangshengduo hello
i test the lib https://github.com/eclipse/paho.mqtt.android on Android 4.3 it works well

[2019-07-30 09:25] kavidriod opened #687 "SSLHandshakeException: No subjectAltNames on the certificate match"
Hi,

Please suggest.

I have Upgraded from version 1.2.0 to 1.2.1 ,When i try to connect i'm getting this issue

**MqttException (0) - javax.net.ssl.SSLHandshakeException: No subjectAltNames on the certificate match**

Below is a log from mosquitto

**sslv3 alert certificate unknown**

[2019-07-30 19:16] timtay-microsoft commented on #679
@icraggs this is a big blocker for me, is any work being done to fix this issue? And are there any plans to put out a new release with that fix?

[2019-07-31 11:12] castasat commented on #674
Encountered the same error while using these dependencies in my build.gradle:

[code]

Here is the stacktrace:

[code]

and the phone was:

[2019-07-31 11:18] dtboy1995 commented on #674
@castasat hello bro，please use MqttAndroidClient， i guess  you not use the class， could you paste your code?

[2019-08-01 09:18] galla-devlop opened #688 "java.lang.RuntimeException: java.nio.charset.IllegalCharsetNameException: java.nio.charset.CharsetICU[UTF-8]"
OS and version used:
Android 6.0.1
Java runtime used:
Java 8
SDK version used:
IOT service client 1.17.1
(implementation group: 'com.microsoft.azure.sdk.iot', name: 'iot-service-client', version: '1.17.1')

twinClient.getTwin(device) throws the following exception

java.lang.RuntimeException: java.nio.charset.IllegalCharsetNameException: java.nio.charset.CharsetICU[UTF-8]
    at com.microsoft.azur

[2019-08-05 19:51] miketran78727 commented on #688
This problem is within the Microsoft package that you are using:
[code]

[2019-08-05 20:30] miketran78727 commented on #647
I am assuming that you are using paho to connect your (IoT) devices, gateways and applications. (IoT Platforms have their own terminology. So, I just use the most common terminology here).  The IoT platform in the cloud contains a MQTT Broker.  So, your MQTT client (device, gateway or application) sends and receives messages through the MQTT broker.

When your MQTT client publishes a message, `del

[2019-08-07 10:43] tianlongyuan opened #689 "MqttConnectOptions setting serverURIs is invalid"
I want to try MqttConnect Options to set up server URIs to connect to multiple mosquitto servers. The settings don't seem to work.

This is the parameter value i set .
`MqttClient client = new MqttClient(”tcp://192.168.1.57:1883“, clientId, new MemoryPersistence());
MqttConnectOptions options = new MqttConnectOptions();
options.setUserName(userName);
options.setPassword(passWord.toCharArray());
op

[2019-08-07 10:44] tianlongyuan commented on #689
Waiting for your help , thank you

[2019-08-09 17:43] sp193 commented on #687
Does the hostname that you connect with, appear in the Subject Alternative Name (SAN) section of the MQTT broker's TLS certificate? If you connect with the broker's IP address, then this IP address would also have to be a Subject Alternative Name.

[2019-08-15 17:15] vanrin commented on #673
<img width="718" alt="Screen Shot 2019-08-16 at 12 14 35 AM" src="https://user-images.githubusercontent.com/7965680/63112668-fcf13800-bfba-11e9-951b-b878567c01aa.png">

[2019-08-19 01:52] Aaron-He commented on #551
I solved this issue by changing the code in the paho library.  Can see this: https://github.com/eclipse/paho.mqtt.java/pull/690

[2019-08-19 02:12] lordterrial opened #691 "paho.mqtt.java fails to build from source"
- [X] Bug exists Release Version 1.2.0 ( Master Branch)
- [ ] Bug exists in MQTTv3 Client on Snapshot Version 1.2.1-SNAPSHOT (Develop Branch)
- [ ] Bug exists in MQTTv5 Client on Snapshot Version 1.2.1-SNAPSHOT (Develop Branch)

Running on a raspberry pi 3,
Description:    Ubuntu 18.04.2 LTS
Release:        18.04

$mvn package -DskipTests

[INFO] -----------< org.eclipse.paho:org.eclipse.paho.mqtt

[2019-08-19 09:20] cvb941 commented on #634
This is an obvious NPE that can be statically detected and easily fixed. There's already a PR for it too.
It's 5 months and still hasn't been fixed (issue is still open).

[2019-08-21 19:14] ajith-om opened #692 "How to know if a publish is success ?"
Dear Team,
I'm successfully using mqtt client to publish and subscribe data. I have tried it with java and windows cmd and its properly working fine. When i publish some message from java,I'm successfully able to see that in cmd and subsequently I get a message from the logger I have added in delivery completed method(override from mqttcallback). Now, I need help on implementing on getting respons

[2019-08-22 16:09] icraggs commented on #679
Yes, I'm starting to look at it now.  I've been making a new release of the C client as well as MQTT V5 support.   I think this will need some new tests.

[2019-08-23 08:10] aliozgun commented on #345
Is there any update on this issue? Using 1.1.0 at this point is not helping anymore. Iot-device-stk is brought down to 1.0.1

Thanks
Ali

[2019-08-26 22:20] timtay-microsoft commented on #679
Thanks for getting the fix into the dev branch, @icraggs ! When can I expect a release with this fix?

[2019-08-29 13:34] Leondev7 opened #693 "Resource never released"
Hello. I'm currently using this library to connect to an amazon STS Endpoint
This endpoint changes every 15 minutes and I have to change it whenever I encounter a connection failure. If I try to connect to a non  valid endpoint, the application throws this error

`MqttException (0) - java.io.IOException: WebSocket Response header: Incorrect upgrade.
        at org.eclipse.paho.client.mqttv3.intern

[2019-09-01 08:35] thorsten-schwartz opened #694 "An illegal reflective access operation has occurred -> openjdk 12.0.2-BellSoft 2019-07-16"
Please fill out the form below before submitting, thank you!

- [ ] Bug exists Release Version 1.2.0 ( Master Branch)
- [x] Bug exists in MQTTv3 Client on Snapshot Version 1.2.1-SNAPSHOT (Develop Branch)
- [ ] Bug exists in MQTTv5 Client on Snapshot Version 1.2.1-SNAPSHOT (Develop Branch)

If this is a bug regarding the Android Service, please raise the bug here instead: https://github.com/eclipse

[2019-09-05 02:42] 18616505009 commented on #324
I experienced this problem recently and as metioned above a loss of network is a way to reproduce it,may not be the only way though.Client will stay unavailable but wont trigger any connection-lost callbacks or any exception once the problem occurs.Problem remains unsovled.
`GID_newbest@@@local_nbcloud570: Timed out as no activity, keepAlive=10,000,000,000 lastOutboundActivity=5,536,654,054,884 la

[2019-09-05 11:50] misau opened #695 "mqttv5 - function subscribe calls itself"
MqttClient.java:
	public IMqttToken subscribe(String[] topicFilters, int[] qos, IMqttMessageListener[] messageListeners)
			throws MqttException {
		return this.subscribe(topicFilters, qos, messageListeners);
	}

[2019-09-05 22:32] timtay-microsoft commented on #679
@icraggs pinging on this, I would really appreciate an ETA on the release of this fix

[2019-09-06 04:24] nthoangvn commented on #633
Got 1 star rating from user due to this crash. Very disappointed.

[2019-09-08 08:36] sh0umik commented on #568
Getting the same error while the phone is in battery saver mode. As soon as i turn off the battery saver mode, the clients reconnect successfully.

[2019-09-09 09:23] sakshamverma opened #696 "mqtt client in unix, connectionLost is not invoked on network outage"
Please fill out the form below before submitting, thank you!

- [ x ] Bug exists Release Version 1.2.0 ( Master Branch)
- [ x ] Bug exists in MQTTv3 Client on Snapshot Version 1.2.1-SNAPSHOT (Develop Branch)
- [ ] Bug exists in MQTTv5 Client on Snapshot Version 1.2.1-SNAPSHOT (Develop Branch)

If this is a bug regarding the Android Service, please raise the bug here instead: https://github.com/ecl

[2019-09-09 09:36] JacquesSmuts commented on #502
It is now available in version 1.2.1 and you implement it like so:

[code]

[2019-09-09 10:33] veita commented on #572
We are experiencing this problem in production with the MQTTv3 1.2.1 release client library.

It can be reproduced with this two lines of code:
[code]
The root cause of this bug seems to be a race condition (in JDK 11 and possibly others) in the `java.util.ServiceLoader` implementation. I've filed a bug with Oracle.

[2019-09-09 14:37] veita commented on #572
OK, I should not have blamed JDK.

The documentation of `java.util.ServiceLoader` clearly states that

[2019-09-09 18:46] CraigGemmill commented on #691
Is this planned to be addressed?  I am seeing the same problem today (9-Sept).  I even get it when I switch to v1.2.1 tag.  With v1.2.0 I get an error too, but it seems to be related to something else.

[2019-09-11 10:29] JacquesSmuts commented on #679
@timtay-microsoft if you're in a hurry your best bet is to pull the develop branch and build the .jar file yourself, until version 1.2.2 is released.

[2019-09-13 01:03] sh0umik commented on #576
Any progress on this ?

[2019-09-13 11:01] icraggs commented on #679
I'll look into getting out a release next week.

[2019-09-16 07:29] MirkoBianchetti opened #697 "messageArrived() callback fired randomly when there are multiple messages to read?"
Hi, I'm using the library for an IoT application. Can happen that some time an external source publish onto the broker where my application is subscribed something like 100 messages (short messages, < 1kb each) all together, that have to be processed by the app. But if everything works well with the messageArrived() callback when there is a short amount of messages, in this case I see a strange be

[2019-09-18 20:11] Phlosioneer opened #698 "Master Branch compile failure version issue"
The current master branch fails to build locally. The pom file for sample.utility references version 1.2.2, but the actual built artifacts are all version 1.2.1:
https://github.com/eclipse/paho.mqtt.java/blob/8a07b1cc9bde31e3bcbdc86621067a6dc02bc9d7/org.eclipse.paho.sample.utility/pom.xml#L74

This line was introduced with the commit "Update version numbers to 1.2.1", so I'm assuming it's a typo?

[2019-09-18 22:42] desokroshan commented on #345
@jpwsutton @icraggs Is there any update on this. [AWS SDK for Android](https://github.com/aws-amplify/aws-sdk-android/tree/master/aws-android-sdk-iot) depends on paho and is unable to upgrade because of this error. This prevents us from using the bug fixes and features in the latest paho version. Can we have some idea of timeline for this?

[2019-09-19 05:48] jiangwenjing69 opened #699 "no NetworkModule installed for scheme "tcp" of URI "tcp://47.112.200.32:1883"，请问怎么解决？直接使用org.eclipse.paho.client.mqttv3.1.2.1.jar包没有问题"
下载的Java版paho.mqtt.java的org.eclipse.paho.client.mqttv3的源码包，eclipse编译MQTT通信客户端，报错：Exception in thread "Thread-6" java.lang.IllegalArgumentException: no NetworkModule installed for scheme "tcp" of URI "tcp://47.112.200.32:1883"
	at org.eclipse.paho.client.mqttv3.internal.NetworkModuleService.validateURI(NetworkModuleService.java:70)
	at org.eclipse.paho.client.mqttv3.MqttAsyncClient.<init>(MqttAsyncC

[2019-09-19 10:34] icraggs commented on #345
The latest release of the Paho Java client is 1.2.1.  I presume this is still not working.

Does the same error occur if the connection attempt is made outside of Android, in a 'plain' Java environment?  If so, that will make it easier to find and fix.

Can anyone supply a trace or other details of the protocol exchange?  I'd hope not to have to create an AWS account to try this out.  I could put

[2019-09-19 14:15] aliozgun commented on #345
When I replayed the same update HTTP request from Postman I got signature error. It looks like the signature calculation is incorrect.

[2019-09-19 15:14] icraggs commented on #345
Ah sorry, I hadn't seen the update request above posted.

[2019-09-19 15:34] aliozgun commented on #345
Sorry I meant the HTTP upgrade request for websocket. That request fails with signature error and does not have the necessary response headers.

[2019-09-19 16:51] desokroshan commented on #345
@icraggs I have tried with the 1.2.1 and am still getting the same error. Only version it works with is 1.1.0. Please let me know if you need anything else. This is blocking quite a few of our customers from using AWS IoT, so we would really appreciate a speedy resolution.

[2019-09-19 20:39] icraggs commented on #345
Thanks. I think the post from @EddieRingle could contain the key in the handshake:

Sec-WebSocket-Protocol: mqttv3.1

We should hopefully be able to try it out.  If anyone else can in the meantime, we could get a fix out quick.

[2019-09-20 02:36] desokroshan commented on #345
The problem is not with `Sec-WebSocket-Protocol` being mqtt but with the missing port number in host header for websocket request. I have verified that adding the port back fixes the issue. I have issued a PR(referenced above) with the required fix.

[2019-09-20 08:26] siavashsoleymani commented on #324
It can happens when your internet connection is lost and keepAlive has been timed out
if this is your problem i fix it in this PR:
https://github.com/eclipse/paho.mqtt.java/pull/702

[2019-09-20 08:26] siavashsoleymani commented on #696
It can happens when your internet connection is lost and keepAlive has been timed out
if this is your problem i fix it in this PR:
https://github.com/eclipse/paho.mqtt.java/pull/702

[2019-09-20 12:39] icraggs commented on #345
Ah yes, thanks.  I've merged your fix, so we should be good to go in the next release.

[2019-09-20 17:09] icraggs commented on #695
I'm writing a new MQTT V5 client library - it's in the vert.x branch.  I intend that to be the one that's released.

[2019-09-20 17:09] #695 closed, assigned to nobody

[2019-09-20 17:33] desokroshan commented on #345
Thanks! When can we expect next release to go out?

[2019-09-20 19:28] icraggs commented on #345
I'll get one out next week - now there are two significant fixes.

By the way, once you were successfully connected, did things work as expected?

[2019-09-20 22:48] desokroshan commented on #345
Thanks that would be great!

Yes. I was able subscribe and publish messages successfully.

[2019-09-23 17:32] icraggs commented on #345
1.2.2 release created.

[2019-09-23 17:32] #345 closed, assigned to icraggs

[2019-09-23 17:32] icraggs commented on #679
1.2.2 release created

[2019-09-23 17:32] #679 closed, assigned to icraggs

[2019-09-23 17:35] icraggs commented on #694
This message has appeared with recent version of the JDK.  The tests are still working.  I will take a look for the next release.

[2019-09-23 18:18] timtay-microsoft commented on #679
Thanks, icraggs!

[2019-09-24 09:12] icraggs commented on #691
For now you can build by specifying the project:

mvn package -DskipTests --projects org.eclipse.paho.client.mqttv3

as is done on the Travis builds.

[2019-09-24 13:44] cosinelabs commented on #551
Is this resolved? We are facing the same issue.

[2019-09-26 14:58] icraggs commented on #699
Hi.  This is a duplicate of #572.  Please follow in there.  Thanks.

[2019-09-26 14:58] #699 closed, assigned to nobody

[2019-09-26 14:59] icraggs commented on #672
Hi.  This is a duplicate of #572 - please follow there.  Thanks.

[2019-09-26 14:59] #672 closed, assigned to nobody

[2019-09-30 02:10] xiangwangcheng commented on #680
I encounter this kind of problem too. The connectComplete was invoked whenever connection lost.
Anyone help to explain this?

[2019-09-30 13:31] money-yeye commented on #697
Hi @MirkoBianchetti,
I tried to replicate your problem but it seems that message handled by the callback are consumed in right way. How do you implemented it ? Can you give more details about your code?

[2019-10-03 05:43] thorsten-schwartz commented on #694
Thanks, same bug also in

java --version
openjdk 13-BellSoft 2019-09-17
OpenJDK Runtime Environment (build 13-BellSoft+33)
OpenJDK Server VM (build 13-BellSoft+33, mixed mode)

on Raspi.

Greets from Germany

[2019-10-05 02:56] nguyenvanquan7826 commented on #673
I get the same error. Now I must call connect again in the connection fail.

[2019-10-08 11:44] xiangwangcheng opened #704 "When invalid topicFilter is subscribed, IllegalArgumentException maybe ignored since it is RuntimeException and needn't be handled."
Please fill out the form below before submitting, thank you!

- [√ ] Bug exists Release Version 1.2.2 ( Master Branch)
- [√] Bug exists in MQTTv3 Client on Snapshot Version 1.2.3-SNAPSHOT (Develop Branch)
- [√ ] Bug exists in MQTTv5 Client on Snapshot Version 1.2.3-SNAPSHOT (Develop Branch)

When an invalid topicFilter is subscribed, IllegalArgumentException is thrown. Since subscribe() method of

[2019-10-11 01:30] wangzengjing commented on #576
i meet this problem too,how do you fix this?

[2019-10-11 14:17] Pitel commented on #633
Still happens in 1.2.2.

[2019-10-14 14:22] veita commented on #572
This bug seems to be fixed in 1.2.2.

[2019-10-16 10:28] roychen11232357 commented on #633
I think this problem is quite serious, because the old version of the Android device is really used by many people. If someone can support the old version, that’s really a wonderful thing.

[2019-10-17 10:50] codescale commented on #314
We stumbled upon the same issue and solved it ourself by using the `MqttAsyncClient` and simply don't call `waitForCompletion`.

[2019-10-18 12:11] jiahuifu opened #705 "Print logs every second: I/System.out: [CDS]EAGAIN in Recvfrom I/System.out: [CDS]read byte is 0"
How can I close the logs?

Please fill out the form below before submitting, thank you!

- [YES ] Bug exists Release Version 1.2.2 ( Master Branch)
- [ ] Bug exists in MQTTv3 Client on Snapshot Version 1.2.3-SNAPSHOT (Develop Branch)
- [ ] Bug exists in MQTTv5 Client on Snapshot Version 1.2.3-SNAPSHOT (Develop Branch)

If this is a bug regarding the Android Service, please raise the bug here inste

[2019-10-21 03:47] jiahuifu commented on #705
1.2.0  OK
1.2.1  Print Logs
1.2.2  Print Logs

[2019-10-21 13:45] iAmSKU opened #706 "How to use proxy with paho version 1.2.1 or 1.2.2!"
@icraggs , @a-zink
Thanks for the suggestion and detail information/snippet provided.

I was looking for the proxy support and it was working with version 1.2.0, with the suggested solution.

But now I need to move to the v1.2.1 or later.

While seeing the multiple thread it is mentioned as:
- As of now there is no "Native proxy support without providing custom SocketFactory" with paho mqtt java c

[2019-10-22 14:17] xanscale commented on #633
SNIHostName is added in java 1.8, but this lib are configured as java 1.7

https://docs.oracle.com/javase/8/docs/api/javax/net/ssl/SNIHostName.html

[2019-10-22 15:18] TMselvan opened #707 "MQTT subscriptions doesn't work"
mqttc.subscribe(topicName, 1, null,iMqttActionListener,  iMessageListener);

I tried to subscribe with passing the topic name, qos status, context null , action listener and message listener. It doesn't return any action call back status. What was the issue ?

private IMqttMessageListener iMessageListener= new IMqttMessageListener() {
         @Override
         public void messageArrived(String t

[2019-10-29 08:25] Pitel commented on #378
Bump. I was hit by this again, when trying to use Coroutines Flow. My [SO question](https://stackoverflow.com/questions/58555193/how-to-wrap-single-callback-with-multiple-flows).

[2019-11-01 14:42] nickschriev commented on #576
Based on what's being said here https://www.eclipse.org/forums/index.php/t/1070780/, the client needs to reconnect after the keep-alive interval has passed. However, with the automaticReconnect flag set to true I expect the paho.MqttClient to do this for me.

For now I've circumvented this by catching the exception and calling .connect() again.

[2019-11-01 22:20] gouldner commented on #634
Still happening in v1.2.2 Unfortunately this issue breaks MqttDefaultFilePersistence making it unusable.

[2019-11-02 11:31] RedShift1 commented on #595
Just found out myself that messages from a setCleanSession(false) can arrive before a call to subscribe() is made. From initial testing you can catch them [MqttAsyncClient.setCallback()](https://www.eclipse.org/paho/files/javadoc/org/eclipse/paho/client/mqttv3/MqttAsyncClient.html#setCallback-org.eclipse.paho.client.mqttv3.MqttCallback-). Totally not the behaviour you would expect!

[2019-11-05 10:31] bertrik commented on #576
@nickschriev If you can reliably reproduce the problem and have a working workaround, can you share your code?

[2019-11-06 05:59] kervin521 opened #709 "When will mqttv5 be released ？"
Please fill out the form below before submitting, thank you!

- [ ] Bug exists Release Version 1.2.2 ( Master Branch)
- [ ] Bug exists in MQTTv3 Client on Snapshot Version 1.2.3-SNAPSHOT (Develop Branch)
- [ ] Bug exists in MQTTv5 Client on Snapshot Version 1.2.3-SNAPSHOT (Develop Branch)

If this is a bug regarding the Android Service, please raise the bug here instead: https://github.com/eclipse

[2019-11-07 16:40] nickschriev commented on #576
@bertrik

[code]

And a `forceReconnect()` method like:

[code]

Dont' forget to turn the `automaticReconnect` flag in the `mqttOptions` to false if using this workaround.

[2019-11-08 20:00] rrmorey commented on #502
How can we retrieve the headers on the subscriber side?

[2019-11-12 17:12] Rishabh8721 commented on #633
I am also facing same issue with devices having sdk version< 24. As mentioned above version 1.2.0 didn'd had this problem. How can i rollback to 1.2.0? Changing dependency to

didn't work. Still getting same error.

[2019-11-18 13:14] mohammad-karam commented on #633
I rolled back to version 1.2.0 due this problem.

[2019-11-18 13:51] darylsze commented on #633
have you tried to `clean project` and `rebuild`?

[2019-11-18 18:52] Rishabh8721 commented on #633
Yes I've tried that. But same problem persist.

[2019-11-19 02:07] aloz77 commented on #572
Nope, still experience this bug with 1.2.2.

[code]
Revert to 1.2.0 as workaround.

[2019-11-19 13:00] veita commented on #572
For me the following test failed with 1.2.1 but now works with 1.2.2

[code]

[2019-11-19 14:23] jokeralive-z commented on #633
so,does anybody know how to solve  ?

[2019-11-19 19:22] cuddlyporcupine opened #711 "a timeToWait value of -1 (i.e. wait forever) is not a good default"
Please fill out the form below before submitting, thank you!

- [x] Bug exists Release Version 1.2.2 ( Master Branch)
- [ ] Bug exists in MQTTv3 Client on Snapshot Version 1.2.3-SNAPSHOT (Develop Branch)
- [ ] Bug exists in MQTTv5 Client on Snapshot Version 1.2.3-SNAPSHOT (Develop Branch)

If this is a bug regarding the Android Service, please raise the bug here instead: https://github.com/eclipse

[2019-11-20 01:33] aloz77 commented on #572
Hmm, no idea, I'm still getting this error with 1.2.2. Looks like a race condition somewhere. The debug build seems to be less affected than prod build.

[code]

[2019-11-20 02:30] sp193 commented on #572
This is just a stab in the dark, but should synchronized be added to createInstance() too?

[2019-11-20 08:53] valera7979 commented on #402
Yes, you did it!!!! Congrats!!! All works fine since 1.3.4 version

'com.amazonaws:aws-iot-device-sdk-java:1.3.4'

It is strange that paho version in sdk library 1.1.0 but it works.

[2019-11-20 19:56] veita commented on #572
That‘s true. To make things clear I would even synchronize on `FACTORY_SERVICE_LOADER` instead of `NetworkModuleService`.

[2019-11-22 05:39] Fidenz-Lasithh commented on #687
@kavidriod  Did you manage to fix this?
I am using this with Android and I noticed that this happens only with certain kinds of devices

[2019-11-22 13:31] iacco opened #713 "NullPointerException when working with persistence"
Please fill out the form below before submitting, thank you!

- [ x] Bug exists Release Version 1.2.2 ( Master Branch)
- [ x] Bug exists in MQTTv3 Client on Snapshot Version 1.2.3-SNAPSHOT (Develop Branch)
- [ x] Bug exists in MQTTv5 Client on Snapshot Version 1.2.3-SNAPSHOT (Develop Branch)

In the MQTTv3 client, in line 219 of MqttDefaultFilePersistence.java a new instance of MqttPersistentData

[2019-11-23 09:15] RedShift1 commented on #713
Duplicate of https://github.com/eclipse/paho.mqtt.java/issues/634

[2019-11-27 10:51] jayjamba opened #715 "Impact of connecting to broker which supports MQTT 5.0 specification"
Please fill out the form below before submitting, thank you!

- [ ] Bug exists Release Version 1.2.2 ( Master Branch)
- [ ] Bug exists in MQTTv3 Client on Snapshot Version 1.2.3-SNAPSHOT (Develop Branch)
- [ ] Bug exists in MQTTv5 Client on Snapshot Version 1.2.3-SNAPSHOT (Develop Branch)

If this is a bug regarding the Android Service, please raise the bug here instead: https://github.com/eclipse

[2019-11-29 06:21] jayjamba commented on #715
Hi,
Did you get a chance to look into this ?

[2019-11-29 06:28] 2422006980 opened #716 "Timed out as no activity"
My program subscribed to a topic, which received a lot of subscription information. After running for a period of time, the program would always report the following errors.

ERROR 2019-11-29 14:17:42 - 56480046-7dbd-4500-b074-b9e729a6d26c: Timed out as no activity, keepAlive=60,000,000,000 lastOutboundActivity=73,870,534,312,909,049 lastInboundActivity=73,870,474,311,957,613 time=73,870,594,312,9

[2019-12-01 11:55] ghost opened #717 "mqttv5.0 java 找不客户端编写方式"
Please fill out the form below before submitting, thank you!

- [x] Bug exists Release Version 1.2.2 ( Master Branch)
- [ ] Bug exists in MQTTv3 Client on Snapshot Version 1.2.3-SNAPSHOT (Develop Branch)
- [ ] Bug exists in MQTTv5 Client on Snapshot Version 1.2.3-SNAPSHOT (Develop Branch)

If this is a bug regarding the Android Service, please raise the bug here instead: https://github.com/eclipse

[2019-12-01 11:55] #717 closed, assigned to nobody

[2019-12-02 09:11] BenjaminZaiser opened #718 "MqttTopic.isMatched() bug using wildcard topic and //"
Please fill out the form below before submitting, thank you!

- [x] Bug exists Release Version 1.2.2 ( Master Branch)
- [x] Bug exists in MQTTv3 Client on Snapshot Version 1.2.3-SNAPSHOT (Develop Branch)
- [ ] Bug exists in MQTTv5 Client on Snapshot Version 1.2.3-SNAPSHOT (Develop Branch)

If this is a bug regarding the Android Service, please raise the bug here instead: https://github.com/eclipse

[2019-12-03 15:58] tommos23 commented on #633
Has this been resolved?

[2019-12-03 20:20] Pitel commented on #633
No, #666 is still open.

[2019-12-04 11:24] muralimanohar0212 opened #719 "MQTT gets stuck at during when connecting to server"
Hi,
I'm using eclipse paho for a fun project at home. I'm using Eclipse paho 1.2.1 and I am facing an issue when there is a fluctuation in network.

I  am able to connect to the server. If  network goes of and comes back on - about 5 - 6 times with a gap  of 8 seconds, the device is not connecting to the server. There is a log that says , connecting  to server  - but it never goes through.

It rea

[2019-12-04 11:28] muralimanohar0212 commented on #31
Any updates on this issue. I am facing a problem where network fluctuates, MQTT fails to connect back to the server, and I suspect it is this.

Or am i facing another issue which needs to be raised or is already solved?

[2019-12-05 03:16] bobobo1114 commented on #576
ERROR o.e.p.c.mqttv3.internal.ClientState 210 - 172.18.215.24-gps-1: Timed out as no activity, keepAlive=200,000,000,000 lastOutboundActivity=15,938,114,406,087,056 lastInboundActivity=15,937,914,405,994,593 time=15,938,314,406,133,983 lastPing=15,938,114,406,088,182,

I meet this problem too. This problem occurs when use 1.2.0,1.2.1,1.2.2 versions.
But This problem disappeared when set setCleanSe

[2019-12-05 12:57] jayjamba commented on #715
Hi,
Is anyone looking into this ?

[2019-12-05 15:06] lexguy20 opened #720 "java.lang.IllegalArgumentException: no NetworkModule installed for scheme "wss" of URI"
Hi, I upgraded DeviceClient to 1.18.0 with all its dependencies and now I am getting following IllegalArgumentException while creating DeviceClient, if I keep the DeviceClient version 1.16.0, I don't see following exception:

**java.lang.IllegalArgumentException: no NetworkModule installed for scheme "wss" of URI "wss://dev-lram-iot.azure-devices.net/$iothub/websocket?iothub-no-client-cert=true"ja

[2019-12-05 19:36] timtay-microsoft commented on #720
Can you simplify the repro so that it doesn't reference the device client library you mentioned? This repo is for Paho, not the Azure IoT SDK. Here is some simple code for opening an MQTT websocket connection directly using Paho:

[code]

Is your device capable of running the above without hitting an exception?

[2019-12-06 06:56] penggle commented on #673
I am got this problem in a high-concurrency consumer program with paho.mqtt.java version 1.2.2

org.eclipse.paho.client.mqttv3.MqttException: Connection lost
	at org.eclipse.paho.client.mqttv3.internal.CommsReceiver.run(CommsReceiver.java:190) [org.eclipse.paho.client.mqttv3-1.2.2.jar!/:?]
	at java.lang.Thread.run(Thread.java:748) [?:1.8.0_202]
Caused by: java.io.EOFException
	at java.io.DataInput

[2019-12-09 06:00] ogis-yamazaki commented on #713
Duplicate of  PR #653

[2019-12-10 05:19] bananaumai commented on #511
Concerning this issue, the absence of timeout for connack is especially troublesome when it comes to reconnection. That is, we don't have to access to IMqttToken at the time of recconection. Do you  guys have ideas to deal with connack timeout properly for reconnection?

[2019-12-10 23:15] mdkf opened #722 "Possible race condition in onSucess in IMqttActionListener for connection status"
I would like to send a message when the client connects to the broker. I added an IMqttActionListener to the connect parameters. About half the time. it works, the other half there is an exception thrown in the onSuccess function when it tries to send the message. Here is the output when it fails:

[code]

[2019-12-10 23:22] mdkf commented on #722
Possibly related: https://github.com/eclipse/paho.mqtt.c/issues/436

[2019-12-11 06:40] shoucanjun commented on #633
Does anyone solved this problem?

[2019-12-12 07:55] BrokenWingsIcarus opened #723 "v5 gradle not build"
C:\Users\Administrator\Desktop\test1>gradle build

FAILURE: Build failed with an exception.

* What went wrong:
Could not resolve all files for configuration ':compileClasspath'.

  Required by:
      project :

* Try:
Run with --stacktrace option to get the stack trace. Run with --info or --debug option to get more log output. Run with --scan to get full insights.

* Get more help at https://help

[2019-12-12 08:44] BrokenWingsIcarus commented on #723
maven not build. [INFO] ------------------------------------------------------------------------
[INFO] Total time: 0.179 s
[INFO] Finished at: 2019-12-12T16:42:42+08:00
[INFO] ------------------------------------------------------------------------
[ERROR] Failed to execute goal on project mqtt5_learn: Could not resolve dependencies for project com.wanke.mqtt.test:mqtt5_learn:jar:1.0-SNAPSHOT: Fa

[2019-12-12 08:44] BrokenWingsIcarus commented on #723
where java parent 1.2.2????

[2019-12-19 06:48] lyongchang1018 opened #724 "I have the following problems when upgrading from 1.2.0 to 1.2.1 or 1.2.2"
Exception in thread "MQTT Rec: 6qm61dc96xd770g9xs" java.lang.IllegalArgumentException: Invalid UTF-8 char: [a]
	at org.eclipse.paho.client.mqttv3.internal.wire.MqttWireMessage.validateUTF8String(MqttWireMessage.java:407)
	at org.eclipse.paho.client.mqttv3.internal.wire.MqttWireMessage.decodeUTF8(MqttWireMessage.java:365)
	at org.eclipse.paho.client.mqttv3.internal.wire.MqttPublish.<init>(MqttPubli

[2019-12-23 20:12] jensli commented on #713
Ping!

This is a serious problem with a trivial fix. It should be solved as soon as possible.

[2019-12-24 06:01] tiger-oy commented on #689
wo meet the same problem

[2019-12-26 06:34] yicm opened #725 "Paho Java Client is always disconnect after publishing a message"
#### Environment

- OS:  Windows 10 64
- Erlang/OTP:  R21/10.3
- EMQ: 4.0-beta.3
- Spring Boot 2.2.1 Release
- org.eclipse.paho.client.mqttv3 1.2.2

#### Description

_Paho Java Client is always disconnect after publishing a message. Does anyone know what caused it?   paho.mqtt.golang doesn't have this problem._

The main code as follow:

[code]

EMQX Log:

[code]

**when i do not set the callback

[2019-12-26 11:00] #725 closed, assigned to nobody

[2019-12-27 02:33] ogis-yamazaki opened #726 "ClientComms#shutdownConnection method called twice"
Please fill out the form below before submitting, thank you!

- [x] Bug exists Release Version 1.2.2 ( Master Branch)
- [x] Bug exists in MQTTv3 Client on Snapshot Version 1.2.3-SNAPSHOT (Develop Branch)
- [ ] Bug exists in MQTTv5 Client on Snapshot Version 1.2.3-SNAPSHOT (Develop Branch)

ClientComms#shutdownConnection method called twice when proceeding as follows.

1. MqttAsyncClient#disconnect

[2020-01-02 03:59] tanyz91 opened #728 "MQTT benchmark"
Hi all,

I've been testing mqtt(mosquitto broker v1.6.8 with eclipse paho MQTTv3 client 1.2.2-SNAPSHOT)for performance.
All I wanted to do was to get the rate of publish and subscription in terms of msg/s (110-140byte message each).

Server specs:
CPU: Intel(R) Xeon(R) CPU E5-2603 v4 @ 1.70GHz
RAM: 8GB

Setup:
Server publishing and subscribing is on 2 different servers.
Server subscribing has got

[2020-01-03 01:57] 103style commented on #633
what should i use to replace the SniHostName  under android 7?

[2020-01-03 01:58] tennessine commented on #709
use hivemq java client instead

[2020-01-03 01:58] tennessine commented on #709
use mqtt.js in browser

[2020-01-03 02:05] 103style commented on #633
and i check the git commits,  i got the SNIhostname was added to "fix up SNI function while allowing proxy supoort #573" by Ian Craggs in 2019/01/07 21:50

![screenshot](https://upload-images.jianshu.io/upload_images/1709375-fd3064a943996765.jpg?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240)

[2020-01-03 05:26] enesaltinkaya commented on #687
Having the same issue with Miui 11 Android 9.
I'm using a self signed ca cert.

1.2.0 works, 1.2.1 and 1.2.2 throws "javax.net.ssl.SSLHandshakeException: No subjectAltNames on the certificate match".

[2020-01-06 13:57] dileepmandapam opened #729 "Failed to receive MQTT events"
**Problem**
I am facing an intermittent issue where the MQTT subscriber failed to receive events from the broker even though the client is connected to the broker. I am verifying  client connection status by using _mqttClient.isConnected()_ API.

**Context**
Establishing an MQTT connection with the below connection options.
**automaticReconnect: false.
keep-alive: 30 seconds
clean session: false
P

[2020-01-08 06:02] 103style commented on #633
i clone the project, and catch the  SNIServerName  not found bug like  #666 .

and if you need the fixed jar in version 1.2.2, you can download it form [here](https://github.com/103style/paho.mqtt.java/blob/master/jar/org.eclipse.paho.client.mqttv3-1.2.2.jar)!

[2020-01-08 09:19] BigKarel commented on #729
I meet the same problem

[2020-01-09 10:38] accursoft commented on #630
I've got this after upgrading from 1.2.0 to 1.2.2 on desktop. Gradle shadowJar isn't including `TCPNetworkModuleFactory `.

[2020-01-09 21:13] rdasgupt commented on #728
Since your questions are related to mosquitto, please use the following link to open issue or ask question about eclipse/mosquitto project:
https://github.com/eclipse/mosquitto/issues

You can also ask questions in Eclipse Community Forum:
https://www.eclipse.org/forums/index.php/f/247/

[2020-01-10 09:44] huayicheng2015 commented on #723
你有手动下载相关的jar包么？如果没有，建议把依赖此库的gradle文件代码贴出来。不过，我还是建议你手动下载，省事儿。

[2020-01-10 19:50] rdasgupt commented on #729
What is your platform?
Could you try with Paho client version 1.2.2?
Is this problem intermittent?

I couldn't recreate the problem with 1.2.2 on macOSX and centos 7.
Here is my sample code to recreate and debug:
[SubSample729.txt](https://github.com/eclipse/paho.mqtt.java/files/4047627/SubSample729.txt)

To create connection loss, I tried two options:
- Pulled the network cable out
- Used tcpkill

[2020-01-16 02:44] BrokenWingsIcarus commented on #723
- - 心塞

[2020-01-16 02:44] #723 closed, assigned to nobody

[2020-01-17 09:32] FilippoVigani commented on #633
Any updates on this issue @icraggs ?

[2020-01-19 02:30] ming8916 opened #733 "about the topic that I have subscribed ，but I can't receive message。"
- [x] Bug exists Release Version 1.2.0 ( Master Branch)

I subscribe the topic such as ' topic/# '  ，when I send message to the topic  named 'topic' or 'topic/'
,the client can't reveice message .
but when I change the jar version to 1.2.2.the problem do not appear。
I plan to update the version,but I don't know what different between the version 1.2.0 and 1.2.2.

[2020-01-20 14:20] rdasgupt commented on #723
@huayicheng2015 It will help everyone if you could add your comments in English.

This is what @huayicheng2015 trying to say:
"Do you manually download the relevant jar packages? If not, it is recommended to paste the gradle file code that depends on this library. However, I still recommend that you download it manually to save effort."

[2020-01-20 14:27] rdasgupt commented on #733
@ming8916 For details on the changes made in releases refer to:
https://github.com/eclipse/paho.mqtt.java/releases

[2020-01-20 16:59] Ryanauger95 commented on #633
update?

[2020-01-20 17:36] Ryanauger95 commented on #633
@103style  Thanks for doing this! This saved me a lot of time!

[2020-01-21 13:55] dmarcuccio-solace opened #734 "No longer able to connect via SSL using IPv6 address in 1.2.1+ (Contains non-LDH ASCII characters)"
- [+] Bug exists Release Version 1.2.1 ( Master Branch)
- [?] Bug exists Release Version 1.2.2 ( Master Branch)
- [?] Bug exists in MQTTv3 Client on Snapshot Version 1.2.3-SNAPSHOT (Develop Branch)
- [?] Bug exists in MQTTv5 Client on Snapshot Version 1.2.3-SNAPSHOT (Develop Branch)

After upgrading the paho mqttv3 client from 1.2.0 to 1.2.1, when connecting using ssl://[IPv6-Address] , the client

[2020-01-22 12:25] Pitel commented on #481
Same here, RabbitMQ.

[2020-01-22 22:00] rdasgupt commented on #729
Refer to issue #719. Though the symptom is different, the root cause is same.
You can try the fix suggested for #719

[2020-01-23 12:54] devtar opened #737 "Hi is there anyway that we can delete a message that has been published but not yet subscribed,"
Please fill out the form below before submitting, thank you!

- [ ] Bug exists Release Version 1.2.2 ( Master Branch)
- [ ] Bug exists in MQTTv3 Client on Snapshot Version 1.2.3-SNAPSHOT (Develop Branch)
- [ ] Bug exists in MQTTv5 Client on Snapshot Version 1.2.3-SNAPSHOT (Develop Branch)

If this is a bug regarding the Android Service, please raise the bug here instead: https://github.com/eclipse

[2020-01-23 12:56] devtar commented on #737
Hi is there anyway that we can delete a message that has been published but not yet subscribed, in my case if there is a message which has been published but not subscribed so can we delete that message which is in the mqtt broker

[2020-01-23 15:52] rdasgupt commented on #737
Since you have not provided information about clean session flag, retain flag and QoS set in your publisher and subscriber, it is difficult to say if you can delete any published message.

Here are some information that may help you.

If you are publishing a retained message (i.e. retained flag is True), you can delete the message as long as the message is not yet delivered to a subscriber. You ca

[2020-01-24 04:40] devtar commented on #737
hi rdasgupt,

The clean session flag is false, the retain is false, and QOS is 1 . I am talking about Persistent connection. I somehow know its not possible but still am not 100% sure on this.

[2020-01-24 17:35] #728 closed, assigned to nobody

[2020-01-24 19:35] desokroshan commented on #633
@icraggs AWS IoT SDK for Android uses paho and is blocked due to this bug https://github.com/aws-amplify/aws-sdk-android/issues/1259. Can we get PR https://github.com/eclipse/paho.mqtt.java/pull/666 merged?

[2020-01-24 20:56] rdasgupt commented on #691
Could you try with the latest 1.2.2 master branch.
I could successfully build on:

# lsb_release -a
LSB Version:	core-9.20170808ubuntu1-noarch:printing-9.20170808ubuntu1-noarch:security-9.20170808ubuntu1-noarch
Distributor ID:	Ubuntu
Description:	Ubuntu 18.04.3 LTS
Release:	18.04
Codename:	bionic

# java -version
openjdk version "11.0.5" 2019-10-15
OpenJDK Runtime Environment (build 11.0.5+10-post

[2020-01-24 21:13] rdasgupt commented on #737
In your use case, you can not delete message from publisher.

Depending on your use case, you can explore the following options:

1. Leverage option provided by broker, but there could be some issues associated with broker option. Broker will basically delete the subscription. This will also make all persisted messages for the subscription, in the broker to get deleted.
2. You can do the same thin

[2020-01-25 09:54] hagego opened #738 "ClientState.java seems to mix up ms and ns in line 790"
Please fill out the form below before submitting, thank you!

- [x] Bug exists Release Version 1.2.2 ( Master Branch)
- [ ] Bug exists in MQTTv3 Client on Snapshot Version 1.2.3-SNAPSHOT (Develop Branch)
- [ ] Bug exists in MQTTv5 Client on Snapshot Version 1.2.3-SNAPSHOT (Develop Branch)

During debugging of a strange behavior with respect to pings (actually on Android where timing system is not

[2020-01-25 19:14] ecpandrew commented on #633
Can we get PR #666 merged?

[2020-01-27 20:19] rdasgupt commented on #738
@hagego Good catch.
I think your branch is not current. Your proposed code change doesn't match with current code in 1.2.2 master or develop. In your code, if you have used keepAlive for calculating or setting nextPingTime in all statements where nextPingTime is set, then your fix is correct. If getKeepAlive() is used (as in the current code), then your proposed fix requires some changes.

Let me

[2020-01-28 21:02] hagego commented on #738
Hi @rdasgupt ,
yes I see. The keepalive probably came into my code during debug. Anyway, the problem is the same.
BTW, while this fix prevents a kind of endless loop on Android, more changes were needed to make the ping somewhat work - System.nanoTime() simply is unusable on this platform ;-(

[2020-01-28 21:32] rdasgupt commented on #738
Hi @hagego
I don't see any reason to use nanoTime for nextPingTime calculation and then converting back to milli for setting up the timer. The KeepAlive interval, an user can specify is in seconds. I don't understand why do we need nanoSecond granularity to set "time" and "lastOutboundActivity" in nano.
We can change the code to use milli. We may have to make additional changes if we use milli. I

[2020-01-30 20:17] rdasgupt commented on #692
If I understood your question correctly, you want to know if the message is delivered to the broker. You have added deliveryComplete() callback which is good. The delivery complete callback is invoked based on QoS.
Refer to deliveryComplete() callback documentation that explains the behavior:
https://www.eclipse.org/paho/files/javadoc/org/eclipse/paho/client/mqttv3/MqttCallback.html#deliveryComple

[2020-01-30 21:29] rdasgupt commented on #685
As per MQTT specs, the length of topic string is at most 65536 bytes.
If your subscription name length is within limit, you should not see this behavior unless:
- There is a problem in broker, you need to check broker logs
- Message loss could be due to QoS setting
- If you have three shared subscribers, message could be delivered to any subscriber. You need to check all three subscribers to verif

[2020-01-31 14:29] rdasgupt commented on #738
Duplicate of #640

[2020-01-31 16:00] rdasgupt commented on #738
We will have to keep the time in nano. Since wall clock can be set by the users, the system currentTimeMillis may jump unpredictably. The clock used for system nanoTime, is guaranteed to be monotonic and well suited for interval timing. Proposal in #640 is the best solution for the current issue. There is no need to keep delta.

[2020-01-31 22:55] Ryanauger95 commented on #633
Any update?

[2020-01-31 23:14] Ryanauger95 opened #739 "client.disconnect() causes a crash every time - How to disconnect?"
- [x] Bug exists Release Version 1.2.2 ( Master Branch)
- [ ] Bug exists in MQTTv3 Client on Snapshot Version 1.2.3-SNAPSHOT (Develop Branch)
- [ ] Bug exists in MQTTv5 Client on Snapshot Version 1.2.3-SNAPSHOT (Develop Branch)
I am disconnecting like this:

[code]

This causes the crash below:
[code]

If I add
```client!!.unregisterResources()```
after unsubscribe, the crash doesn't happen. Is th

[2020-02-01 10:20] rdasgupt commented on #739
@Ryanauger95
Looks like you are using paho.mqtt.android and not paho.mqtt.java.
The  unregisterResource() method is in paho.mqtt.android.
Please open your issue in paho.mqtt.android

[2020-02-01 21:04] #739 closed, assigned to nobody

[2020-02-03 10:19] babymotte opened #740 "NullpointerException in org.eclipse.paho.client.mqttv3.CommsCallback#deliverMessage"
- [x] Bug exists Release Version 1.2.2 ( Master Branch)
- [x] Bug exists in MQTTv3 Client on Snapshot Version 1.2.3-SNAPSHOT (Develop Branch)
- [ ] Bug exists in MQTTv5 Client on Snapshot Version 1.2.3-SNAPSHOT (Develop Branch)

In my application I get frequent NullpointerExceptions coming from org.eclipse.paho.client.mqttv3.CommsCallback#deliverMessage. The method iterates over the keys of callba

[2020-02-04 11:55] rladstaetter commented on #572
stumbled across this issue as well i think.

can confirm that with 1.2.0 it works with windows for me, 1.2.2 it does not.

interestingly, 1.2.2 works when started under osx.

used mosquitto under windows, moquette under mac if this makes any difference.

[2020-02-04 12:40] dsambugaro commented on #673
Same issue here. Solution provided by @penggle works just fine. Thanks !!

[2020-02-04 15:18] rdasgupt commented on #734
@dmarcuccio-solace
What is your Java version?
I don't see any IPv6 related failure in my test env. I am using 1.2.2 though.

[2020-02-04 17:56] marcostorto commented on #640
This bug is causing spurious disconnect in our application, as `lastOutboundActivity` can be updated after `checkForActivity` has executed `long time = System.nanoTime();`
A concurrent call to `notifySentBytes` or `notifySent` will cause `lastOutboundActivity` to be > than `time`  (see attached log snippet https://github.com/eclipse/paho.mqtt.java/files/4155025/log.txt)

In this case `nextPingTime

[2020-02-04 17:58] rdasgupt commented on #724
@lyongchang1018
Code base has changed significantly, from 1.2.0 to 1.2.2
Could you give some information about publish payload? A sample payload will help.

[2020-02-04 18:00] rdasgupt commented on #719
@muralimanohar0212
Fix is not in master yet. Please try will develop branch and check if your problem is resolved.

[2020-02-04 19:14] rdasgupt commented on #640
PR for this problem is there:
https://github.com/eclipse/paho.mqtt.java/pull/743

[2020-02-08 13:28] Ryanauger95 opened #747 "close() v.s. unregisterResources() - OutOfMemory Exception"
- [x] Bug exists Release Version 1.2.2 ( Master Branch)
- [ ] Bug exists in MQTTv3 Client on Snapshot Version 1.2.3-SNAPSHOT (Develop Branch)
- [ ] Bug exists in MQTTv5 Client on Snapshot Version 1.2.3-SNAPSHOT (Develop Branch)

Whenever I encounter an error in the paho MQTT client, I attempt a reconnect 60 seconds later:

[code]
So if the app is sitting without internet, it will continuously atte

[2020-02-08 16:55] Ryanauger95 commented on #747
Retried the test using both and the memory just keeps piling up. Neither is properly freeing resources. I have implemented paho's auto-reconnect feature that should solve this, but it only works if the first connection is successful. Subsequent connections still cause me to re-create the client.

[2020-02-08 18:21] Ryanauger95 commented on #747
Somewhere internally in the client, there is a memory leak. So re-creating the client each time there is an issue will eventually cause your app to crash, regardless of if you use close.

When I built the app this way, I went off of this answer on SO(https://stackoverflow.com/questions/33735090/java-eclipse-paho-implementation-auto-reconnect). This is now outdated. Instead, use the reconnect callb

[2020-02-11 13:51] rdasgupt commented on #747
@Ryanauger95
I suggest you to open this issue in https://github.com/eclipse/paho.mqtt.android to get any comment/attention, because you are encountering memory leak in Paho Andoid client.
After opening the issue in paho.mqtt.android, close this issue please.

[2020-02-11 13:53] Ryanauger95 commented on #747
@rdasgupt I was hoping someone on this team had worked on the android version. There hasn't been a response in a few months on that forum.

[2020-02-11 15:08] rdasgupt commented on #705
@jiahuifu
Could you provide more information on this issue please:
- May be I am missing something, but I couldn't find these logs in my test environment with log level set to ALL. What is the log level set in the client?
- Are you seeing these logs in Phao log or in your application log?
- I presume you are using paho.mqtt.java and not paho.mqtt.android?

[2020-02-11 21:26] rdasgupt commented on #711
@cuddlyporcupine
I think, changing timeToWait from -1 to 60000 for a Synchronous client is not correct. The default behavior of a Synchronous client should be blocking. User can always change this behavior by setting timeToWait using setTimeToWait() method. Also changing the default value will make all existing clients in the field, behave differently and may result in questions/defects.

This is

[2020-02-13 21:54] rdasgupt commented on #718
@BenjaminZaiser
Using my java client (at 1.2.2 level), I couldn't create the problem. The results are same as you are getting using mosquitto_pub and mosquitto_sub.
I will check if existing tests cover the topic string you are trying.

[2020-02-14 14:21] YiuTerran commented on #571
so, does version 1.2.2 fix this bug?

[2020-02-14 17:40] iAmSKU opened #749 "[Question] How to get detailed reason code for disconnection or failure?"
Please fill out the form below before submitting, thank you!

- [ ] Bug exists Release Version 1.2.2 ( Master Branch)
- [ ] Bug exists in MQTTv3 Client on Snapshot Version 1.2.3-SNAPSHOT (Develop Branch)
- [ ] Bug exists in MQTTv5 Client on Snapshot Version 1.2.3-SNAPSHOT (Develop Branch)

If this is a bug regarding the Android Service, please raise the bug here instead: https://github.com/eclipse

[2020-02-14 18:54] rdasgupt commented on #749
@iAmSKU
You can get associated message with the exception:
System.out.printf(String.format("Connection to Server is lost: %s.\n", cause.getMessage()));

Paho client v1.2.x supports MQTT v3. Some of the messages (in this version) associated with an exception are easy to understand. For example:
**Timed out waiting for a response from the server.**
**Not authorized to connect**
But it may be difficu

[2020-02-17 08:14] xiemeilong opened #751 "Add "connected" support to MqttCallback"
- [ ] Bug exists Release Version 1.2.2 ( Master Branch)

If I want to subscribe some topics on connected everytime, then I can't use reconnect feature , because the connected action callback will not be called when reconnected.

[2020-02-17 15:10] iAmSKU commented on #749
Thanks @rdasgupt.

I have tested my code with changes its perfectly working fine...

I will work on MQTTv5 solution...

Thanks again for your valuable response.

[2020-02-17 15:10] #749 closed, assigned to nobody

[2020-02-18 19:50] rdasgupt commented on #751
@xiemeilong
You can use MqttCallbackExtended()
https://www.eclipse.org/paho/files/javadoc/org/eclipse/paho/client/mqttv3/MqttCallbackExtended.html
This callback is invoked when connection to the server is completed successfully.

void connectComplete(boolean reconnect, java.lang.String serverURI)
reconnect - If true, the connection was the result of automatic reconnect.

This callback will work fo

[2020-02-18 22:12] deadstar2009 commented on #716
Confirm. A bug with this problem exists and appears completely unpredictable. It doesn't matter which host you connect to with the broker. I have a problem when connecting via loopback (127.0.0.1), and there is nothing in the broker's logs that could suggest the cause of the problem. It would seem that there may be a problem when connecting to yourself...
Today i have new error:

Timed out waiting

[2020-02-19 04:08] #751 closed, assigned to nobody

[2020-02-19 13:58] rdasgupt commented on #716
@deadstar2009
If you have paho client log, could you upload it?

[2020-02-19 20:22] rdasgupt commented on #738
Fix is provided by PR #746

[2020-02-20 05:30] minh-hsm commented on #633
We're also having the same issue with API23 / Android 6. Any update?

[2020-02-20 09:57] 103style commented on #633
@minh-hsm @Ryanauger95 @ecpandrew

[2020-02-20 11:02] FrVaBe opened #754 "Significant increase of CPU usage after 1.2.0 to 1.2.1 update"
Please fill out the form below before submitting, thank you!

- [X ] Bug exists Release Version 1.2.2 ( Master Branch)
- [?] Bug exists in MQTTv3 Client on Snapshot Version 1.2.3-SNAPSHOT (Develop Branch)
- [?] Bug exists in MQTTv5 Client on Snapshot Version 1.2.3-SNAPSHOT (Develop Branch)

This bug did not exist in Release Version 1.2.0.

---

I observe a significant increase of the CPU usage aft

[2020-02-20 15:39] yuval-lom commented on #734
Happened to me as well today
[::1] fails localhost fine

<dependency>
	<groupId>org.eclipse.paho</groupId>
	<artifactId>org.eclipse.paho.client.mqttv3</artifactId>
	<version>1.2.2</version>
</dependency>

[2020-02-21 13:14] rdasgupt commented on #716
@2422006980 @deadstar2009
In your client logs, do you see log messages like:
...
FINE	 20-02-19  08:26:55.0072 	nternal.ClientState	 notifySent             	13	IBMIoTClientSub: ping sent. pingOutstanding: 1
FINE	 20-02-19  08:26:55.0072 	nternal.ClientState	 get                    	13	IBMIoTClientSub: wait for new work or for space in the inflight window
....
....
SEVERE	 20-02-19  08:27:55.0075

[2020-02-25 14:56] ArikYa commented on #572
I had the same issue, always on release builds with 1.2.2. It turns out to be obfuscation issue, once I added this library to the proguard-rules file, all worked great

[2020-02-26 09:44] Mi-La commented on #572
Also facing this with org.eclipse.paho.client.mqttv3-1.2.2.jar. Is it just a v3 problem? I cannot get working even a basic example :-(. It would be really nice to put some info here.

[2020-02-26 18:53] rdasgupt commented on #689
If you are expecting the client to connect to both mosquitto servers at the same time, it will not happen. This option is provided to connect MQTT client to Highly Available brokers.

The client will try to connect to the first  broker (192.168.1.57:1883). If the connection is successful, then the client will continue to use it. If client can not connect to the first broker in the list, it will tr

[2020-02-27 20:19] alejandro-ordonez commented on #633
If this compatibility is fixed would this support android 4.4 or 5.1?
There are some POS terminals for payment that use those versions of Android and for connectivity problems is better use Mqtt with TLS rather than https.

[2020-02-29 07:45] fbeister commented on #344
Well - after that long time I'd be okay with closing this ...

[2020-02-29 14:25] fruwolt commented on #507
+1
same here
Java 11 on ubuntu 18.04

[2020-03-04 08:46] davidevertuani commented on #572
@ArikYa could you share your `proguard-rules.pro` lines that solve the issue? We tried adding `-keep` rules but that didn't work for us. Thanks!

[2020-03-05 12:32] eliot9876 opened #755 "deliverycomplete(); not triggered?"
I'm using the release 1.2.1,  when I'm implementing th MQTTCallBack methods in my subscriber I'm notcing that only the messagearrived() method is triggered but not the deliverycomplete();
It's worth the mention that on my mosquitto logs  it seems that the server is sending PUBReland PUBCOMP

[2020-03-05 13:04] rdasgupt commented on #755
The deliverycomplete() is triggered in a publisher application. This method is not triggered in a subscriber application.

[2020-03-05 13:55] seekforwings commented on #531
@jpwsutton could I ask why not changing the same code to avoid this problem(qos0 message may be overlayed  for too quick) on v3 ?

[2020-03-05 14:33] eliot9876 commented on #755
@rdasgupt  Thanks fro your response!!
I was running some tests and I noticed this,  but how to  check the delivery is complete from the subscriber side. Thanks in advance as I need this information for some measurement

[2020-03-05 14:36] eliot9876 commented on #755
@rdasgupt the deliverycomplete(); from the publisher side will give information from the publisher until the broker I'm more interested in the  E2E  delivery.

[2020-03-06 07:05] eliot9876 opened #756 "how to check E2E delivery?"
Deliverycomplete();  callback method return when delivery  is complete from Publisher side. I'm wondering if there is   any callback method to check  the delivery  from Subscriber side.

[2020-03-06 14:17] rdasgupt commented on #755
I think what you are looking for is like a request-response pattern in MQTT. Publisher publishes a message and publisher wants to make sure that the message is delivered to the subscriber.

MQTT v3 didn't have any spec for request-response whereas MQTT v5 does support request-response pattern. Refer to the following document (bullet 7) for details:

https://github.com/mqtt/mqtt.github.io/wiki/Diff

[2020-03-06 14:21] rdasgupt commented on #756
@eliot9876 See my comments in #755
Since both #755 and #756 is for the same issue, I would suggest you to close this issue.

[2020-03-09 17:02] #756 closed, assigned to nobody

[2020-03-09 17:03] eliot9876 commented on #756
see  #755

[2020-03-10 13:00] rynkowsg commented on #633
Any update?

[2020-03-10 13:19] ashokv915 commented on #572
Facing the same issue with  org.eclipse.paho.client.mqttv3-1.2.2.jar. When I downgraded to 1.2.0 its worked.

[2020-03-12 08:58] Turbozanik opened #757 "NullPointerException in MqttCallbackExtended"
Gist: https://gist.github.com/Turbozanik/bacc394cca10430e189bbf5e379abaf0

Problem description:
NullPointerException in line 144 after creating new AndroidMqttClient.
Hotfix: We have added 0.5 second delay before and after calling init method.

We have an IoT application, that is receiving mqtt server ip and mac over mdns. So we have to recreate AndroidMqttClient every time we are receiving new da

[2020-03-18 14:44] vivek11111994 commented on #673
any update on this issue ?

[2020-03-18 21:13] marcostorto commented on #719
We found a nasty side effect of this fix. In our environment we use clean_session=false and the broker (vernemq) can take quite some time to respond to connect message when there are many (100K to 1M) messages waiting to be delivered.
In this case the client never completes the connection as MqttException.REASON_CODE_CONNECTION_LOST is raised before the broker respond to connect message. Retrying

[2020-03-18 21:34] rdasgupt commented on #719
@marcostorto
Thanks for your feedback. I will check the fix again by adding some artificial delay in my test broker. In our test environment, we have checked with almost 1 million clients and we didn't see any problem. I presume you are using Synchronous client?

[2020-03-18 21:36] rdasgupt commented on #755
@eliot9876
If you have got answer to your question, please close this issue.

[2020-03-19 12:16] marcostorto commented on #719
We use alpakka library which uses async client [https://github.com/akka/alpakka/blob/master/mqtt/src/main/scala/akka/stream/alpakka/mqtt/impl/MqttFlowStage.scala#L147]

We can reproduce pretty easily by the following sequence:

- connect to vernemq with clean session=false
- subscribe to a topic with QOS=1
- terminate client
- publish few 100Ks messages to this topic (actual number of message to s

[2020-03-23 04:31] flystarts commented on #634
result = new MqttPersistentData(key, data, 0, data.length, data, 0, 0);

[2020-03-23 11:34] rynkowsg commented on #633
If you look at the history it doesn't look like someone was coming to solve any issues here.
The project is dying. The last commit is dated on 24 Sep 2019. The project's maintainer, Ian Craggs left IBM last year. He worked on Paho there. The Github user he used to use working on Paho no longer exist. He contributes now using a different account (@icraggs) but doesn't work on Java library.

January

[2020-03-23 14:12] rdasgupt commented on #633
@rynkowsg
It is a bit frustrating that there is no activity in paho.mqtt.java project. There are many PRs pending review/merge for a long time. It is now impacting many users.

IBM is still committed to contribute in MQTT Paho projects. From IBM side, I am taking over some of the activities that Ian was working on. To start with, I will be spending significant amount of my time in make paho.mqtt.j

[2020-03-23 19:46] rdasgupt commented on #757
@Turbozanik
This issue belongs in Android repo. Could you please open this issue in:
https://github.com/eclipse/paho.mqtt.android/issues

And close this issue please.

[2020-03-23 20:38] #757 closed, assigned to nobody

[2020-03-24 18:03] rdasgupt commented on #755
@eliot9876
I am closing this issue. If you didn't get your answer or need more information, please reopen the issue with your comments.

[2020-03-24 18:03] #755 closed, assigned to nobody

[2020-03-24 18:06] rdasgupt commented on #733
@ming8916
I am closing this issue. If you didn't get the information, you were looking for, please reopen the issue with your comments.

[2020-03-24 18:06] #733 closed, assigned to nobody

[2020-03-24 18:09] rdasgupt commented on #737
@devtar
I am closing this issue. If you need more information or clarification, please reopen the issue with your comments.

[2020-03-24 18:09] #737 closed, assigned to nobody

[2020-03-24 18:15] rdasgupt commented on #709
@kervin521
We are planning to have a v1.3 service release in next two weeks. Then we will plan to release v5. For v5 development work is almost complete. We need to add more tests though. I think, we will have a release by mid May 2020.
For now, if you like to try, use vertx branch.

[2020-03-25 09:22] hannta commented on #633
Many people including me use directly this lib `paho.mqtt.java` on android projects. Also `paho.mqtt.android` is kind of service wrapper around this paho java lib.

How I would think this, all issues related to directly on `paho.mqtt.java` goes to this repo. Issues related to android service, goes to `paho.mqtt.android`?

[2020-03-25 17:09] dmarcuccio-solace commented on #734
@rdasgupt We are building with Java 1.7

[2020-03-26 07:13] rdasgupt commented on #633
@hannta
I agree with you that "all issues related to directly on paho.mqtt.java goes to this repo. Issues related to android service, goes to paho.mqtt.android".

If every body follows this then there is no confusion. But this is not the case for many issues. In fact some of the users have opened issues in both repos.

As far as this issue is concerned, this definitely belongs in this repo. I will

[2020-03-26 08:33] Pitel commented on #633
The only test I see failing is:

[code]

And I doubt that's cause by my changes, because other publishing tests succeeds.

I'll try to merge current develop branch to my MR and see if it gets fixed...

[2020-03-26 10:39] Pitel commented on #633
@rdasgupt CI is green :tada:

[2020-03-26 11:14] yuval-lom commented on #734
@rdasgupt We are building with Java 1.8

[2020-03-26 17:37] rdasgupt commented on #692
@ajith-om
We didn't hear back on the answer provided, from you for almost two months now. I am closing this issue. If you think your question is not answered or need more information, please reopen the issue with your comments.

[2020-03-26 17:37] #692 closed, assigned to nobody

[2020-03-29 07:13] panilov7 commented on #507
+1
same here as well
Java 11 on ubuntu 18.04

[2020-03-30 16:11] ishaansrm commented on #679
Still getting EOF exception on v1.2.2:

[code]

[2020-03-30 19:07] christianrowlands commented on #634
I am having the same problem.  A fix would be much appreciated!

[2020-03-31 14:20] rdasgupt commented on #719
@marcostorto
I tried your use case using vernemq and sample mqtt paho client. The fix worked fine for me.

The vernemq has some non-standard features. For example, multiple clients can connect with same client ID. Are you using same client id for publisher and subscriber?

[2020-03-31 20:19] marcostorto commented on #719
No, we're not using same client id
The issue only appears with many persisted messages in queue. I'll try to prepare a test case to show the issue.

[2020-04-01 03:37] rdasgupt commented on #633
PR #666 is merged.

[2020-04-01 03:37] #633 closed, assigned to nobody

[2020-04-01 03:39] rdasgupt commented on #740
PR #741 is merged.

[2020-04-01 03:39] #740 closed, assigned to nobody

[2020-04-01 03:46] rdasgupt commented on #640
Duplicate of #738

[2020-04-01 03:46] #640 closed, assigned to nobody

[2020-04-01 03:47] rdasgupt commented on #738
PR #746 is merged.

[2020-04-01 03:47] #738 closed, assigned to nobody

[2020-04-01 03:51] rdasgupt commented on #729
Fixed by PR #719

[2020-04-01 03:51] #729 closed, assigned to nobody

[2020-04-01 03:52] rdasgupt commented on #718
PR #718 is merged.

[2020-04-01 03:52] #718 closed, assigned to nobody

[2020-04-01 15:02] rdasgupt commented on #719
@marcostorto
Thanks. It will help in debugging and fixing the problem, if you could create a test case. Note that we are planning a release by 10th April. Please try to send the test case ASAP.

[2020-04-02 03:20] rdasgupt commented on #726
PR #727 is merged.
PR #758 to add test case is merged.

[2020-04-02 03:20] #726 closed, assigned to nobody

[2020-04-02 07:31] rajeshnailwal opened #759 "DisconnectedMessageBuffer design polluting disk and making persisted message non-recoverable as long as client process is running"
Please fill out the form below before submitting, thank you!

- [x] Bug exists Release Version 1.2.2 ( Master Branch)

Implementation of `public void sendNoWait(MqttWireMessage message, MqttToken token)` seems to have a basic flaw where invocation of `disconnectedMessageBuffer.putMessage` removes last message from in memory buffer in case deleteOldestMessages flag is set `bufferOpts.isDeleteOldest

[2020-04-02 17:33] prisikarm opened #761 "MqttException: Unable to connect to server"
- [X] Bug exists Release Version 1.2.2 ( Master Branch)
- [ ] Bug exists in MQTTv3 Client on Snapshot Version 1.2.3-SNAPSHOT (Develop Branch)
- [ ] Bug exists in MQTTv5 Client on Snapshot Version 1.2.3-SNAPSHOT (Develop Branch)

Hello, I am trying to use Paho with TomCat server. While I am running the application locally, everything is fine, but once I deploy the app on the server (apache tomcat 8

[2020-04-02 20:01] rdasgupt commented on #761
You are getting "Connection refused" error.
This could be MQTT broker configuration issue (may be it is not allowing connection from a remote system) or the connection is getting blocked by firewall.

[2020-04-02 20:07] prisikarm commented on #761
@rdasgupt thank you for the fast reply.
We already tried with https://test.mosquitto.org/ broker and with mosquito running on the raspberry pi, same error. We even tried with the different tomcat hosting, but still the same error...

[2020-04-02 20:16] rdasgupt commented on #594
Created PR #760 to fix conflicts in original PR #596.

[2020-04-03 12:30] lcarnevale commented on #673
I have the same issue. I cannot subscribe to a topic after connection, and the application fails with:

[code]

[2020-04-03 15:30] rdasgupt commented on #673
@penggle Thanks for your suggested code change.
Synchronizing in.readMqttWireMessage() may not be a good idea because in.readMqttWireMessage() can take significant amount of time. You are making the process blocking.

I think we need to revisit readMqttWireMessage().

@lcarnevale @penggle Do you have a simple test case to reproduce this issue?

[2020-04-03 16:08] #594 closed, assigned to icraggs

[2020-04-05 11:22] rdasgupt commented on #644
The current develop branch has fixes related to client hung cases. Using latest branch, I ran some tests. I think disconnectForcibly() is working as designed and documented. For detailed documentation refer to:
https://www.eclipse.org/paho/files/javadoc/org/eclipse/paho/client/mqttv3/MqttClient.html

disconnectForcibly() : It will wait for a maximum of 30 seconds for work to quiesce before disconn

[2020-04-05 15:40] rdasgupt commented on #644
I am closing this issue. If you do not agree with the details provided and still observe client going in hung state, please open a new issue with the following details:
- Use case
- Test case
- Paho logs - for details on how to capture paho client logs, refer to the following link:

https://wiki.eclipse.org/Paho/Log_and_Debug_in_the_Java_client

[2020-04-05 15:40] #644 closed, assigned to nobody

[2020-04-05 16:18] rdasgupt opened #763 "Intermittent deadlock due to fix for #719"
Please fill out the form below before submitting, thank you!

- [ ] Bug exists Release Version 1.2.2 ( Master Branch)
- [X] Bug exists in MQTTv3 Client on Snapshot Version 1.2.3-SNAPSHOT (Develop Branch)
- [ ] Bug exists in MQTTv5 Client on Snapshot Version 1.2.3-SNAPSHOT (Develop Branch)

If this is a bug regarding the Android Service, please raise the bug here instead: https://github.com/eclipse

[2020-04-05 16:22] rdasgupt commented on #719
@marcostorto
I am closing this issue as we couldn't find any issue with #719 fix in our scale tests.
However to keep track of your issue, I have opened another issue #763
Please provide with a simple test case. Use the latest develop branch to recreate your problem. Note that there are more fixes related to client hung case in the latest develop branch. It will also help if you provide Paho log fr

[2020-04-05 16:22] #719 closed, assigned to rdasgupt

[2020-04-06 08:40] ioolkos commented on #719
@marcostorto let me know when you want to look into this VerneMQ side. Most helpful in this case is a Wireshark capture between the client and broker (if that's possible).
One thing to try server side: we have seen that increasing the message inflight window in situations like this might help (form the default 20 to something much higher)

[2020-04-06 12:47] rdasgupt commented on #719
@marcostorto @ioolkos
I have opened another issue #763 to track problem seen in alpakka library and VerneMQ broker.
Please start adding your comments, test results etc in #763

@ioolkos I will copy your last comment in #763

[2020-04-06 12:50] rdasgupt commented on #763
@ioolkos I have copied your comment from #719

@marcostorto let me know when you want to look into this VerneMQ side. Most helpful in this case is a Wireshark capture between the client and broker (if that's possible).
One thing to try server side: we have seen that increasing the message inflight window in situations like this might help (form the default 20 to something much higher)

[2020-04-06 14:13] rdasgupt commented on #679
@ishaansrm
This issue is already fixed. May be you are getting same error but due to some other code issue.

Could you please open a new issue with details of your use/test case and any detail you can provide to help with debugging the issue.

[2020-04-06 14:31] rdasgupt commented on #507
@fruwolt @panilov7
I will look into this after next service release 1.2.3 (target release date 4/10/2020).

[2020-04-06 14:44] ishaansrm commented on #679
Sorry false alarm, the issue was due to some other issues not related to the lib

[2020-04-06 16:32] rdasgupt commented on #713
Duplicate of #634
The fix for 634 is now merged. Closing this issue.

[2020-04-06 16:32] #713 closed, assigned to nobody

[2020-04-06 17:01] rdasgupt commented on #634
PR is merged and develop branch build passed:
https://travis-ci.org/github/eclipse/paho.mqtt.java/builds/671724738

[2020-04-06 17:01] #634 closed, assigned to nobody

[2020-04-06 19:33] rdasgupt commented on #680
@roychen11232357 @xiangwangcheng

I am not sure if we need to merge the PR.  I could not recreate the problem with the latest develop branch. I have the following callbacks in my Async client:

        @Override
        public void connectionLost(Throwable cause) {
                System.out.printf(String.format("Connection to Server is lost: %s.\n", cause.getMessage()));
        }
        @Overri

[2020-04-07 07:51] rdasgupt commented on #576
@bobobo1114
This message is logged when a ping message is not received from MQTT broker/server. With the latest develop branch, I do see this log message if server is not reachable from client.

Could you try to reproduce the problem with the latest develop branch and provide us with the log file with log level set to FINE?

[2020-04-07 08:00] rdasgupt commented on #348
@mnocnik
I could successfully publish messages from 5 publisher threads in my test client, using the latest develop branch. Could you please try your test with latest develop branch and provide us with log file with log level set to FINE?

[2020-04-09 11:09] xiangwangcheng commented on #680
@rdasgupt  I still have this problem.
![image](https://user-images.githubusercontent.com/8049014/78888890-281e1f80-7a95-11ea-9e2a-9c72460588d9.png)

Sorry, I didn't make it find the location of the log file.

Here is the code:
[code]

[2020-04-10 16:51] rdasgupt commented on #680
@xiangwangcheng
Thanks for checking again.
I will check if I can recreate the issue using your sample.

[2020-04-10 16:54] rdasgupt commented on #763
@ioolkos @marcostorto
There is a new service release v1.2.3. Please try your use case again and let us know if this problem still exist.

[2020-04-13 09:53] 54binge opened #767 "SSLSocketFactoryFactory.getTrustStore() when encodedPath=null will interrupt connect process"
Please fill out the form below before submitting, thank you!

- [x] Bug exists Release Version 1.2.3 ( Master Branch)

[code]

[2020-04-13 11:40] rdasgupt commented on #767
@54binge
The encodedPath will be null if both TRUSTSTORE and SYSTRUSTSTORE is not set.
Could you provide more information on your use case?
Was your client working with v1.2.2? If so I wonder how? The behavior of this method has not changed from v1.2.2.

[2020-04-14 07:27] 54binge commented on #767
@rdasgupt
Thanks reply!you are right,both TRUSTSTORE and SYSTRUSTSTORE is not set, and i have not found that in android demo(may be it`s too old),it is not necessary to set the truststore in our use case, i think the log is confused. v1.2.2 works well, i use it instead. Thanks again!

[2020-04-14 14:52] rdasgupt commented on #767
@54binge
You mentioned that v1.2.2 works. It means it is a regression in 1.2.3. I will check this out and fix the issue.

[2020-04-15 03:56] 54binge commented on #767
@rdasgupt
v1.2.3 add the decode process, when encodedPath is null, in method java.net.URLDecoder.decode( encodedPath, StandardCharsets.UTF_8.name()),then run code int numChars = s.length(); it will throw NPE,but not catch it outside(just catch UnsupportedEncodingException), then the expected process was interrupted！

[2020-04-15 07:07] t-beckmann commented on #767
Can confirm this bug, commit causing the issue is https://github.com/eclipse/paho.mqtt.java/commit/619d066a2b2c14be289b30c55ccf0d54235048d0. I downgraded to version 1.2.2 which is working correctly.

[2020-04-15 13:33] rdasgupt commented on #767
@54binge
Your analysis is correct. Thanks for checking this out. I will fix the code.
Since this is a regression, I will add the fix in 1.2.4.

[2020-04-15 16:42] marcostorto commented on #763
I run an experiment using new release v1.2.3 in our test setup:

1. start consumer application (which connects 23 different clients to mqtt broker subscribing to multiple queues), let it subscribe with qos=1 and clean_session=false, then stop it
2. start producer applications
3. let about 1.3M messages accumulate in vernemq queues (3 queues with about 400K messages each, plus another queue with ab

[2020-04-15 16:48] marcostorto commented on #763
Unfortunately I was not able to reproduce the issue in a simpler setup, I suspect that the issue is triggered by CPU overload as server CPU get close to 100% usage for several minutes after applicaitn restart in this scenario, as both consumer application and broker run on the same server

[2020-04-15 17:14] marcostorto commented on #763
My understanding of the issue is:

1. paho creates TCP socket with 1000ms socket timeout (TCPNetworkModule.java)
2. if socket timeout expires in readMqttWireMessage() then SocketTimeoutException is catched and return null message
3. if socket timeout happens during initial connection (e.g. due to CPU overload) then the fix  for issue 719 causes connection termination, while without this fix connec

[2020-04-15 17:55] rdasgupt commented on #763
@marcostorto
Thanks for providing detailed information from your test case. I will go thru the provided logs.

Going thru your details, there is a possibility that your test server is overloaded and may not return acks before socket timeout in clients. I think your problem will be resolved if you increase connection timeout from 1000 ms (i.e. 1 second) to 60000 ms (60 seconds).

In our scale test

[2020-04-15 18:01] marcostorto commented on #763
The issue is not linked with connection timeout, TCP connection completes normally and paho sends MQTT connect packet.
Issue is due to socket timeout, which is hard wired in paho code:
https://github.com/eclipse/paho.mqtt.java/blob/55137d947418c4e0e74326eb9d080e5f1fd9a473/org.eclipse.paho.client.mqttv3/src/main/java/org/eclipse/paho/client/mqttv3/internal/TCPNetworkModule.java#L75

Should I recomp

[2020-04-15 18:56] rdasgupt commented on #763
I think increasing timeout in setSoTimeout() may not be a good idea. But you can try if it helps in anyways. I am checking if fix for 719 can be improved.

[2020-04-15 19:33] rdasgupt commented on #680
PR #703 is merged.

[2020-04-15 19:33] #680 closed, assigned to nobody

[2020-04-15 19:41] rdasgupt commented on #767
Issue resolved by PR #768

[2020-04-15 19:41] #767 closed, assigned to nobody

[2020-04-16 08:59] fabiosassu-sysdata commented on #767
Is there an ETA on when 1.2.3 is going to be retagged and released?

[2020-04-16 15:00] rdasgupt commented on #763
@marcostorto
So far I couldn't find anything wrong with fix for 719. We have tried with connection storm tests with large number of clients publishing messages and eventually all clients got connected successfully. The CPU usage on the IBM MessageGateway server 100%.

I don't know how verneMQ handles client connections, so can't comment on connection storm case or client connection in general on v

[2020-04-16 15:21] ioolkos commented on #763
@marcostorto try setting `max_inflight_messages = 200` and see what this does for you.
@rdasgupt this is not about a connect storm, I think. It's about delivering lots of on-disk messages to a few clients after they have reconnected.

So you only test this open source client against a closed source broker? ;) You should check out VerneMQ, it's awesome :)

[2020-04-16 16:36] rdasgupt commented on #763
@ioolkos
Thanks for following this issue and providing your comments.

Though the use case @marcostorto is trying is not directly related to connection storm, but you can have the same problem with connection storm if server is overloaded due to processing connections. If server doesn't respond to initial connection before socket times out, the client will be in connect-disconnect loop. But eventu

[2020-04-16 17:46] rdasgupt commented on #767
Service release v1.2.4 is released.

[2020-04-16 18:15] fabiosassu-sysdata commented on #767
I'll try it out, thanks!

[2020-04-18 22:25] arjunramendra opened #770 "Connection Lost Functionality issue in docker container"
Please fill out the form below before submitting, thank you!

- [ ] Bug exists Release Version 1.2.3 ( Master Branch)
- [x] Bug exists in MQTTv3 Client on Snapshot Version 1.2.4-SNAPSHOT (Develop Branch)
- [ ] Bug exists in MQTTv5 Client on Snapshot Version 1.2.3-SNAPSHOT (Develop Branch)

If this is a bug regarding the Android Service, please raise the bug here instead: https://github.com/eclipse

[2020-04-20 07:14] rajeshnailwal commented on #759
Is anyone looking on this issue?

[2020-04-20 09:56] ahavansky commented on #572
The problem is reproduced on version 1.2.2:
`java.lang.IllegalArgumentException: no NetworkModule installed for scheme "ssl" of URI `

[2020-04-20 16:55] rdasgupt commented on #770
@arjunramendra
The fact that your client is working fine in host OS, I would presume that there is nothing wrong with the client code. As far as docker container is concerned:
- What is your docker version?
- What is your host OS/version wher you are running docker container?
- What is the network_mode set in docker container? If it is bridge, then try to use host networking and check if the probl

[2020-04-20 17:01] rdasgupt commented on #759
@rajeshnailwal
Could you please try your test with the new service release 1.2.4?

[2020-04-20 17:03] rdasgupt commented on #572
@ahavansky
Could you please try with the new MQTTv3 service release 1.2.4?

[2020-04-21 09:41] rajeshnailwal commented on #634
@rdasgupt I see that in new build -

result = new MqttPersistentData(key, data, 0, data.length, null, 0, 0); in MqttDefaultFilePersistence.get(String)

and you are checking this.payload = (payload != null ? payload.clone() : null); in the constructor of MqttPersistentData

Just want to understand why would you keep payload null if  there is valid message payload in disk data.

[2020-04-21 11:54] rdasgupt commented on #634
The original code (payload.clone) was throwing NPE for null payload.
Fix is to check payload before cloning the payload.

[2020-04-22 08:16] rajeshnailwal commented on #634
Yes, that is understood and it solves the NPE but it is still passing null argument in constructor whereas it should have been actual payload. You are going to mis the payload if a message exists and there can be some consequence of this when messages are read.

We resolved our problem by inhereting MqttDefaultFilePersistence class and overriding its get function. This function passes payload inst

[2020-04-22 09:03] sanyeMen commented on #572
In version 1.2.4, the problem was resolved

[2020-04-22 14:23] rdasgupt commented on #572
@sanyeMen
Thanks for confirming. I am closing this issue.
Please reopen if you see this problem again.

[2020-04-22 14:23] #572 closed, assigned to icraggs

[2020-04-22 14:29] rdasgupt commented on #634
@rajeshnailwal
I am sorry, I still don't understand your point about this statement:
this.payload = (payload != null ? payload.clone() : null)
It is passing null only if payload is null.

Could you please submit a PR with your solution.

If you are expecting that the issue #759 opened by you will get resolved with this fix, then I don't know because #759 is not investigated yet.

[2020-04-22 17:28] solidpulse commented on #507
@rdasgupt is this targeted for 1.2.5?

[2020-04-22 20:51] rdasgupt commented on #507
@avierr
We plan to add this in 1.2.5. The target release date is not worked out yet.
We are planning to have a release with MQTTv5 support (which is pending for more than a year) before start planning for 1.2.5 (MQTTv3 service release).

[2020-04-23 17:04] rajeshnailwal commented on #759
@rdasgupt I am trying to build but test case is stuck at some point every time for waiting for connection. However changes I saw are making some sense to me but I am still to verify it once build is created successfully

[2020-04-23 17:26] rdasgupt commented on #759
Tests may take about 15 to 20 minutes to complete. Some of the tests (that try to connect to invalid host) may appear in hung state, but these tests should eventually timeout.

[2020-04-24 08:20] marcostorto commented on #763
I'll try max_inflight_messages = 200, I guess it's going to help but unfortunately I cannot use this setting as it's a global parameter in vernemq and some other clients in the system need a larger value of max_inflight_messages to cope with high-throughput traffic.

Anyway I think the fix for 719 is not *wrong*, but it sets a fixed timeout of 1 second for connection handshake which is not enough

[2020-04-24 08:26] cristieu9797 commented on #679
@ishaansrm what was your error from? i am having the same issue and maybe it is something similar

[2020-04-24 11:49] ishaansrm commented on #679
Well, my mqtt was accidentally pointing to a staging broker, which was offline.

You might want to check the broker endpoint & then see if the broker is up & running & what data that's receiving.

[2020-04-25 12:27] rajeshnailwal commented on #634
@rdasgupt no I am not saying #759 will be resolved with this. This is a different issue. I am just trying to understand what is the impact of setting payload value null when a message is found in persistent storage and it has valid content. It is the constructor invocation that is passing null value. Shouldn't it pass a valid value which should be

`result = new MqttPersistentData(key, data, 0, da

[2020-04-25 12:47] rajeshnailwal commented on #759
This test case is stuck for 2 hours and do not complete -

20200425 180533.870 *************************************************************
20200425 180533.870 * ConnectionLossTest.testConnectionLossWhilePublishingQos1Async
20200425 180533.870 *************************************************************
20200425 180533.870 [CMPS Proxy] - Enabling Proxy
20200425 180533.870 [CMPS Proxy] - Waiting

[2020-04-27 06:50] cristieu9797 commented on #679
@ishaansrm do you have an example for this loop, "check the broker endpoint & then see if the broker is up & running & what data that's receiving"?

[2020-04-28 18:51] rdasgupt commented on #759
Are you trying to run tests with your changes in the repo?

[2020-04-29 04:28] rajeshnailwal commented on #759
No, this is a fresh checkout of repo. I did not get chance to look into the test case. I am using gitbash to produce a maven build on windows.

[2020-04-29 07:55] cristieu9797 commented on #679
My problem is that i have a broker that works all day, and at night it is getting closed. In the morning when it gets started, my android app tries to reconnect to it with success. But after this every keepAlive * 1.5 seconds the android app gets "lost connection" and reconnects to the broker after 1-2 seconds. I think this issue disappear after I interact with the android tablet.

`2020-04-29 09:

[2020-04-29 10:14] rdasgupt commented on #759
I will check on windows. Meanwhile if you need 1.2.4 library to try your application, you can use -DskipTests flag to bypass tests.

[2020-05-01 16:35] markroos commented on #754
We found that with 1.2.2 the tcpNoDelay state was changed from true to false. This caused our app (1k-10K msg / s dos = 1) to back up and generate lots of  memory usage for the un processed messages.  We patched the code and things went back to as it was in 1.2.1.  We guess that it may be due to the qos handshakes being delayed.

[2020-05-05 14:30] rdasgupt commented on #754
@markroos Thanks for finding the root cause of the problem. We will evaluate this and fix the code accordingly.

[2020-05-06 06:46] FrVaBe commented on #754
@markroos That is interesting but I observed the CPU usage increase when migrating from 1.2.0 to 1.2.1. Not sure if this here is the same issue that you were able to fix when migration code parts back to 1.2.1. Nevertheless thanks for your investigantion.

[2020-05-06 22:31] markroos commented on #754
Our transition went from 1.2.0 directly to 1.2.3 so I have no data on 1.2.1.  At the same time we went from qos=0 to qos=1 for most of our messages.  We ran into memory use issues similar to what you mention.  In addition to the mentioned client change we also had to modify the broker configuration ( mosquitto ) and moved client processing, especially message sends, off the paho client receive thr

[2020-05-07 09:43] anti43 opened #773 "Messages are duplicated if wildcard and non-wildcard path exists"
Please fill out the form below before submitting, thank you!

- [ x ] Bug exists Release Version 1.2.3 ( Master Branch)
- [ x ] Bug exists in MQTTv3 Client on Snapshot Version 1.2.4-SNAPSHOT (Develop Branch)
- [ x ] Bug exists in MQTTv5 Client on Snapshot Version 1.2.3-SNAPSHOT (Develop Branch)

 Consider these two  topics are registered via Paho on  a broker:

[code]

Broker receives messages for

[2020-05-13 04:58] bhavin2887 commented on #572
<artifactId>**org.eclipse.paho.client.mqttv3**</artifactId>
I have tried 1.2.0, 1.2.2 and 1.2.4 but still facing the "no NetworkModule installed for scheme"tcp"" issue.

One more thing, I am able to run the program and things are working fine. But when I am creating a  jar file(service) then its showing above error.

Can anyone help what can be done here.

[2020-05-14 16:26] xchen10bu commented on #9
Hi all, the code above
`sampleClient.setReconnect(true);  // Enable Automatic Reconnect`
the client does not have that method any more in 1.2.2, am I missing anything that could set auto reconnect to clients? Or we can just set the connectOptions? What's the difference between these two auto-reconnect? Thanks

[2020-05-19 14:17] powturns opened #774 "System.nanoTime() runs slow on Android"
Please fill out the form below before submitting, thank you!

- [x] Bug exists Release Version 1.2.4 ( Master Branch)
- [x] Bug exists in MQTTv3 Client on Snapshot Version 1.2.4-SNAPSHOT (Develop Branch)
- [x] Bug exists in MQTTv5 Client on Snapshot Version 1.2.3-SNAPSHOT (Develop Branch)

According to the [SystemClock Documentation](https://developer.android.com/reference/android/os/SystemClock.h

[2020-05-19 14:34] rdasgupt commented on #774
@51systems
Thanks for detailed analysis.

Any PR to resolve the issue is welcome. As long as your proposed solution doesn't make Java Client dependent on Android SDK to make the solution platform-dependent.

[2020-05-19 15:06] rdasgupt commented on #9
@xchen10bu
Refer to documentation setAutomaticReconnect() method in MqttConnectionOptions:
https://www.eclipse.org/paho/files/javadoc/org/eclipse/paho/client/mqttv3/MqttConnectOptions.html

[2020-05-20 13:36] yuval-lom commented on #734
Any comments on this issue? still having this issue (when connecting to ssl://::1:8883)

[2020-05-22 14:53] OOTTEE commented on #654
Hi,
I am using the MQTT java connector, when the client can't connect with the remote server i am retrying to connect each two senconds, the MqttClient create infinite threads in SLEEPING state, with the ThreadName *MQTT Con: <Cliente_id>* until get a connection and this threads never die.

I was try with diferents implementations with same result.

[code]
Thanks

[2020-05-22 16:44] rdasgupt commented on #654
@OOTTEE
Could you please specify the release you are working with?

[2020-05-22 16:50] OOTTEE commented on #654
@rdasgupt
Yes, in the release 1.2.1 to 1.2.4.
I saw, big changes in base code and how the threads are created in 1.2.1.
Thanks

[2020-05-26 11:01] gajicm93 opened #776 "Android ProGuard/R8 rules?"
Please fill out the form below before submitting, thank you!

- [x ] Bug exists Release Version 1.2.4 ( Master Branch)

Hi, first to be clear, I'm using this Java library directly in Android, I'm NOT using the "Android Service" library.

With that said, library breaks when I activate ProGuard/R8 on release builds, because some classes are missing and/or are renamed..

Around the internet I find so

[2020-05-27 04:29] MrDj200 opened #777 "How to disable lock folders being generated"
Hey there,
I'm not using the lock files and would like to disable them appearing in the first place.
I know what they are for, but I can't find how to disable them.

I found this https://github.com/eclipse/paho.mqtt.rust/issues/35 , but I couldn't find the things they were mentioning.

Could someone tell me how to that?

[2020-05-27 14:07] DavyHubrecht commented on #394
I have the same issue. I received this exception log without a clear cause. As this can't be caught outside of the library's code, I propose catching this internally.

[2020-05-29 00:19] nanobot248 opened #778 "Unable to connect / connection lost due to hardcoded socket timeout and readMqttWireMessage SocketTimeoutException"
- [x] Bug exists Release Version 1.2.4 ( Master Branch)

The bug exists in 1.2.4 (and most likely in older versions, at least 1.2.3). It could be due to a fix for [issue 719](https://github.com/eclipse/paho.mqtt.java/issues/719).

Sometimes, depending on timing of client and server, the client cannot connect. The reason appears to be that the `TCPNetworkModule` (line 75) sets a hardcoded SoTimeout

[2020-05-29 09:37] nanobot248 commented on #778
This might be the reason for the bug 719 side-effect that resulted in [issue 763](https://github.com/eclipse/paho.mqtt.java/issues/763)

[2020-05-30 17:17] EP-u-NW commented on #378
Any news on this?

[2020-06-01 11:36] Florimond opened #779 "How to implement a request-response pattern?"
Hi,

I'm considering using this MQTT library for the Java implementation of the SDK for [emitter.io](https://github.com/emitter-io/emitter).

In some instances, the client has to talk to the server and expects an specific answer to a specific request. Typically when doing a key generation, a specific handler should be attached to the key generation request, that handle only the response to that on

[2020-06-02 11:19] Vi-Nk opened #780 "Supplying bind address for socket creation in multi connection environment."
Hello ,

We are using Paho client V1.2.4 under multi connection environment where MQTT client connection shall be restricted to be used only with a specific INet adapter when multiple connections exists in the system.

With Paho Python , we have seen possibility of passing the bind address as per user choice for connection using api:
`connect(host, port=1883, keepalive=60, bind_address="")`

Are t

[2020-06-03 06:05] aloz77 commented on #572
I can confirm, that 1.2.4 still causes the exception in production builds. Should be reopened.

[2020-06-03 11:16] eliot4321 opened #781 "TLS1.3 support"
Hi,

does PAHO support TLS1.3? if not, is it expected to be supported any time soon?

Thanks in advance.

[2020-06-05 03:47] zengfr opened #784 "[new request] mqtt message add Variable header"
[new request] mqtt message add Variable header

class MqttMessage  only has some Fixed Header.  but not  has  Variable header .

[2020-06-05 03:55] #784 closed, assigned to nobody

[2020-06-06 09:16] kingflyok opened #785 "Timed out waiting for a response from the server"
I use IMqttAsyncClient, which throws an exception in the setCallback function

2020-06-06T07:39:07.217382883Z 2020-06-06 15:39:07.217 ERROR 1 --- [1f-9308a60f67bd] o.e.p.c.mqttv3.internal.ClientState      : 7e12cfaf-7734-40d3-ad1f-9308a60f67bd: Timed out as no activity, keepAlive=60,000,000,000 lastOutboundActivity=3,702,800,591,221,505 lastInboundActivity=3,702,740,659,674,271 time=3,702,860,591,

[2020-06-09 07:16] jamshidrostami commented on #572
Try to add these lines to your `proguard-rules.pro` file

[code]

[2020-06-09 07:22] v-zafari commented on #572
You save my life, thanks so much.

[2020-06-09 08:21] frittentheke commented on #709
@rdasgupt any updates on the release including MQTT 5?

[2020-06-09 08:58] YiuTerran commented on #576
Same issue.  After setting `keepAlive` to 0, the issue disappear too...

[2020-06-10 04:30] aloz77 commented on #572
Yes, lib 1.2.4 with those proguard rules seems to work :-)

[2020-06-11 11:13] YiuTerran commented on #576
In this solution, if broker disconnect, server can't auto-reconnect. So, now just use `cleanSession=true` or do reconnect by yourself

[2020-06-13 09:47] bertrik commented on #576
This has been haunting me for as a long as I'm trying to use this library, with no clear solution in sight. The built-in auto-reconnect simply does not work, might as well just remove it to avoid giving people the wrong impression.

[2020-06-14 12:27] bertrik commented on #576
I was wrong, sorry.

The problem I had was that my application was subscribed to a topic, then when a connection problem occurs (with a log as shown in the title) the client reconnects but messages are no longer coming in.

What I overlooked was that the *subscription* is not restored, even though the *connection* is. This wasn't obvious to me. I'm now relying on the built-in reconnect method of p

[2020-06-15 07:27] nickschriev commented on #576
Very nice find @bertrik! Small but crucial nuance that probably took quite some time.

Big thanks for sharing your analysis!

[2020-06-16 11:28] velganeshsubramanian opened #786 "Paho on compact Java profiles"
We would like to use Paho 1.2.4 in a IoT GW running Azul's JRE8 compact3 profile. We took the jar from maven central and found that the manifest has Java 7 as the required execution environment.

The error message when our OSGi containers starts is
[code]

We cloned, removed the entry from manifest, and rebuilt it to make it work on compact3 JRE. I am not sure if this change is a license violation

[2020-06-17 14:12] rdasgupt commented on #786
The Java version in the Manifest suggests that the client library is built and tested with Java 7. You can clone and rebuild with higher version of Java and use Paho MQTT client library.  However you will have to test the library in your environment. If you see any issue and have a fix, please submit a PR so that it can be evaluated and merged.

[2020-06-17 15:05] xranby opened #787 "MQTTv5 NPE at ClientState.send during MqttClient.publish to VerneMQ server"
- [*] Bug exists in MQTTv5 Client on Snapshot Version 1.2.3-SNAPSHOT (Develop Branch)

I am using the MQTTv5 Client connecting to a VerneMQ server.
Connecting work ok, subscribing to a topic work ok, however
I am hitting a NPE when i try to publish to a topic using the MQTTv5 client.

Similar code work fine using the v3 client.

Reproducer:
[code]

[code]

[2020-06-17 15:24] xranby commented on #715
I am able to connect to a VerneMQ server using the paho MQTTv5 client.

Please note that the VerneMQ server administrator need to enable the 5 protocol as only 3 and 4 are enabled by default.
`listener.tcp.allowed_protocol_versions = 3,4,5`

 https://vernemq.com/intro/mqtt-primer/mqtt5_getting_started.html

You can see my paho MQTTv5 example code that can connect and subscribe to a topic on a Vern

[2020-06-18 11:34] xranby commented on #787
triage: I have tested to reproduce this bug using the public available mqtt servers at https://test.mosquitto.org/

- I am unable to reproduce the bug using the mosquitto.org test servers when using tcp or ssl
- I am looking for more public mqtt servers to test on.
- I do not know of any public VerneMQ ssl test server.
- I do not know of any public MQTT ssl test server that work using  SSLContext.

[2020-06-19 04:12] rdasgupt commented on #787
I couldn't recreate the problem using your sample code:

tcp client connecting
tcp client MqttCallback connectComplete false tcp://test.mosquitto.org:1883
tcp client subscribing
tcp client publishing
tcp client MqttCallback messageArrived /acl {"units": [{ "id": "test_instrument", "type": "fhir" }, { "id": "Prov-id skrivare testUnit123 ", "type": "labeler" }, { "id": "connection_test", "type": "pi

[2020-06-19 05:03] lichenglin opened #789 "a special Packet size affects latency"
Please fill out the form below before submitting, thank you!

- [ ] Bug exists Release Version 1.2.3 ( Master Branch)

I'm doing a test on latency under fixed TPS
I use guava's ratelimiter to limit TPS, which is now 10000 / s.
The server uses mosquito
The consumer, production and mosquito are on the same server.
We count the delays from the production end to mosquito and then to the consumer end.

[2020-06-20 09:30] flowclouds opened #790 "When will mqttv5 be released ？"
Please fill out the form below before submitting, thank you!

- [ ] Bug exists Release Version 1.2.3 ( Master Branch)
- [ ] Bug exists in MQTTv3 Client on Snapshot Version 1.2.4-SNAPSHOT (Develop Branch)
- [ ] Bug exists in MQTTv5 Client on Snapshot Version 1.2.3-SNAPSHOT (Develop Branch)

I can't build the MQTTv5 -dev barnch ,also I can use the dependency 。

[2020-06-23 03:50] qiufujian opened #792 "Still receive messgae though mqtt broker has stopped"
- [ ] Bug exists Release Version 1.2.3 ( Master Branch)
- [ ] Bug exists in MQTTv3 Client on Snapshot Version 1.2.4-SNAPSHOT (Develop Branch)
- [ ] Bug exists in MQTTv5 Client on Snapshot Version 1.2.3-SNAPSHOT (Develop Branch)

I don't know which classification my problem belongs to, because I just use paho mqtt in springboot where I can integrate paho mqtt with Maven tools. But it is indeed paho

[2020-06-23 16:06] xranby commented on #787
@rdasgupt I have received clearance to share a VerneMQ server url with login username and password that are able to reproduce and troubleshoot this bug. The reproducers mentioned above has been updated to reproduce the bug using the following server and user credentials.
[code]

[2020-06-23 18:16] rdasgupt opened #793 "Updates for MQTTv5 client library release"
This issue is opened to add/update files for Paho java MQTTv5 client library release - version 1.2.5

The upcoming MQTTv5 release will be based on existing code in develop branch. Eventually this will be replaced with the code base in Vertx branch. Some APIs are modified/removed/deprecated in exiting develop branch so that there is no backward compatibility issues when vertx based MQTTv5 (release

[2020-06-24 13:30] rdasgupt commented on #787
@xranby
Thanks for providing access details. I could recreate the issue and have a fix.
We are planning to release Paho Java client library with MQTTv5 support by July 3, 2020. This release will include this fix as well as many other fixes that we have found in our testing.